<html>
	<head>
		<title>Schema</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="jquery.js"></script>
		<script src="mustache.js"></script>
		
		<link rel="stylesheet" type="text/css" href="bootstrap.css" />
	
		
		

		<script>
			
			var form_data = { data:[
													{"text":[	
																{"label":"Name","type":"string","pattern":"[A-Za-z]{4,50}","title":"Please enter your name"},
																{"label":"Mobile","type":"string","pattern":"[0-9]{10}","title":"10 digits only"},
																{"label":"Password","type":"password","pattern":".{6,8}","title":"6 to 8 Characters"}
															]
													},
													
													{"radio":[
																{"label":"Gender","type":"radio","name":"gender","enum": [{a:"Male"},{a:"Female"},{a:"Alien"}]}
															 ]
													},
													{"textarea":[
																	{"label":"College","value":"Not string"}
																]
													},
													
													{"dropdown":[
																		{"label":"State","type":"string", "enum": [{a:"TamilNadu"},{a:"Kerala"},{a:"Karnataka"},{a:"AndraPradesh"}]}
																   ]
													},
													
													{"checkbox":[
																		{"label":"Field of Interests","type":"checkbox", "enum": [{a:"Data Analytics"},{a:"Portal Development"},{a:"Testing"},{a:"Full-Stack Developer"}]}
																   ]
													},
													
													{"date":[
																{"label":"Date of birth","type":"date"}
															]
													},
													{"button":[
																{"type":"submit"}
															  ]
													}
									]					
						
						};
				
		</script>
		
		<style>
				table{
						padding: 10px; 
						width:90%;
						
				}
				
				tr,td{
						padding: 10px; 
						
				}
		</style>	
		
		
	</head>

	<body>
	
	
		
		
		<form class="container" id="form_area" >
		
		
		</form>
		
		<script id="template_content" type="text/template">
					
						{{#data}}
									<table>
										  {{#text}}
												<tr>
													<td width="20%" style=" font-family: sans-serif;">{{label}}</td>
													<td><input type="{{type}}" pattern="{{pattern}}" title="{{title}}" 
														 style="font-family: inherit;display: block;
																	  width: 100%;
																	  height: 34px;
																	  padding: 6px 12px;
																	  font-size: 14px;
																	  line-height: 1.42857143;
																	  color: #555;
																	  background-color: #fff;
																	  background-image: none;
																	  border: 1px solid #ccc;
																	  border-radius: 4px;">
													</td><br>
												</tr>
										 {{/text}}
										 {{#radio}}
												<tr>
													<td width="20%">{{label}}:</td>
													<td>{{#enum}}<input type="{{type}}" id="X" name="{{name}}">&nbsp;{{a}}&emsp;{{/enum}}</td><br>
												</tr>
										 {{/radio}}
										 {{#checkbox}}
												<tr>
													<td width="20%">{{label}}:</td>
													<td>{{#enum}}<input type="{{type}}" id="X" name="{{name}}">&nbsp;{{a}}&emsp;{{/enum}}</td><br>
												</tr>
										 {{/checkbox}}
										 {{#textarea}}
												<tr>
													<td width="20%">{{label}}</td>
													<td><textarea type="{{type}}" rows="10" style="font-family: inherit;display: block;
																	  width: 100%;
																	  height: 34px;
																	  padding: 6px 12px;
																	  font-size: 14px;
																	  line-height: 1.42857143;
																	  color: #555;
																	  background-color: #fff;
																	  background-image: none;
																	  border: 1px solid #ccc;
																	  border-radius: 4px;"></textarea></td><br>
												</tr>
										 {{/textarea}}
										 {{#button}}
												<tr>
													<br>
													<td width="50%">{{label}}</td>
													<td><input type="{{type}}"  maxLength="{{maxLength}}"></td><br>
												</tr>
										 {{/button}}
										
										 {{#dropdown}}
												<tr>
													<td width="20%">{{label}}:</td>
													<td><select type="{{type}}">{{#enum}}<option value="{{a}}" >{{a}}</option>{{/enum}}</select></td><br>
												</tr>
										 {{/dropdown}}
										 {{#date}}
												<tr>
													<td width="20%">{{label}}:</td>
													<td><input type="{{type}}"></td><br>
												</tr>
										 {{/date}}
									</table>
						{{/data}}
					
		</script>
		
		<script>
			
				var html = Mustache.to_html($('#template_content').html(),form_data);		
				
				$('#form_area').html(html);
		
		</script>
		
	</body>
</html>




