<html>
	<head>
		<title>Schema</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="jquery.js"></script>
		<script src="mustache.js"></script>
		
		
		
		

		<script>
			
			var form_data = { data:[
													{"is_text":1 ,"label":"Name","type":"string"},
													{"is_radio":1 ,"label":"Gender","type":"radio","name":"gender","enum": [{a:"Male"},{a:"Female"},{a:"Alien"}]},
													{"is_textarea":1 ,"label":"College","value":"Not string"},
													{"is_text":1 ,"label":"Mobile","type":"string","maxLength":10},
													{"is_dropdown":1 ,"label":"State","type":"string", "enum": [{a:"TamilNadu"},{a:"Kerala"},{a:"Karnataka"},{a:"AndraPradesh"}]},
													{"is_text":1 ,"label":"Password","type":"password","maxLength":10},
													{"is_date":1 ,"label":"Date of birth","type":"date"},
													{"is_button":1 ,"type":"submit"}
									]					
						
						};
				
		</script>
		
		
	</head>

	<body>
	
		<div id="form_area">
		
		</div>
		
		 <script id="template_content" type="text/template">
					
						{{#data}}
									<table>
									
										 {{#is_radio}}
												<tr>
													<td width="36%">{{label}}:</td>
													<td>{{#enum}}<input type={{type}} name={{name}}>{{a}}{{/enum}}</td>
												</tr>
										 {{/is_radio}}
										 {{#is_textarea}}
												<tr>
													<td width="40%">{{label}} </td>
													<td><textarea type={{type}}></textarea></td>
												</tr>
										 {{/is_textarea}}
										 {{#is_button}}
												<tr>
													<td width="40%">{{label}}</td>
													<td><input type={{type}}  maxLength={{maxLength}}></td>
												</tr>
										 {{/is_button}}
										 {{#is_text}}
												<tr>
													<td width="40%">{{label}}</td>
													<td><input type={{type}} maxLength={{maxLength}}></td>
												</tr>
										 {{/is_text}}
										 {{#is_dropdown}}
												<tr>
													<td width="50%">{{label}}:</td>
													<td><select type={{type}}>{{#enum}}<option value={{a}}>{{a}}</option>{{/enum}}</select></td>
												</tr>
										 {{/is_dropdown}}
										 {{#is_date}}
												<tr>
													<td width="43%">{{label}}:</td>
													<td><input type={{type}}></td>
												</tr>
										 {{/is_date}}
									</table>
						{{/data}}
					
		</script>
			
		<script>
		
		
				
				var html = Mustache.to_html($('#template_content').html(),form_data);		

				//var html = Mustache.to_html(temp,form_data);	
				
				$('#form_area').html(html);
		
		</script>
	</body>
</html>




