<TMPL_LOOP DATA_INFO>
    <?PHP

            $temp_config=[
                            "host"          =>  "<TMPL_VAR host>",
                            "db_name"       =>  "<TMPL_VAR db_name>",
                            "user"          =>  "<TMPL_VAR user>",
                            "pass"          =>  "<TMPL_VAR password>",
                            "db_engine"     =>  "rdsql_mysqli",

                            "domain_name"   =>  "localhost/fibenis/app/",
                            "lib_path"      =>  "../lib/",
                        
                            "is_smtp_mail"  =>  1,                            
                            "smpt_host"     =>  "webstarsdx.mail.pairserver.com",
                            "smpt_port"     =>  "465",
                            "smpt_secure"   =>  "ssl",
                            "smpt_mail"     =>  "step@icmseav.fibenis.org",
                            "smpt_pswrd"    =>  "AbCdinfo**",
                            
                            "to_admin"      =>  "ratbew@gmail.com",
                            "cc_mail"       =>  "",
                            "bcc_mail"      =>  "ratbew@gmail.com",
                            
                            "title"         =>  "PSG STEP - Programme Management System",
                            "theme"         =>  "ml",
                            "theme_path"    =>  "../theme",
                            "theme_blend"   => "base",
                            
                            "engine"        => 'eav',
                            
                            "is_open"       => 1,
                            "access_key"    => "fortknox",
                            
                            "is_multiple"   => 0,
                            "coach_path"    => "terminal/"
                        ];
    ?>
</TMPL_LOOP>