 <!--3503-->
	
	<dl>
		<dt></dt>
		<dd></dd>
		<br>
			
		<dt>Address</dt>
		<dd></dd>
		<br>
			
		<dt>Date of Birth</dt>
		<dd></dd>
		<br>
			
		<dt>Gender</dt>
		<dd></dd>
		<br>
			
		<dt>Applicant Category & Team Detail</dt>
		<!--<dd></dd>-->
		<br>
			
		<dt>Category of Applicant</dt>
		<dd></dd>
		<br>
			
		<dt>Number of Team Members</dt>
		<dd></dd>
		<br>
			
		<dt>Name,Design/Role,Number of Years,Email,Mobile</dt>
		<dd>		
		</dd>
		<br>
			
		<dt>Details of Primary Applicant</dt>
		<br>
		 
		<dt>Years of Experience</dt>
		<dd></dd>
		<br>
			
		<dt>Professional Detail</dt>
		<dd>		
		</dd>
		<br>
		
		<dt>IF Startup</dt>
		<dd></dd>
		<br>
			
		<dt>Name of Startup</dt>
		<dd></dd>
		<br>
		
		<dt>Date of In-corporation</dt>
		<dd></dd>	
		<br>
			
		<dt>Number of Directors</dt>
		<dd></dd>
		<br>
			
		<dt>Number of Employees</dt>
		<dd></dd>
		<br>
			
		<dt>Website</dt>
		<dd></dd>
		<br>
			
		<dt>Details of Innovation</dt>
		<br>
			
		<dt></dt>
		<dd></dd>
		<br>
		
		<dt>Problem Addressed</dt>
		<dd></dd>	
		<br>
			
		<dt>Alternative Solutions Available</dt>
		<dd></dd>	
		<br>
			
		<dt>Advantage of Proposed Solution</dt>
		<dd></dd>	
		<br>
			
		<dt>Novelty/Inventive/Differentiation</dt>
		<dd></dd>	
		<br>
		
		<dt>Reason for Support</dt>
		<dd></dd>	
		<br>
			
		<dt>Infrastructure/Special Requirement from PSG-CBMI</dt>
		<dd></dd>	
		<br>
		
		<dt>Any other detail which would help in evaluating your proposal</dt>
		<dd></dd>	
		<br>
			
		
		<dt>Advice or mentoring support from our clinician specialist</dt>
		<dd></dd>	
		<br>
			
		<dt>Does your study involve animals or cell lines etc.</dt>
		<dd></dd>	
		<br>
			
		<dt>Will you be collecting Human Data (clinical trial)</dt>
		<dd></dd>	
		<br>
			
		<dt>Project Stage</dt>
		<dd></dd>	
		<br>
			
		<dt>Budget</dt>
		<dd>		
		</dd>
		<br>
			
		<dt>Pay Detail</dt>
		<dd></dd>
		<br>
			
		
		
		
		
		
		
		
		
	</dl>
	
