<TMPL_LOOP DATA_INFO> <!--<TMPL_VAR KEY_ID>-->
	
	<dl>
		<dt><TMPL_VAR TITLE_LABEL></dt>
		<dd><TMPL_VAR TITLE></dd>
		<br>
			
		<dt>Address</dt>
		<dd><TMPL_VAR ADDRESS_FOR_COMM></dd>
		<br>
			
		<dt><TMPL_VAR DOB_TITLE></dt>
		<dd><TMPL_VAR DOB></dd>
		<br>
			
		<dt><TMPL_VAR GENDER_TITLE></dt>
		<dd><TMPL_VAR GENDER></dd>
		<br>
			
		<dt><TMPL_VAR APPLICANT_CATEGORY_TITLE></dt>
		<!--<dd><TMPL_VAR APPLICANT_CATEGORY></dd>-->
		<br>
			
		<dt><TMPL_VAR COA_TITLE></dt>
		<dd><TMPL_VAR COA></dd>
		<br>
			
		<dt><TMPL_VAR NUMBER_OF_TEAM_MEMBERS_TITLE></dt>
		<dd><TMPL_VAR NUMBER_OF_TEAM_MEMBERS></dd>
		<br>
			
		<dt><TMPL_VAR TEAM_DETAIL_TITLE></dt>
		<dd>		<TMPL_LOOP TEAM_DETAIL>
				<TMPL_VAR NAME> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR ROLE> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR NOY>	&nbsp;&nbsp;&nbsp;
				<TMPL_VAR EMAIL> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR MOBILE> &nbsp;&nbsp;&nbsp;
			</TMPL_LOOP>
		</dd>
		<br>
			
		<dt><TMPL_VAR DETAILS_OF_PRIMARY_APPLICANT_TITLE></dt>
		<br>
		 
		<dt><TMPL_VAR YEARS_OF_EXP_TITLE></dt>
		<dd><TMPL_VAR YEARS_OF_EXP></dd>
		<br>
			
		<dt><TMPL_VAR PROFESSIONAL_DETAIL_TITLE></dt>
		<dd>		<TMPL_LOOP PROFESSIONAL_DETAIL>
				<TMPL_VAR ORGA_NAME> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR DEP> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR ROLE>	&nbsp;&nbsp;&nbsp;
				<TMPL_VAR FROM> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR TO> &nbsp;&nbsp;&nbsp;
			</TMPL_LOOP>
		</dd>
		<br>
		
		<dt><TMPL_VAR IF_STARTUP_TITLE></dt>
		<dd><TMPL_VAR IF_STARTUP></dd>
		<br>
			
		<dt><TMPL_VAR NAME_OF_STARTUP_TITLE></dt>
		<dd><TMPL_VAR NAME_OF_STARTUP></dd>
		<br>
		
		<dt><TMPL_VAR DATE_OF_IN_CORPORATION_TITLE></dt>
		<dd><TMPL_VAR DATE_OF_IN_CORPORATION></dd>	
		<br>
			
		<dt><TMPL_VAR NUMBER_OF_DIRECTORS_TITLE></dt>
		<dd><TMPL_VAR NUMBER_OF_DIRECTORS></dd>
		<br>
			
		<dt><TMPL_VAR NUMBER_OF_EMPLOYEES_TITLE></dt>
		<dd><TMPL_VAR NUMBER_OF_EMPLOYEES></dd>
		<br>
			
		<dt><TMPL_VAR WEBSITE_TITLE></dt>
		<dd><TMPL_VAR WEBSITE></dd>
		<br>
			
		<dt><TMPL_VAR DETAILS_OF_INNOVATION_TITLE></dt>
		<br>
			
		<dt><TMPL_VAR TITLE_TITLE></dt>
		<dd><TMPL_VAR TITLE></dd>
		<br>
		
		<dt><TMPL_VAR PROBLEM_ADDRESSED_TITLE></dt>
		<dd><TMPL_VAR PROBLEM_ADDRESSED></dd>	
		<br>
			
		<dt><TMPL_VAR ASA_TITLE></dt>
		<dd><TMPL_VAR ASA></dd>	
		<br>
			
		<dt><TMPL_VAR APS_TITLE></dt>
		<dd><TMPL_VAR APS></dd>	
		<br>
			
		<dt><TMPL_VAR NID_TITLE></dt>
		<dd><TMPL_VAR NID></dd>	
		<br>
		
		<dt><TMPL_VAR RFS_TITLE></dt>
		<dd><TMPL_VAR RFS></dd>	
		<br>
			
		<dt><TMPL_VAR ISRFPC_TITLE></dt>
		<dd><TMPL_VAR ISRFPC></dd>	
		<br>
		
		<dt><TMPL_VAR AODWWHEYP_TITLE></dt>
		<dd><TMPL_VAR AODWWHEYP></dd>	
		<br>
			
		
		<dt><TMPL_VAR AOMSFOCS_TITLE></dt>
		<dd><TMPL_VAR AOMSFOCS></dd>	
		<br>
			
		<dt><TMPL_VAR DYSIAOCLE_TITLE></dt>
		<dd><TMPL_VAR DYSIAOCLE></dd>	
		<br>
			
		<dt><TMPL_VAR WYBCHD_TITLE></dt>
		<dd><TMPL_VAR WYBCHD></dd>	
		<br>
			
		<dt><TMPL_VAR SYPS_TITLE></dt>
		<dd><TMPL_VAR SYPS></dd>	
		<br>
			
		<dt><TMPL_VAR BUDGET_TITLE></dt>
		<dd>		<TMPL_LOOP BUDGET>
				<TMPL_VAR TOTAL> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR AMOUNT> &nbsp;&nbsp;&nbsp;
				
			</TMPL_LOOP>
		</dd>
		<br>
			
		<dt><TMPL_VAR PAY_DETAIL_TITLE></dt>
		<dd><TMPL_VAR PAY_DETAIL></dd>
		<br>
			
		
		
		
		
		
		
		
		
	</dl>
	
</TMPL_LOOP>