<TMPL_LOOP DATA_INFO> <!--<TMPL_VAR KEY_ID>-->


<!--1st Tab-->

<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR BASIC_APPLICATION_FORM></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR DOB_TITLE></td>
					<td class="detail"><TMPL_VAR DOB></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR GENDER_TITLE></td>
					<td class="detail"><TMPL_VAR GENDER></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR ADDRESS_FOR_COMM_TITLE></td>
					<td class="detail"><TMPL_VAR ADDRESS_FOR_COMM></td>								
				    </tr>
			    </tbody>
			    
</table>
<div>&nbsp;</div>
<div>&nbsp;</div>

<!--2nd Tab-->

<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR APPLICANT_CATEGORY_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR COA_TITLE></td>
					<td class="detail"><TMPL_VAR COA></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR NUMBER_OF_TEAM_MEMBERS_TITLE></td>
					<td class="detail"><TMPL_VAR NUMBER_OF_TEAM_MEMBERS></td>								
				    </tr>
				    
				    
			    </tbody>
			    
</table>

<h3 class="section-title"><TMPL_VAR TEAM_MEMBER_DETAIL_TITLE> </h3>

<table class="inner"  border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th class="inner_heading align_LM" width="25%">Name</th>
					<th class="inner_heading align_LM" width="15%">Role</th>
					<th class="inner_heading align_LM" width="15%">No Of Years</th>
					<th class="inner_heading align_LM" width="30%">Email</th>
					<th class="inner_heading align_LM" width="15%">Mobile</th>
				    </tr>
			    </thead>
			    
			 
			    <tbody>
				    <TMPL_LOOP TEAM_MEMBER_DETAIL>
					<TMPL_IF NAME>
						<tr class=<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>    >
						    <td class="align_LM" width="25%"><TMPL_VAR NAME></td>
						    <td class="align_LM" width="15%"><TMPL_VAR ROLE></td>
						    <td class="align_CM" width="15%"><TMPL_VAR NOY></td>
						    <td class="align_LM" width="30%"><TMPL_VAR EMAIL></td>
						    <td class="align_LM" width="15%"><TMPL_VAR MOBILE></td>
						</tr>
					</TMPL_IF>
				    </TMPL_LOOP>
			    </tbody>
			
</table>
<div>&nbsp;</div>

<!--3 rd Tab-->

<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR DETAILS_OF_PRIMARY_APPLICANT_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR YEARS_OF_EXP_TITLE></td>
					<td class="detail"><TMPL_VAR YEARS_OF_EXP></td>
				    </tr>    
			    	    
				    
			    </tbody>
			    
</table>
<h4><TMPL_VAR PROFESSIONAL_DETAIL_TITLE></h4>
<table class="inner"  border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th class="inner_heading align_LM" width="25%">Organization Name</th>
					<th class="inner_heading align_LM" width="25%">Department</th>
					<th class="inner_heading align_LM" width="20%">Designation/Role</th>
					<th class="inner_heading align_LM" width="15%">From</th>
					<th class="inner_heading align_LM" width="15%">To</th>
				    </tr>
			    </thead>
			    
			
			    <tbody>
				    <TMPL_LOOP PROFESSIONAL_DETAIL> 
				    <TMPL_IF ORGA_NAME>
				    <tr class=<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>>
					<td class="align_LM" width="25%"><TMPL_VAR ORGA_NAME></td>
					<td class="align_LM" width="25%"><TMPL_VAR DEP></td>
					<td class="align_LM" width="20%"><TMPL_VAR ROLE></td>
					<td class="align_LM" width="15%"><TMPL_VAR FROM></td>
					<td class="align_LM" width="15%"><TMPL_VAR TO></td>
				    </tr>
				    </TMPL_IF>
				    </TMPL_LOOP>
			    </tbody>
			
		</table>
 
 
<table class="basic" border="0" cellpadding="7px">
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR IF_STARTUP_TITLE></td>
					<td class="detail"><TMPL_VAR IF_STARTUP></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR LEGAL_STATUS_TITLE></td>
					<td class="detail"><TMPL_VAR LEGAL_STATUS><TMPL_IF LEGAL_STATUS><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				
				    <tr>
					<td class="label"><TMPL_VAR NAME_OF_STARTUP_TITLE></td>
					<td class="detail"><TMPL_VAR NAME_OF_STARTUP><TMPL_IF NAME_OF_STARTUP><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR DATE_OF_IN_CORPORATION_TITLE></td>
					<td class="detail"><TMPL_VAR DATE_OF_IN_CORPORATION><TMPL_IF DATE_OF_IN_CORPORATION><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR NUMBER_OF_DIRECTORS_TITLE></td>
					<td class="detail"><TMPL_VAR NUMBER_OF_DIRECTORS><TMPL_IF NUMBER_OF_DIRECTORS><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>			
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR NUMBER_OF_EMPLOYEES_TITLE></td>
					<td class="detail"><TMPL_VAR NUMBER_OF_EMPLOYEES><TMPL_IF NUMBER_OF_EMPLOYEES><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				
			    </tbody>
			    
</table>


 <!--4th Tab-->
 
<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR DETAILS_OF_INNOVATION_TITLE></th>
													
				    </tr>
			    </thead>
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR TITLE_TITLE></td>
					<td class="detail"><TMPL_VAR TITLE></td>
				    </tr>
				    
				
				    <tr>
					<td class="label"><TMPL_VAR PROBLEM_ADDRESSED_TITLE></td>
					<td class="detail"><TMPL_VAR PROBLEM_ADDRESSED></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR ASA_TITLE></td>
					<td class="detail"><TMPL_VAR ASA></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR APS_TITLE></td>
					<td class="detail"><TMPL_VAR APS></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR NID_TITLE></td>
					<td class="detail"><TMPL_VAR NID></td>								
				    </tr>
				    
			    </tbody>
			    
</table> 

<div>&nbsp;</div>
<!--5 Th Tab-->

<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR DETAILS_OF_INCU_OTHER_TITLE></th>
													
				    </tr>
			    </thead>
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR RFS_TITLE></td>
					<td class="detail"><TMPL_VAR RFS></td>
				    </tr>
				    
				
				    <tr>
					<td class="label"><TMPL_VAR ISRFPC_TITLE></td>
					<td class="detail"><TMPL_VAR ISRFPC></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR AODWWHEYP_TITLE></td>
					<td class="detail"><TMPL_VAR AODWWHEYP></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR AOMSFOCS_TITLE></td>
					<td class="detail"><TMPL_IF AOMSFOCS>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR DYSIAOCLE_TITLE></td>
					<td class="detail"><TMPL_IF DYSIAOCLE>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>								
				    </tr>
				    
				     <tr>
					<td class="label"><TMPL_VAR WYBCHD_TITLE></td>
					<td class="detail"><TMPL_IF WYBCHD>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>								
				    </tr>
				    
			    </tbody>
			    
</table> 

<!--6 th Tab--> <!--Project stage-->


<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR PROJECT_STAGE_TITLE></th>
													
				    </tr>
			    </thead>
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR SYPS_TITLE></td>
					<td class="detail"><TMPL_VAR SYPS></td>
				    </tr>
				    
				
				    <tr>
					<td class="label"><TMPL_VAR TRL_3_TITLE></td>
					<td class="detail"><TMPL_IF TRL_3><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_3>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR TRL_4_TITLE></td>
					<td class="detail"><TMPL_IF TRL_4><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_4>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR TRL_5_TITLE></td>
					<td class="detail"><TMPL_IF TRL_5><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_5>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR TRL_6_TITLE></td>
					<td class="detail"><TMPL_IF TRL_6><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_6>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				     <tr>
					<td class="label"><TMPL_VAR TRL_7_TITLE></td>
					<td class="detail"><TMPL_IF TRL_7><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_7>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				     
				     <tr>
					<td class="label"><TMPL_VAR TRL_8_TITLE></td>
					<td class="detail"><TMPL_IF TRL_8><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_8>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				     
				     <tr>
					<td class="label"><TMPL_VAR TRL_9_TITLE></td>
					<td class="detail"><TMPL_VAR TRL_9><TMPL_IF TRL_9><a href="<TMPL_VAR DOMAIN><TMPL_VAR TRL_9>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
			    </tbody>   
</table> 


<!--7 th tab-->

<h4 class=""><TMPL_VAR BUDGET_TITLE></h4>
		
		
		<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th class="inner_heading" width="60%">Total</th>
					<th class="inner_heading" width="40%">Amount (in Rs)</th>
				    </tr>
			    </thead>
			    
			 
			    <tbody>
				    <TMPL_LOOP BUDGET>
					<TMPL_IF TOTAL>
						<tr class=<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>>
						     
						    <td class="align_LM" width="60%"><TMPL_VAR TOTAL></td>
						    <td class="align_LM" width="40%"><TMPL_VAR AMOUNT></td>
					    
						</tr>
					</TMPL_IF>
				    </TMPL_LOOP>
			    </tbody>
			
		</table>
		
		<div>&nbsp;</div>
		<div>&nbsp;</div>
<table class="basic" border="0" cellpadding="7px">

			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR PAY_DETAIL_TITLE></td>
					<td class="detail"><TMPL_VAR PAY_DETAIL></td>
				    </tr>
				    
				
				    <tr>
					<td class="label"><TMPL_VAR PAY_TRANS_IMAGE_TITLE></td>
					<td class="detail"><TMPL_VAR PAY_TRANS_IMAGE><TMPL_IF PAY_TRANS_IMAGE><a href="<TMPL_VAR DOMAIN><TMPL_VAR PAY_TRANS_IMAGE>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>								
				    </tr>
				    
				    
			    </tbody>   
</table> 
 
</TMPL_LOOP>


<!--<style type="text/css">
	
	.view_app h1{ 
		text-transform:captalize;
	}
	
	.view_app h4{
		
		font-size : 15px;
		text-decoration:none !important;
	}
	
	.view_app dl dt{
			color	 : #9a9a9a;
			font-size: 14px;
			font-weight:100 !important;
	}
	
	.view_app dl dd{
			color	 : #454545;
			font-size: 14px;
	}
	
	.view_app table tr th,
	.view_app table tr td{
		font-size:14px;
	}
</style>-->

<style>
	.align_RM{
		text-align: right;
		vertical-align: middle;
	}
	
	
	.align_CM{
		text-align: center;
		vertical-align: middle;
	}
	
	.align_LM{
		text-align: left;
		vertical-align: left;
	}
	
	.no_wrap{
		white-space: nowrap !important;
	}
		
	table.basic{	
		border-top: none !important;		    
		
	}
	
	.GEMA_GEMA{
		
		display: block;
	}
	
	.GEMA_GEFM{
		
		display: none;
	}
	
	.GEMA_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GEFM_GEMA{
		
		display: none;
	}
	
	.GEFM_GEFM{
		
		display: block;
	}
	
	.GEFM_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GETR_GEMA{
		
		display: none;
	}
	
	.GETR_GEFM{
		
		display: none;
	}
	
	.GETR_GETR{
		
		display: block;
	}
	
	
	  
	/*basic table*/
	table.basic thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		white-space: nowrap;
		
	}
	
	table.basic tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
/*		line-height	: 1.5em;
*/		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:top;
		
	}
	
	table.basic tr td.label{
		color		:#818181;
	}
	
	table.basic tr td.detail{
		color		:#363636;
	}
	
	/* Inner Table*/
	 
	.inner_heading{
		background-color: #fcfcfc;
		color           : #727272;		
		font-size	: 9px;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;
		vertical-align	: middle;
		border-bottom   : 0.1em thin #ddd;
		white-space: nowrap;
		
	}
	
	table.inner tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		/*line-height	: 1.5em;*/
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 8px;		
		vertical-align	:middle;
		
	}
	
	table.inner tr td.label{
		color		:#818181;
	}
	
	table.inner tr td.detail{
		color		:#363636;
	}
	/*h3*/
	
	.section-title {
		/*background-color: #f1f1f1;*/
		border-bottom:1px solid #cacaca;		
		color           : #454545;
		display:inline-block;
		font-size	: 9px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;

		vertical-align	: middle;	
	}
	
	/* Yes and No */
	
	.yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
	
	
</style>
