<!---3939--->
       <section id="3942"  >
	       
	      <!-- Carousel -->
	      <div id="main-slide" class="carousel slide" data-ride="carousel">
       
	       <!-- Indicators -->
	      <ol class="carousel-indicators" id="carousel-indicators">
		 <!--<li data-target="#main-slide" data-slide-to="0" class="active"></li>-->
	      </ol>
	      
	      <div class="carousel-inner">
		      
			  
				  <div class="item active">
				       <img class="img-responsive" src="terminal/default/images/hb_3943_1.png" alt="slider">
				       <div class="slider-content">
					 <div class="col-md-12 text-center">
					  
						 <h1 class="animated1 white">PSG Nanochallenge 2018</h1>
					  
					  <div>&nbsp;</div><p class="animated4"><a href="JavaScript:modal_signup() " class="btn btn-success btn-large">Register</a></p>
					 </div>
				       </div>
				 </div>
	       
				 <script> G.$('carousel-indicators').innerHTML+='<li data-target="#main-slide" data-slide-to="'+(Number(1)-1)+'" class="active"></li>';</script>
		      
	       </div>
	       <!-- Carousel inner end-->
       
	       <!-- Controls -->
	       <a class="left carousel-control" href="#main-slide" data-slide="prev">
		 <span><i class="fa fa-angle-left"></i></span>
	       </a>
	       <a class="right carousel-control" href="#main-slide" data-slide="next">
		 <span><i class="fa fa-angle-right"></i></span>
	       </a>
		       
	      </div>
	      <!-- /carousel -->
		 
       </section>

		<section  class="marquee_area">
			<div class="container font-lusitana clr_gray_7">	  
				<div class="marquee col-md-12 font-ptsans" id="marquee" name="fn-marquee">
										
						<a href="JavaScript:modal_signup()"><i class="fa fa-play-circle" aria-hidden="true"></i> NIDHI-PRAYAS : Grant Support for Idea to Prototype - Registration open</a>			
										
						<a href="JavaScript:modal_signup()"><i class="fa fa-play-circle" aria-hidden="true"></i> NIDHI-EIR: Fellowship Support for Aspiring & Budding Entrepreneurs</a>			
					
				</div>	  
			</div>
		</section>

       
	      <script>
		     var hi_temp=String('logo').split(',');
		     
		     if (hi_temp[1]=='href') {			
			   G.$(hi_temp[0]).href='terminal/default/images/logo_1.png'; 
		     }else{		     
		           G.$('logo').src='terminal/default/images/logo_1.png';
		     }
		     
	      </script>
       
	      <script>
		     var hi_temp=String('').split(',');
		     
		     if (hi_temp[1]=='href') {			
			   G.$(hi_temp[0]).href='terminal/default/images/3958_1.png'; 
		     }else{		     
		           G.$('').src='terminal/default/images/3958_1.png';
		     }
		     
	      </script>
       
  
	<section id="3974" class="brdr_bottom">	    
	    <div class="col-md-12">&nbsp;</div>
		<div id="content">
		    <div class="container">
			<div class="row">
			   
	    
            
		<div class="col-md-5">
		    <h4 class="classic-title"><span>Reach Us</span></h4>
			 <div class="hr1" style="margin-bottom:10px;"></div>

		    
			<ul class="icons-list">
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr"><li><i class="fa fa-globe"></i></div>
			    <div class="col-md-11"><strong>Address:</strong></div>
			    </div>
			    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Organization</div>			    
			    </div>
			    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Residential Address Line 1</div>
			    </div>
		    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Residential Address Line 2</div>
			    </div>
			    
			    				   
				   <div class="col-md-12">&nbsp;</div>	       
				  
				   <div class="col-md-12">
					  <div class="col-md-1 pad_lr"><li><i class="fa fa-envelope-o"></i></div>
					  <div class="col-md-11"><strong>Email:</strong></div>
				   </div>
				    
				   <div class="col-md-12">
					  <div class="col-md-1 pad_lr">&nbsp;</div>
					  <div class="col-md-11">Email</div>
				   </div>			    
			    
			    
			    			   
				   <div class="col-md-12">&nbsp;</div>			   
			    
				   <div class="col-md-12">
				     <div class="col-md-1 pad_lr"><li><i class="fa fa-mobile fa-2x"></i></div>
				     <div class="col-md-11"><strong>Mobile:</strong></div>
				   </div>
				   
				   <div class="col-md-12">  
				     <div class="col-md-1 pad_lr">&nbsp;</div>
				     <div class="col-md-11">Mobile</div>
				   </div>
			    
			
			    			   
				   <div class="col-md-12">&nbsp;</div>			   
			    
				   <div class="col-md-12">
				     <div class="col-md-1 pad_lr"><li><i class="fa fa-phone fa-2x"></i></div>
				     <div class="col-md-11"><strong>Phone:</strong></div>
				   </div>
				     
				   <div class="col-md-12">
				      <div class="col-md-1 pad_lr">&nbsp;</div>
				      <div class="col-md-11">Landline</div>
				   </div>			       
			       
			     
			     <script>
				   G.$('menu_org_name').innerHTML='Organization';
				   G.$('menu_email').innerHTML='Email';
				   G.$('menu_phone').innerHTML='Landline';
				   G.$('menu_mobile').innerHTML='Mobile';
			    </script> 
			</ul>
		    
		    <div>&nbsp;</div>
		    <div>&nbsp;</div>
		</div>	    
	    
	    
	    <div class="col-md-1 ">&nbsp;</div>
	    
	     <div class="col-md-6 brdr_left">
				    <h4 class="classic-title"><span>Enquiry</span></h4>
				    <form id="enquiry_form" class="has-validation-callback">
					  <div class="form-group">				    
						 <label for="name">Name:</label>
						 <input type="name" class="form-control" id="a" placeholder="Enter name" name="a" data-validation="length" 
					                            data-validation-length="3-32"  >
					  </div>
					<!--  <div class="form-group">
					    <label for="email">Email:</label>
					    <input type="email" class="form-control" id="b" placeholder="Enter email" name="b" data-validation="email" >
					  </div>-->
					  <div class="form-group">
					    <label for="mobile">Mobile No./Contact Phone No.:</label>
					    <input type="text" class="form-control" id="b" placeholder="Enter Mobile No./Contact Phone No." name="b"
						            data-validation="length alphanumeric" data-validation-length="10-25">
					  </div>
					  <div class="form-group">
					  	 <label for="sel1">Enquiry On:</label>
						 <select class="form-control" id="c" data-validation="required"><option value="">Select</option>
							
						 </select>
					  </div>
				          <div class="form-group">
						 <label for="comment">Comment:</label>
						 <textarea class="form-control" rows="5" id="d" placeholder="Enter comment" maxlength="500" name="d"></textarea>
					  </div>
					  <button type="submit" class="btn-system btn-medium">Submit</button>
					  <button type="reset" class="btn-system  border-btn btn-small">Reset</button>
					  
				    </form>
			    </div>
	     
        </div>
		    </div>
		</div>
	</section>
    