table, th, td 
{
	border: solid 1px;
	border-collapse: collapse;
	padding: 2px 3px;
	text-align: center;
				
}
			
tr
{
	border: solid 2px;
				
}

th
{
	color:red;				
}

b
{
	color:orange;				
}			
div
{
	font-weight:bold;
}
			