<TMPL_LOOP DATA_INFO>
         <!--<TMPL_VAR DETAIL>-->
                  
                  Text: &nbsp; <TMPL_VAR TEXT>
                  <br>
                 <!--Voltage:<TMPL_VAR VOLTAGE>
                                    <br>-->
                  Text Area: &nbsp; <TMPL_VAR TEXT_AREA>
                  
</TMPL_LOOP>

