	
	fieldset{
		
		/*border		: none;	*/	
		display		: table;		
		width		: 100%;
		margin-top	: 25px;
	}
	
	
	fieldset .row{
		/*border-bottom: 1px solid #343434;*/
		display		:  table-column;
		font-family	: 'Roboto', sans-serif;
		font-size	: 13px;
		float		: left;
		margin-bottom	: 5px; 
		padding-bottom	: 6px;
		width		: 45% !important;
	}
	
	
	
	fieldset .label{	
		
		display		: block;
		float		: left;
		font-size	: 11px;	
		font-weight	: bold;
		height		: auto;
		margin-right	: 5px;
		padding-right	: 1%;
		padding-bottom	: 5px; 
		text-align	: right;
		
		width		: 50%;
	}
	
	
	fieldset .value{		
		display		: block;
		overflow	: auto;
		text-align	: left;		
		width		: 45%;			
		vertical-align	: top;
	}
	
	
	fieldset #X6_panel{
		width		: 100% !important;
	}
	
	
	fieldset #X6_panel .label{
		width: 30% !important;
	}
	
	fieldset #X6_panel .value{
		width: 60% !important;
	}
	
	