	
	fieldset{
		border		: none;		
		display		: table;		
		width		: 95%;
		margin-top	: 25px;
	}
	
	
	fieldset .row{		
		display		: block;
		font-family	: 'Roboto', sans-serif;
		font-size	: 13px;
		float		: left;
		margin-top	: 6px;
		margin-bottom	: 6px;
		width		: 100% !important;
	}
	
	fieldset .row_heading{
		background-color: #f5f5f5;
		color		: #454545;
		display		: table;		
		font-family	: 'Roboto', sans-serif;
		font-size	: 15px;
		font-weight	: bold; 
		width		: 100% !important;
		border-top	: 1px solid #e1e1e1;
		border-bottom	: 1px solid #e1e1e1;
		margin-top	: 15px; 		
		padding-top	: 10px; 
		padding-bottom	: 10px;
		text-indent	: 2%;	 
		
		/*border-top	: 1px solid #e1e1e1;
		border-bottom	: 1px solid #e1e1e1;
		color		: #454545;
		display		: block;
		font-family	: Tahoma;
		font-size	: 15px;
		/*margin-top	: 9px; 
		margin-bottom	: 9px;
		padding-top	: 7px; 
		padding-bottom	: 7px;
		text-align	: left;
		
		width		: 100% !important;*/
	}
	
	fieldset .label{		
		color		: #636363;
		display		: block;
		float		: left;
		font-size	: 12px;
		font-family	: Verdana;	
		height		: auto;
		padding-right	: 1%;		
		text-align	: left;
		width		: 100%;
	}
	
	fieldset .value input{
		border: 1px dotted #999999 !important;
		
	}
	
	fieldset .value{		
		display		: block;
		overflow	: auto;
		text-align	: left;		
		width		: 100%;			
		vertical-align	: top;
	}
	
	
	#X2_panel.row,
	#X3_panel.row{
		display		: inline-block !important;
		width		: 40% !important;			
	}
	
	#X5_panel.row,
	#X6_panel.row,
	#X7_panel.row,
	#X8_panel.row,
	#X9_panel.row,
	#X11_panel.row,
	#X12_panel.row,
	#X13_panel.row,
	#X14_panel.row,
	#X15_panel.row,
	#X17_panel.row,
	#X18_panel.row,
	#X19_panel.row,
	#X20_panel.row,
	#X21_panel.row,
	#X25_panel.row,
	#X26_panel.row,
	#X27_panel.row,
	#X28_panel.row,
	#X29_panel.row,	
	#X35_panel.row,
	#X36_panel.row{
		float		: left;
		margin-top	: 5px;
		width		: 30% !important;
	}
	
	.inline{
		display: inline-block !important;
	}