 <!--3550-->
	
	<dl>
		<dt></dt>
		<dd></dd>
		<br>
			
		<dt>Address</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>
		<br>
			
		<dt>Date of Birth</dt>
		<dd></dd>
		<br>
			
		<dt>Gender</dt>
		<dd>Male</dd>
		<br>
			
		<dt>Applicant Category & Team Detail</dt>
		<!--<dd></dd>-->
		<br>
			
		<dt>Category of Applicant</dt>
		<dd>Student</dd>
		<br>
			
		<dt>Number of Team Members</dt>
		<dd></dd>
		<br>
			
		<dt>Team Members Detail</dt>
		<dd>		
				Kumar &nbsp;&nbsp;&nbsp;
				Developer &nbsp;&nbsp;&nbsp;
				2	&nbsp;&nbsp;&nbsp;
				ganeshkumar@webstarscg.com &nbsp;&nbsp;&nbsp;
				9689687 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
		</dd>
		<br>
			
		<dt>Details of Primary Applicant</dt>
		<br>
		 
		<dt>Years of Experience</dt>
		<dd></dd>
		<br>
			
		<dt>Professional Detail</dt>
		<dd>		
				Webstars &nbsp;&nbsp;&nbsp;
				Developer &nbsp;&nbsp;&nbsp;
				Developer	&nbsp;&nbsp;&nbsp;
				2016-09-22 &nbsp;&nbsp;&nbsp;
				2018-09-22 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
			
		</dd>
		<br>
		
		<dt>If Startup</dt>
		<dd>Yes</dd>
		<br>
			
		<dt>Name of Startup</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>
		<br>
		
		<dt>Date of In-corporation</dt>
		<dd></dd>	
		<br>
			
		<dt>Number of Directors</dt>
		<dd>22</dd>
		<br>
			
		<dt>Number of Employees</dt>
		<dd>88</dd>
		<br>
			
		<dt>Website</dt>
		<dd></dd>
		<br>
			
		<dt>Details of Innovation</dt>
		<br>
			
		<dt></dt>
		<dd></dd>
		<br>
		
		<dt>Problem Addressed</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
			
		<dt>Alternative Solutions Available</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
			
		<dt>Advantage of Proposed Solution</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
			
		<dt>Novelty/Inventive/Differentiation</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
		
		<dt>Reason for Support</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
			
		<dt>Infrastructure/Special Requirement from PSG-CBMI</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
		
		<dt>Any other detail which would help in evaluating your proposal</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>	
		<br>
			
		
		<dt>Advice or mentoring support from our clinician specialist</dt>
		<dd></dd>	
		<br>
			
		<dt>Does your study involve animals or cell lines etc.</dt>
		<dd></dd>	
		<br>
			
		<dt>Will you be collecting Human Data (clinical trial)</dt>
		<dd></dd>	
		<br>
			
		<dt>Project Stage</dt>
		<dd>Commercialization (TRL - 9)</dd>	
		<br>
			
		<dt>Budget</dt>
		<dd>		
				Total  &nbsp;&nbsp;&nbsp;
				12,000.56 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
				 &nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;
				
			
		</dd>
		<br>
			
		<dt>Pay Detail</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>
		<br>
			
		
		
		
		
		
		
		
		
	</dl>
	
