<style>
    .yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
</style>

    
         <p><b>Lorem Ipsum</b>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  
                  <table class="table table-striped size key_value sub_heading">
			    <thead>
				    <tr>
					<th class="col-md-6">Feature</th>
					<th class="col-md-6">Detail</th>								
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				   
				    <tr>
					<td class="col-md-6">Text</td>
					<td class="col-md-6">Text</td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Text Area</td>
					<td class="col-md-6">Text Area</td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Text Area Editer</td>
					<td class="col-md-6"><p>Text Area Editer</p></td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Toogle Switch </td>
					<td class="col-md-6">
                                            
							<span class="no">No</span>
					    
                                        </td>								
				    </tr>
                                    
                                   <tr>
					<td class="col-md-6">Number</td>
					<td class="col-md-6"></td>								
				    </tr>
                                   
                                   <tr>
					<td class="col-md-6">Twin Box</td>
					<td class="col-md-6"></td>								
				    </tr>
                                    
                                    <!--<tr>
					<td class="col-md-6"></td>
					<td class="col-md-6"></td>								
				    </tr>-->
				   
				    
			    </tbody>
			    
			</table>


