<TMPL_LOOP DATA_INFO> 
	
	<!--<TMPL_VAR KEY_ID>-->
	<b>Detail</b><br>	
	<TMPL_VAR PARENT_ID><br>
	<br><br>	
	<b>Detail</b><br>	
	<TMPL_VAR DETAIL><br>
	
	
	
	<hr>
		
		<TMPL_LOOP DETAIL_INFO>
			<TMPL_IF A>
				<TMPL_VAR A>|<TMPL_VAR B>|<TMPL_VAR C><br>
			</TMPL_IF>
			
		</TMPL_LOOP>
			  
</table>
	
</TMPL_LOOP>