<TMPL_IF HOME_BANNER>
       <section {{SECTION_ID}}  >
	       
	      <!-- Carousel -->
	      <div id="main-slide" class="carousel slide" data-ride="carousel">
       
	       <!-- Indicators -->
	      <ol class="carousel-indicators" id="carousel-indicators">
		 <!--<li data-target="#main-slide" data-slide-to="0" class="active"></li>-->
	      </ol>
	      
	      <div class="carousel-inner">
		     <TMPL_LOOP HOME_BANNER> 
			  
				  <div class="item <TMPL_IF __first__>active</TMPL_IF>">
				       <img class="img-responsive" src="<TMPL_VAR img_src>" alt="slider">
				       <div class="slider-content">
					 <div class="col-md-12 text-center">
					  <TMPL_LOOP HEADING>
						 <h<TMPL_VAR __counter__> class="animated<TMPL_VAR __counter__> white"><TMPL_VAR TITLE></h<TMPL_VAR __counter__>>
					  </TMPL_LOOP>
					  <TMPL_IF URL><p class="animated4"><a href="<TMPL_VAR url>" class="slider btn btn-system btn-large"><TMPL_VAR btn_title></a></p></TMPL_IF>
					 </div>
				       </div>
				 </div>
	       
				 <script> G.$('carousel-indicators').innerHTML+='<li data-target="#main-slide" data-slide-to="'+(Number(<TMPL_VAR __counter__>)-1)+'" <TMPL_IF __first__>class="active"</TMPL_IF>></li>';</script>
		      </TMPL_LOOP>
	       </div>
	       <!-- Carousel inner end-->
       
	       <!-- Controls -->
	       <a class="left carousel-control" href="#main-slide" data-slide="prev">
		 <span><i class="fa fa-angle-left"></i></span>
	       </a>
	       <a class="right carousel-control" href="#main-slide" data-slide="next">
		 <span><i class="fa fa-angle-right"></i></span>
	       </a>
		       
	      </div>
	      <!-- /carousel -->
		 
       </section>
</TMPL_IF>