<TMPL_IF COUNTER>
	  <section  {{SECTION_ID}} class="brdr_bottom">
		    
		    <!--<div class="col-md-12 mar_tb_10">&nbsp;</div>-->
		    
		    <TMPL_IF COUNTER_HEADING> 
			      <TMPL_LOOP COUNTER_HEADING>
					<TMPL_IF HEADING>
						  <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
							    <TMPL_IF HEADING><div>&nbsp;</div><div>&nbsp;</div><h1><TMPL_VAR HEADING></h1></TMPL_IF>
							    <TMPL_IF SUB_HEADING><p class="title-desc"><TMPL_VAR SUB_HEADING></p></TMPL_IF>
							    <!---<TMPL_VAR BG_IMAGE>--->
							
						  </div>
					</TMPL_IF>
			      </TMPL_LOOP>
		    </TMPL_IF>
	
		    <!--<div class="col-md-12 mar_tb_10">&nbsp;</div>  -->

	  
	  <div id="parallax-one" data-stellar-background-ratio="0.5" class="parallax brdr_bottom"
	     <TMPL_LOOP COUNTER_HEADING>
		
			       data-hide="<TMPL_VAR HEADING><TMPL_VAR SUB_HEADING>"
			       <TMPL_IF BG_IMAGE>style="background-image:url('<TMPL_VAR BG_IMAGE>');"</TMPL_IF>
	     </TMPL_LOOP>
	        >   
	      <div class="parallax-text-container-1">
		    <div class="parallax-text-item">       
			   <div class="container">  
				  <div class="row">
					
					<div class="col-md-12 mar_tb_10">&nbsp;</div>
					<div class="col-md-12 mar_tb_10">&nbsp;</div>
					
				 
					<TMPL_LOOP COUNTER>
						 <div class="col-xs-12 col-sm-3 col-md-3">
						       <div class="counter-item">
							     <i class="fa <TMPL_VAR FA-ICON> icon-large"></i>
							     <div class="timer" id="item1" data-to="<TMPL_VAR COUNT>" data-speed="5000" ></div>
							     <h5><TMPL_VAR TITLE></h5>
						       </div>
						 </div>
				       </TMPL_LOOP>
				 
				  <div class="col-md-12 mar_tb_10">&nbsp;</div>
				  <div class="col-md-12 mar_tb_10">&nbsp;</div>
				  
				</div> 
			  </div> 
		    </div>
	      </div>	
	  </div>
      </section>
	  
	
</TMPL_IF>