      <footer>	  
	  <div class="container">
	    <div class="row footer-widgets">    	
	      
	      <div class="copyright-section">	      
		
		<div class="row">		
		  
		  <div class="col-md-9">
		    <p>&copy; <TMPL_VAR CURRENT_YEAR>, Webstars</p>
		    <TMPL_LOOP FOOTER_INFO>
			<span class="clr_gray_9"><TMPL_VAR TITLE></span>
		    </TMPL_LOOP>
		  </div>		  
		  
		  <div class="col-md-3">
		    <ul class="footer-nav">
		      <li></li>		  
		    </ul>
		  </div>	
		</div>	  
	      </div>
	    </div>
	  </div>	  
      </footer>
