<TMPL_IF home_tab_title>
	   <section {{SECTION_ID}} class="brdr_bottom">
		      <div class="container">
				 
				 <TMPL_IF TAB_HEADING>
					    <TMPL_LOOP TAB_HEADING>
						       <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
								  <TMPL_IF HEADING><div>&nbsp;</div><div>&nbsp;</div><h1><TMPL_VAR HEADING></h1></TMPL_IF>
								  <TMPL_IF SUB_HEADING><p class="title-desc"><TMPL_VAR SUB_HEADING></p></TMPL_IF>
						       </div>
					    </TMPL_LOOP>
				 </TMPL_IF>
				 
				 <ul class="nav nav-tabs" role="tablist">
					    <TMPL_LOOP home_tab_title>
						       <li role="presentation" class="<TMPL_IF __first__>active</TMPL_IF>" aria-expanded="true" >
								  <a href="#tab_<TMPL_VAR __COUNTER__>" aria-controls="tab_<TMPL_VAR __COUNTER__>" role="tab" data-toggle="tab">
								     <TMPL_VAR TAB_TITLE>
								  </a>
						       </li>
					    </TMPL_LOOP>
				 </ul>
				 
				 <div class="tab-content">
					    <TMPL_LOOP home_tab_content>
						       <div role="tabpanel" class="tab-pane <TMPL_IF __first__>active</TMPL_IF>" id="tab_<TMPL_VAR __COUNTER__>">					
								  <div class="row col-md-12">				
									     <p><TMPL_VAR TAB_CONTENT></p>
									     <div>&nbsp;</div>
								  </div>
						       </div>
					   </TMPL_LOOP>
				 </div>
		      </div>
	   </section>
</TMPL_IF>