html, body {
    background-color : #fff;
    color : rgb(7, 5, 5);
    text-align : center;
    font-family : Arial, sans-serif;
}

table {
    border : 1px solid #000;
    border-collapse : collapse;
    margin : auto;
    font-size : 85%;
}

td, thead {
    text-align : center;
    border : 1px solid #000;
    text-decoration-color: #000; 
    padding : 2px;
}
head {
    font-weight : bold;
    color: #000;
}
tr {
    background-color : #eee;
}
tr.even {
    background-color : #FEF5E2;
    color : #000;
}
tr.odd {
    background-color : #E3F1FD;
    color : #000;
}