
			.container{
			
				border		: 1px solid ;                             
				float		: left;
				margin-top	: 30px;
				margin-right: 50px;
				margin-left	: 10px;
				width		: 215px;				
			}
			
			.image{		
			
				float		: left;
				font-size	: 18px;				 
				padding-top	: 7px;
				padding-left	: 7px;
				padding-right	: 7px;
				padding-bottom	: 7px;
				text-align	: center; 
				width		: 200px;
			}
			
			.container .label{				
			
				float		: left;
				width		: 100%;
				float		: left;
				font-size	: 20px;
				padding-top	: 4px;
				padding-bottom	: 4px;				
				color		: red; 
				text-indent	: 8px;
				width		: 50%; 		
			}
			