
   
		<form name="gate_way" method="post"    action=""
	              onSubmit="JavaScript:textTest(document.getElementById('uname'),document.getElementById('upass'));return check();"
	        >
		<table  width="360px"  height="225px" border="0" align="center" cellpadding="0" cellspacing="0" class="basic"   valign="middle" >


		<thead>		    
			<th  class="align_LM pad_10 txt_size_12"><TMPL_VAR LOG_PANNEL_NAME></th>			
		</thead>	
	
		<tr class="row_even">

		
		    <td width="65%"  >
			
			
				
				  <div class="row align_CM box_line_b pad_10 ">
					<TMPL_VAR PANNEL_LOGO>
				  </div>
				
			
				<fieldset class="plain">
					    <div class="row">
					       <span class="label"><TMPL_VAR LOGIN_PANEL_USER_LABEL></span>
					       <span class=value>
									<input  id	= "uname"
										name	= "uname"  
										title   = "User Name"
										autocomplete="off"
										type	= "text"
										class   = "txt_size_14 w_150"
										
									>
								    
									
					       </span>
					    </div>
					    
					    <div class="row">
						    <span class="label">Password</span>
						    <span class=value>
									<input
										id	= "upass"
										name	= "upass"  
										title   = "Password"
										autocomplete="off"										
										type	= "password"
										class   = "txt_size_14 w_150"
									>
								    
									
						    </span>
					    </div>
					    
					       <div class="row"><br>
						    <span class="label"></span>
						    <span class=value><input type="submit" id="get_in" name="get_in"   class="button"  value=" Get In" >
						    </span>
					    </div>
				    
				</fieldset>
				<br>
				<br>
					
				<input type="hidden" id="IS_PASS"  name="IS_PASS" value="<TMPL_VAR IS_PASS>">
				   
				<input type="hidden" id="session"  name="session" value="<TMPL_VAR CNAME>">
				
				<input type="hidden" id="internal" name="internal" value="<TMPL_VAR is_internal>">
	
				<input type="hidden" id="PASS_ID"  name="PASS_ID" value="<TMPL_VAR PASS_ID>">
					
			</td>

			</tr>
			
			
		
	     
			</form>
		