<style>
	.align_RM{
		text-align: right;
		vertical-align: middle;
	}
	
	
	.align_CM{
		text-align: center;
		vertical-align: middle;
	}
	
	.align_LM{
		text-align: left;
		vertical-align: left;
	}
	
	.no_wrap{
		white-space: nowrap !important;
	}
		
	table.basic{	
		border-top: none !important;		    
		
	}
	
	.GEMA_GEMA{
		
		display: block;
	}
	
	.GEMA_GEFM{
		
		display: none;
	}
	
	.GEMA_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GEFM_GEMA{
		
		display: none;
	}
	
	.GEFM_GEFM{
		
		display: block;
	}
	
	.GEFM_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GETR_GEMA{
		
		display: none;
	}
	
	.GETR_GEFM{
		
		display: none;
	}
	
	.GETR_GETR{
		
		display: block;
	}
	
	
	  
	/*basic table*/
	table.basic thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		white-space: nowrap;
		
	}
	
	table.basic tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		line-height	: 1.5em;
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:top;
		
	}
	
	table.basic tr td.label{
		color		:#818181;
	}
	
	table.basic tr td.detail{
		color		:#363636;
	}
	
	/* Inner Table*/
	 
	.inner_heading{
		background-color: #fcfcfc;
		color           : #727272;		
		font-size	: 9px;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;
		vertical-align	: middle;
		border-bottom   : 0.1em thin #ddd;
		white-space: nowrap;
		
	}
	
	table.inner tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		line-height	: 1.5em;
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:middle;
		
	}
	
	table.inner tr td.label{
		color		:#818181;
	}
	
	table.inner tr td.detail{
		color		:#363636;
	}
	/*h3*/
	
	.section-title {
		/*background-color: #f1f1f1;*/
		border-bottom:1px solid #cacaca;		
		color           : #454545;
		display:inline-block;
		font-size	: 9px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;

		vertical-align	: middle;	
	}
	
	/* Yes and No */
	
	.yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
	
	
</style>

 <!--2795-->
	
	<!--<dl>-->
		<!--<dt><u>Basic Application Form</u></dt>
		<dd>&nbsp;</dd>
		
		<dt>Name of the Applicant</dt>
		<dd>C Ganesh Kumar</dd>
		<br>
			
		<dt>Photograph</dt>
		<dd><img src="images/payment/2795.png"></dd>
		<br>
			
		<dt>Full Postal Address</dt>
		<dd>peelamedu, coimbatore - 641004</dd>
		<br>
		
		<dt>Email Address</dt>
		<dd>ganeshkumar@webstarscg.com</dd>
		<br>
			
		<dt>Mobile Number</dt>
		<dd>8870852297</dd>
		<br>
			
		<dt>Age</dt>
		<dd>24</dd>
		<br>
			
		<dt>Gender</dt>
		<dd>Male</dd>
		<br>
			
		
		<dt>Aadhar No</dt>
		<dd>887576764650</dd>
		<br>-->
		<!--<table>
			    <thead>
				    <tr>
					<th colspan="2" class="heading"></th>
													
				    </tr>
			    </thead>
			    <tbody>
				<tr>
					<td><img width="100px" src=""></td>
				</tr>
			<tbody>
				
		</table>-->		
			    
		
	<table class="basic" border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" >Basic Application Form</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Name of the Applicant</td>
					<td class="detail">C Ganesh Kumar</td>
				    </tr>
				    
                                    <tr>
					<td class="label">Photograph</td>
					<td class="detail"><img width="100px" src="images/payment/2795.png"></td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Full Postal Address</td>
					<td class="detail">peelamedu, coimbatore - 641004</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Email Address</td>
					<td class="detail">ganeshkumar@webstarscg.com</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Mobile Number</td>
					<td class="detail">8870852297</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Age</td>
					<td class="detail">24</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Gender</td>
					<td class="detail">Male</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Aadhar No</td>
					<td class="detail">887576764650</td>
				    </tr>
				    <div>&nbsp;</div>

			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	
		<hr>
			
		<!--<dt><u>About The Applicant</u></dt>
		<dd>&nbsp;</dd>
		
		<dt>Basic Undergraduate Training / Education</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>
		<br>
			
		<dt>Any experiences relating to entrepreneurship, leadership, fund raising, organizing activities / events etc</dt>
		<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</dd>
		<br>
			
		<dt>Attach CV / Resume with details of education and work experience</dt>
		<dd>images/entity_child/2795.pdf</dd>
		<br>
		<hr>-->
			
		<table class="basic" border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">About The Applicant</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Basic Undergraduate Training / Education</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Any experiences relating to entrepreneurship, leadership, fund raising, organizing activities / events etc</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Attach CV / Resume with details of education and work experience</td>
					<td class="detail"><a href="images/entity_child/2795.pdf" target="_blank">Click To View Document</a></td>
				    </tr>
			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	
	<hr>	
		<!--<dt><u>About The Application's Technology / Business Idea</u></dt>
		<dd>&nbsp;</dd>
		
		
		<dt></dt>
		<dd></dd>
		<br>
			
		<dt>Please attach a concept note of the Technology / Business Idea y</dt>
		<dd>images/entity_child/2795.pdf</dd>
		<br>
			
		<dt>Please attach a note describing the knowledge or technology inte</dt>
		<dd>images/entity_child/2795.pdf</dd>
		<br>
			
			
		<dt>Technology Business Ideas with larger technology uncertainties and / or long gestation periods</dt>
		<dd>1</dd>
		<br>
			
			
		<dt>Technology Business Ideas leveraging technology or IP from publicly funded research or academic organizations </dt>
		<dd>0</dd>
		<br>
			
		<dt> Technology Business Ideas with considerable social impact</dt>
		<dd>1</dd>
		<br>-->
		
			<table class="basic" border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">About The Application's Technology / Business Idea</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"></td>
					<td class="detail"></td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Please attach a concept note of the Technology / Business Idea y</td>
					<td class="detail"><a href="images/entity_child/2795.pdf" target="_blank">Click To View Document</a></td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Please attach a note describing the knowledge or technology inte</td>
					<td class="detail"><a href="images/entity_child/2795.pdf" target="_blank">Click To View Document</a></td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Technology Business Ideas with larger technology uncertainties and / or long gestation periods</td>
					<td class="detail">
							
							<span class="yes">Yes</span>
							
					</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Technology Business Ideas leveraging technology or IP from publicly funded research or academic organizations </td>
					<td class="detail">
							<span class="no">No</span>
							
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"> Technology Business Ideas with considerable social impact</td>
					<td class="detail">
						
							<span class="yes">Yes</span>
							
						</td>
				    </tr>
			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	
		<hr>
			
		<!--<dt><u>Checklist for Essential Criteria</u></dt>
		<dd>&nbsp;</dd>
		<br>
			
		<dt>Applicant confirms that he/ she has not been the recipient of the NIDHI-EIR previously. NIDHI-EIR can be used only once.</dt>
		<dd>1</dd>
		<br>
			
		<dt>Applicant is planning to pursue NIDHI-EIR full time with no other concurrent committments</dt>
		<dd>0</dd>
		<br>
			
		<dt>Applicant confirms that he/she will not be in receipt of any other remuneration or fellowship during the duration of NIDHI-EIR</dt>
		<dd>1</dd>
		<br>
			
		<dt> Applicant confirms that he/she is fully committed to exploring a business idea. NIDHI-EIR support recipient should not treat this support as a stop gap arrangement to support them in their academic pursuits or transition between jobs </dt>
		<dd>0</dd>
		<br>
			
		<dt> Applicant confirms that he/she is not the promoter or significant (>10%) shareholder / beneficiary of another company at the time of applying for and receiving the NIDHI-EIR support</dt>
		<dd>1</dd>
		<br>
			
		<dt>The NIDHI-EIR has or is planning to register for the pre-incubation or incubation program at PEPI for the entire duration of NIDHI-EIR support</dt>
		<dd>0</dd>
		<br>
-->
<table class="basic" border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">Checklist for Essential Criteria</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Applicant confirms that he/ she has not been the recipient of the NIDHI-EIR previously. NIDHI-EIR can be used only once.</td>
					<td class="detail">
						
							<span class="yes">Yes</span>
							
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Applicant is planning to pursue NIDHI-EIR full time with no other concurrent committments</td>
					<td class="detail">
						
							<span class="no">No</span>
							
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Applicant confirms that he/she will not be in receipt of any other remuneration or fellowship during the duration of NIDHI-EIR</td>
					<td class="detail">
						
							<span class="yes">Yes</span>
							
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"> Applicant confirms that he/she is fully committed to exploring a business idea. NIDHI-EIR support recipient should not treat this support as a stop gap arrangement to support them in their academic pursuits or transition between jobs </td>
					<td class="detail">
						
							<span class="no">No</span>
							
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"> Applicant confirms that he/she is not the promoter or significant (>10%) shareholder / beneficiary of another company at the time of applying for and receiving the NIDHI-EIR support</td>
					<td class="detail">
							<span class="yes">Yes</span>
							
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">The NIDHI-EIR has or is planning to register for the pre-incubation or incubation program at PEPI for the entire duration of NIDHI-EIR support</td>
					<td class="detail">
							<span class="no">No</span>
							
						</td>
				    </tr>
                            </tbody>
			    
			</table>
	<div>&nbsp;</div>
<hr>
		
		<!--<dt><u>Undertaking and Signatures</u></dt>
		<dd>&nbsp;</dd>
		<br>
			
		<dt>Place</dt>
		<dd>Coimbatore</dd>
		<br>
			
		<dt>Date</dt>
		<dd>17-Aug-18</dd>
		<br>
		
		<dt>Signature</dt>
		<dd><img src="images/payment/2795.png"></dd>
		<br>-->
		
		<table class="basic" border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">Undertaking and Signatures</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>
				   <tr>
					<td class="label" colspan="3">
					 I confirm that the above mentioned information is true.<br>
					 I confirm that I have read and understood the guidelines. <br>
					 I confirm that I meet requirements of the programme and shall abide by the rules of the programme. <br>
					 I confirm that I shall provide all requested data and information to the PEP and PIP in a timely manner. <br>
					 I commit to keeping the PEP promptly informed about all key business related developments including incorporation of company, success in raising grant/equity/other funding etc. </td>
					<td class="detail">&nbsp;</td>
				    </tr>
				 <br>
				     <tr>
					<td class="label">Confirmation Letter for Pre-incubation Support </td>
					<td class="detail"><a href="images/entity_child/2795.pdf" target="_blank">Click To View Document</a></td>
				    </tr>
					
				    <tr>
					<td class="label">Place</td>
					<td class="detail">Coimbatore</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Date</td>
					<td class="detail">17-Aug-18</td>
				    </tr>
                                    
                                    <tr>
					<td class="label">Signature</td>
					<td class="detail"><img width="100px" src="images/payment/2795.png"></td>
				    </tr>
                            </tbody>
			    
			</table>
	<div>&nbsp;</div>
			
	<!--</dl>-->
	
