<!---<TMPL_VAR PAGE_ID>
      <TMPL_VAR PAGE_TITLE>
      <TMPL_VAR PARENT_KEY_CODE>
      <TMPL_VAR PARENT_NAME>
      <TMPL_VAR PARENT_RIGHT_IMAGE>
      <TMPL_VAR PARENT_HEADER_IMAGE>
      <TMPL_VAR PAGE_HEADER_IMAGE>
      <TMPL_VAR PAGE_RIGHT_IMAGE>
      <TMPL_VAR SIDE_MENU>      
      <TMPL_VAR MENU_NAME>
      <TMPL_VAR CODE>
--->
    	    			    
    <TMPL_VAR PAGE_INFO>			    