<style>
		
	table.basic{	
		border-top	: none !important;		    
		
	}
	  
	/*basic table*/
	table.basic thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		
	}
	
	table.basic tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		line-height	: 1.5em;
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:middle;
		
	}
	
	table.basic tr td.label{
		color		:#818181;
	}
	
	table.basic tr td.detail{
		color		:#363636;
	}
	
	/* Inner Table*/
	 
	table.inner thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		border-bottom   : 0.1em thin #ddd;
		
	}
	
	table.inner tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		line-height	: 1.5em;
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:middle;
		
	}
	
	table.inner tr td.label{
		color		:#818181;
	}
	
	table.inner tr td.detail{
		color		:#363636;
	}
	/*h3*/
	
	.section-title {
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;	
	}
	
	/* Yes and No */
	
	.yes{
		color: green;
	}
	
	.no{
		color: red;
	}
	
	
</style>
 
	
	<!---->
		
	<table class="basic" border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" >Application Details</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Name of the Applicant</td>
					<td class="detail">Lorem Ipsum is simply dum</td>
					
					
				    </tr>
				    
				    <tr>
					<td class="label">Photograph of the Applicant</td>
					<td class="detail"><img width="100px" src="images/payment/2556.png"></td>								
				    </tr>
				    
				    <tr>
					<td class="label">Father's Name / Husband's Name</td>
					<td class="detail">Lorem Ipsum is simply dummy te</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Date of Birth</td>
					<td class="detail">18-Mar-94</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Email</td>
					<td class="detail">ganeshkumar@webstarscg.com</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Mobile Number</td>
					<td class="detail">8870852297</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Landline Number</td>
					<td class="detail">456486458646</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Gender</td>
					<td class="detail">Male</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Education Qualification</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </td>								
				    </tr>
				    
				    <tr>
					<td class="label">Category</td>
					<td class="detail">General</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Postal Address</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop p</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Permanent Address</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop p</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Please enclose proof of residence</td>
					<td class="detail"><img width="100px" src="images/payment/2556.jpg"></td>								
				    </tr>
				    				    
				    <tr>
					<td class="label">Profession of the Applicant</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy te</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Name & Address of the Institution or Organization</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop p</td>								
				    </tr>
				    
				    <tr>
					<td class="label">Upload the copy of the NOC</td>
					<td class="detail"><img width="100px" src="images/payment/2556.jpg"></td>								
				    </tr>
				    
				    <tr>
					<td class="label">Annual Income of the Applicant</td>
					<td class="detail">13.2 </td>								
				    </tr>
				    
				    <tr>
					<td class="label">Attach a copy of the latest Income Tax Returns filed</td>
					<td class="detail"><a href="images/entity_child/2556.pdf" target="_blank">Click To View Document</a></td>								
				    </tr>
				    
				    <tr>
					<td class="label">PAN Card No.</td>
					<td class="detail">GDHYKU8858HU</td>								
				    </tr>				    

				    <tr>
					<td class="label">Aadhar No</td>
					<td class="detail">888587678646</td>								
				    </tr>
    
			    </tbody>
			    
			</table>
	
	<table class="basic"  border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">About Project</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"></td>
					<td class="detail"></td>
				    </tr>
				    
				    <tr>
					<td class="label">Description</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop p</td>
				    </tr>
				    
				    <tr>
					<td class="label">Status of Work Carried out (if any)</td>
					<td class="detail">&nbsp;</td>
				    </tr>
				    
				    <tr>
					<td class="label">Participation in Competition</td>
					<td class="detail">
							
							<span class="yes">Yes</span>
							
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Making a Model</td>
					<td class="detail">
						
							<span class="no">No</span>
						
						
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Provisional Application for Patent</td>
					<td class="detail">
						
							<span class="yes">Yes</span>
							
						</td>
				    </tr>
				    
				    <tr>
					<td class="label">Paper Presentations</td>
					<td class="detail">
					
							<span class="no">No</span>
					
						</td>
				    </tr>
				    
				    <tr>
					<td class="label">Publication</td>
					<td class="detail">
						
							<span class="yes">Yes</span>
							
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">College Project</td>
					<td class="detail">
						
							<span class="no">No</span>
						
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Any other</td>
					<td class="detail">
						
							<span class="yes">Yes</span>
							
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Science and Working Principle behind this Idea</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</td>
				    </tr>
				    
				    <tr>
					<td class="label">Final Outcome / Deliverable of the Project</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</td>
				    </tr>
				    
				    <tr>
					<td class="label">Who would be the beneficiary of this innovation and why?</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</td>
				    </tr>
				    
			    </tbody>
</table>
	
	<h3 class="section-title">Proposed Costs and Time Frame </h3>
				    
                                    <table class="basic"  border="0" cellpadding="3px">                  
                                                <thead>
							
                                                            <tr>
							
                                                                <th>S.No</th>					
                                                                <th class="col-md-4">Name</th>
                                                                <th class="col-md-2">Own Share</th>
                                                                <th class="col-md-3">PRAYAS Support</th>
                                                                <th class="col-md-3">Total Cost</th>
								
                                                            </tr>
                                                </thead>
						
                                         <tbody>	       
                                                            
                                                                             
                                                            <tr  class=odd   >
                                                                        <td >1</td>
                                                                        <td class="col-md-4">Outsourcing Charges for R&D / Design Engg / Consultancy / Testing / Expert</td>
                                                                        <td class="col-md-2">1</td>
                                                                        <td class="col-md-3">A</td>
                                                                        <td class="col-md-3">1</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr  class=even   >
                                                                        <td >2</td>
                                                                        <td class="col-md-4">Raw Material / Consumables / Spares</td>
                                                                        <td class="col-md-2">2</td>
                                                                        <td class="col-md-3">B</td>
                                                                        <td class="col-md-3">2</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr  class=odd   >
                                                                        <td >3</td>
                                                                        <td class="col-md-4">Fabrication / Synthesis Charges of Working Model or Process</td>
                                                                        <td class="col-md-2">3</td>
                                                                        <td class="col-md-3">C</td>
                                                                        <td class="col-md-3">3</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr  class=even   >
                                                                        <td >4</td>
                                                                        <td class="col-md-4">Business Travel and Event Participation Fees (Ceiling 10% of approved project cost)</td>
                                                                        <td class="col-md-2">4</td>
                                                                        <td class="col-md-3">D</td>
                                                                        <td class="col-md-3">4</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr  class=odd   >
                                                                        <td >5</td>
                                                                        <td class="col-md-4">Patent Filing Cost (Ceiling 10% of approved project cost)</td>
                                                                        <td class="col-md-2">5</td>
                                                                        <td class="col-md-3">E</td>
                                                                        <td class="col-md-3">5</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr  class=even   >
                                                                        <td >6</td>
                                                                        <td class="col-md-4">Contingency (Ceiling 10% of approved project cost)</td>
                                                                        <td class="col-md-2">6</td>
                                                                        <td class="col-md-3">F</td>
                                                                        <td class="col-md-3">6</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr  class=odd   >
                                                                        <td >7</td>
                                                                        <td class="col-md-4">Total</td>
                                                                        <td class="col-md-2">7</td>
                                                                        <td class="col-md-3">G</td>
                                                                        <td class="col-md-3">7</td>                               
                                                            </tr>
                                                                        
                                    
                                    </tbody>	
        </table>
	<div>&nbsp;</div>
	
	<table class="basic"  border="0" cellpadding="3px">
			    
			    <thead>
				    <tr>
					<th colspan="2" class="heading">Cost And Duration</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Detailed Justification for the proposed budget</td>
					<td class="detail"><a href="images/entity_child/2556.pdf" target="_blank">Click To View Document</a></td>
				    </tr>
				    
				    <tr>
					<td class="label">Project Period in Months</td>
					<td class="detail">10</td>
				    </tr>
				    
				    
			    </tbody>
</table>
	
	 <h3 class="section-title">Activity Details / Work Plan </h3>
<table class="basic"  border="0" cellpadding="3px" >                  
                                                <thead>
                                                            <tr>
                                                                <th>S.No</th>					
                                                                <th class="col-md-3">Activities</th>
                                                                <th class="col-md-3">Monitorable milestones</th>
                                                                <th class="col-md-3">Duration (Months)</th>
                                                                <th class="col-md-3">Budget Requested</th>                                                                                                                    
                                                            </tr>
                                                </thead>
                                                <tbody>
                                                            
                                                                             
                                                            <tr>
                                                                        <td >1</td>
                                                                        <td class="col-md-3">test</td>
                                                                        <td class="col-md-3">demo</td>
                                                                        <td class="col-md-3">1</td>
                                                                        <td class="col-md-3">2</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr>
                                                                        <td >2</td>
                                                                        <td class="col-md-3">DEMO</td>
                                                                        <td class="col-md-3">TEST</td>
                                                                        <td class="col-md-3">2</td>
                                                                        <td class="col-md-3">1</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                             
                                                            <tr>
                                                                        <td >3</td>
                                                                        <td class="col-md-3">test</td>
                                                                        <td class="col-md-3">demo</td>
                                                                        <td class="col-md-3">1</td>
                                                                        <td class="col-md-3">2</td>                               
                                                            </tr>
                                                                        
                                                            
                                                                         
                                    
						</tbody>
</table>


		
		
		<table class="basic"  border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">Activity Plan</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Justification for the budget against milestones</td>
					<td class="detail"><a href="images/entity_child/2556.pdf" target="_blank">Click To View Document</a></td>
				    </tr>
				    
				    <tr>
					<td class="label">Have you received financial support / award for your present work from any other sources?</td>
					<td class="detail">
							 
							<span class="yes">Yes</span>
							
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">If yes, Please furnish details</td>
					<td class="detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy te</td>
				    </tr>
				    
				    
			    </tbody>
</table>
		
		<table class="basic"  border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">Essential Criteria</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">Applicant Confirms that he / she has not been a recipient of any NIDHI-PRAYAS or similar support previously for the same innovative concept as proposed in this form. NIDHI-PRAYAS can be used only once.</td>
					<td class="detail">
							
							<span class="yes">Yes</span>
						
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Applicant is planning to pursue NIDHI-PRAYAS full time with no other concurrent commitments</td>
					<td class="detail">
							
							<span class="no">No</span>
							
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Applicant confirms that he / she is fully committed to work towards the prototype development for which the support is being sought and should not treat this as a stop gap arrangement to support any other pursuits.</td>
					<td class="detail">
							
							<span class="yes">Yes</span>
							
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Applicant has or is planning to register for the pre-incubation or incubation program at PSG-STEP for the entire duration of PRAYAS support</td>
					<td class="detail">
							
							<span class="no">No</span>
							
					</td>
				    </tr>
				    
				    
			    </tbody>
</table>
		
		<table class="basic"  border="0" cellpadding="3px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading">Declaration</th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">I declare that all the statements made in this application are true, complete and correct to the best of my knowledge and belief. If any information is found false or incorrect, my candidature will stand cancelled and all my claims will be forfeited. I have not received any financial assistance for the present proposal from any other agency.</td>
					<td class="detail">
							
							<span class="yes">Yes</span>
						
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Place</td>
					<td class="detail">Coimatore</td>
				    </tr>
				    
				    <tr>
					<td class="label">Date</td>
					<td class="detail">22-Jul-18</td>
				    </tr>
				    
				    <tr>
					<td class="label">Signature</td>
					<td class="detail"><img width="100px" src="images/payment/2556.jpg"></td>
				    </tr>
				    
				    
			    </tbody>
</table>
	
	
	
