<style>
	
	.align_RM{
		text-align: right;
		vertical-align: middle;
	}
	
	.align_CM{
		text-align: center;
		vertical-align: middle;
	}
	
	.align_LM{
		text-align: left;
		vertical-align: left;
	}
		
	table.basic{	
		border-top	: none !important;		    
		
		
	}
	
	.no_wrap{
		white-space: nowrap !important;
	}
	
	.GEMA_GEMA{
		
		display: block;
	}
	
	.GEMA_GEFM{
		
		display: none;
	}
	
	.GEMA_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GEFM_GEMA{
		
		display: none;
	}
	
	.GEFM_GEFM{
		
		display: block;
	}
	
	.GEFM_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GETR_GEMA{
		
		display: none;
	}
	
	.GETR_GEFM{
		
		display: none;
	}
	
	.GETR_GETR{
		
		display: block;
	}
	  
	/*basic table*/
	table.basic thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		white-space: nowrap;
		
	}
	
	table.basic tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		/*line-height	: 1.5em;*/
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:top;
		
	}
	
	table.basic tr td.label{
		color		:#818181;
	}
	
	table.basic tr td.detail{
		color		:#363636;
	}
	
	/* Inner Table*/
	 
	.inner_heading{
		background-color: #fcfcfc;
		color           : #727272;		
		font-size	: 9px;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		border-bottom   : 0.1em thin #ddd;
		
	}
	
	table.inner tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		/*line-height	: 1.5em;*/
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:middle;
		
	}
	
	table.inner tr td.label{
		color		:#818181;
	}
	
	table.inner tr td.detail{
		color		:#363636;
	}
	/*h3*/
	
	.section-title {
		/*background-color: #f1f1f1;*/
		border-bottom:1px solid #cacaca;		
		color           : #454545;
		display:inline-block;
		font-size	: 9px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;

		vertical-align	: middle;	
	}
	
	/* Yes and No */
	
	.yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
	
	
</style>
<TMPL_LOOP DATA_INFO> 
	
	<!--<TMPL_VAR KEY_ID>-->
		
	<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR BASIC_APPLICATION_FORM></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR NAME_OF_THE_APPLICANT_TITLE></td>
					<td class="detail"><TMPL_VAR NAME_OF_THE_APPLICANT></td>
					
					
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PHOTOGRAPH_TITLE></td>
					<td class="detail"><TMPL_IF PHOTOGRAPH><img width="100px" src="<TMPL_VAR PHOTOGRAPH>"></TMPL_IF></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR FATHERS_NAME_OR_HUSBANDS_NAME_TITLE></td>
					<td class="detail"><TMPL_VAR FATHERS_NAME_OR_HUSBANDS_NAME></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR DOB_TITLE></td>
					<td class="detail"><TMPL_VAR DOB></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR EMAIL_ADDRESS_TITLE></td>
					<td class="detail"><TMPL_VAR EMAIL_ADDRESS></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR MOBILE_NUMBER_TITLE></td>
					<td class="detail"><TMPL_VAR MOBILE_NUMBER></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR LANDLINE_NUMBER_TITLE></td>
					<td class="detail"><TMPL_VAR LANDLINE_NUMBER></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR GENDER_TITLE></td>
					<td class="detail"><TMPL_VAR GENDER></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR EDUCATION_QUALIFICATION_TITLE></td>
					<td class="detail"><TMPL_VAR EDUCATION_QUALIFICATION></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR CATEGORY_TITLE></td>
					<td class="detail"><TMPL_VAR CATEGORY></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR FULL_POSTAL_ADDRESS_TITLE></td>
					<td class="detail"><TMPL_VAR FULL_POSTAL_ADDRESS></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PERMANENT_ADDRESS_TITLE></td>
					<td class="detail"><TMPL_VAR PERMANENT_ADDRESS></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PLEASE_ENCLOSE_PROOF_TITLE></td>
					<!--<td class="detail"><a href="<TMPL_VAR DOMAIN><TMPL_VAR ATT_COPY_OF_ITR>" target="_blank">Click To View Document</a></td>-->
					<td class="detail"><a href="<TMPL_VAR DOMAIN><TMPL_VAR PLEASE_ENCLOSE_PROOF>" target="_blank">Click To View Document</a></td>
					<!--<td class="detail"><TMPL_IF PLEASE_ENCLOSE_PROOF><img width="100px" src="<TMPL_VAR PLEASE_ENCLOSE_PROOF>"></TMPL_IF></td>								-->
				    </tr>
				    				    
				    <tr>
					<td class="label"><TMPL_VAR PROF_OF_APP_TITLE></td>
					<td class="detail"><TMPL_VAR PROF_OF_APP></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR NAME_AND_ADDRESS_OF_INST_TITLE></td>
					<td class="detail"><TMPL_VAR NAME_AND_ADDRESS_OF_INST></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR UPLOAD_THE_COPY_OF_NOC_TITLE></td>
					<td class="detail"><a href="<TMPL_VAR DOMAIN><TMPL_VAR UPLOAD_THE_COPY_OF_NOC>" target="_blank">Click To View Document</a></td>
					<!--<td class="detail"><TMPL_IF UPLOAD_THE_COPY_OF_NOC><img width="100px" src="<TMPL_VAR UPLOAD_THE_COPY_OF_NOC>"></TMPL_IF></td>								-->
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR ANNU_INC_TITLE></td>
					<td class="detail"><TMPL_VAR ANNU_INC> </td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR ATT_COPY_OF_ITR_TITLE></td>
					<td class="detail"><a href="<TMPL_VAR DOMAIN><TMPL_VAR ATT_COPY_OF_ITR>" target="_blank">Click To View Document</a></td>								
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PAN_CARD_NUMBER_TITLE></td>
					<td class="detail"><TMPL_VAR PAN_CARD_NUMBER></td>								
				    </tr>				    

				    <tr>
					<td class="label"><TMPL_VAR AADHAR_NO_TITLE></td>
					<td class="detail"><TMPL_VAR AADHAR_NO></td>								
				    </tr>
				    
				    <div>&nbsp;</div>
				    
				    
				    
    
			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<h3 class="section-title"><TMPL_VAR TEAM_MEMBER_DETAIL_TITLE> </h3>
	
	                   <table class="inner"  border="0" cellpadding="7px">                  
                                                <thead>
							
                                                            <tr>
							
                                                                <th class="inner_heading align_LM" width="5%">S.No</th>					
                                                                <th class="inner_heading align_LM" width="15%">Name</th>
                                                                <th class="inner_heading align_LM" width="15%">Aadhar No</th>
                                                                <th class="inner_heading align_LM" width="15%">PAN Card</th>
                                                                <th class="inner_heading align_LM" width="10%">Gender</th>
								<th class="inner_heading align_LM" width="10%">Contact</th>
								<th class="inner_heading align_LM" width="15%">Email id</th>
								<th class="inner_heading align_LM" width="15%">Qualification</th>
								
                                                            </tr>
                                                </thead>
						
                                         <tbody>	       
                                    <TMPL_LOOP TEAM_MEMBER_DETAIL>                        
                                                 <TMPL_IF name>                            
                                                            <tr  class=<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>   >
                                                                        <td class="align_RM" width="5%"><TMPL_VAR __counter__></td>
                                                                        <td class="align_LM" width="15%"><TMPL_VAR name></td>
                                                                        <td class="align_LM" width="15%"><TMPL_VAR aadhar_no></td>
                                                                        <td class="align_LM" width="15%"><TMPL_VAR pan_card></td>
                                                                        <td class="align_LM" width="10%"><TMPL_VAR gender></td>
									<td class="align_LM" width="10%"><TMPL_VAR contact></td>
									<td class="align_LM" width="15%"><TMPL_VAR email_id></td>
									<td class="align_LM" width="15%"><TMPL_VAR qualification></td>
                                                            </tr>
                                                </TMPL_IF>                        
                                    </TMPL_LOOP>
                                    </tbody>	
        </table>
	
	
	<div>&nbsp;</div>
	
	<table class="basic"  border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR ABOUT_PROJECT_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"<TMPL_VAR TITLE_OF_THE_PROJECT_TITLE>></td>
					<td class="detail"><TMPL_VAR TITLE_OF_THE_PROJECT></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR DESCRIPTION_TITLE></td>
					<td class="detail"><TMPL_VAR DESCRIPTION></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR STATUS_OF_WORK_TITLE></td>
					<td class="detail">&nbsp;</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PRE_IN_COMP_TITLE></td>
					<td class="detail">
							<TMPL_IF PRE_IN_COMP>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR MARKING_A_MODEL_TITLE></td>
					<td class="detail">
						<TMPL_IF MARKING_A_MODEL>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
						</TMPL_IF>
						
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PROV_APPLI_FOR_PAT_TITLE></td>
					<td class="detail">
						<TMPL_IF PROV_APPLI_FOR_PAT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PAPER_PRESENT_TITLE></td>
					<td class="detail">
					<TMPL_IF PAPER_PRESENT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
					</TMPL_IF>
						</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PUBLICATION_TITLE></td>
					<td class="detail">
						<TMPL_IF PUBLICATION>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
						</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR COLLEGE_PROJECT_TITLE></td>
					<td class="detail">
						<TMPL_IF COLLEGE_PROJECT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
						</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR ANY_OTHER_TITLE></td>
					<td class="detail">
						<TMPL_IF ANY_OTHER>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
						</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR SCI_AND_WORK_PRI_TITLE></td>
					<td class="detail"><TMPL_VAR SCI_AND_WORK_PRI></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR FINAL_OUT_DELI_OF_PRO_TITLE></td>
					<td class="detail"><TMPL_VAR FINAL_OUT_DELI_OF_PRO></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR WHO_WOULD_BE_THE_BENEFI_TITLE></td>
					<td class="detail"><TMPL_VAR WHO_WOULD_BE_THE_BENEFI></td>
				    </tr>
				    
			    </tbody>
	</table>
	
	<div>&nbsp;</div>
	
	<h3 class="section-title"><TMPL_VAR PROPOSED_COSTS_AND_TIME_TITLE> </h3>
				    
                                    <table class="inner"  border="0" cellpadding="7px">                  
                                                <thead>
							
                                                            <tr>
							
                                                                <th class="inner_heading" width="5%">S.No</th>					
                                                                <th class="inner_heading align_LM" width="40%">Name</th>
                                                                <th class="inner_heading align_LM" width="15%">Own Share</th>
                                                                <th class="inner_heading align_LM" width="20%">PRAYAS Support</th>
                                                                <th class="inner_heading align_LM" width="15%">Total Cost</th>
								
                                                            </tr>
                                                </thead>
						
                                         <tbody>	       
                                    <TMPL_LOOP PROPOSED_COSTS_AND_TIME>                        
                                                 <TMPL_IF name>                            
                                                            <tr  class=<TMPL_IF __odd__>odd<TMPL_ELSE>even</TMPL_IF>   >
                                                                        <td class="align_RM" width="5%"><TMPL_VAR __counter__></td>
                                                                        <td class="align_LM" width="40%"><TMPL_VAR name></td>
                                                                        <td class="align_RM" width="15%"><TMPL_VAR own_share></td>
                                                                        <td class="align_RM" width="20%"><TMPL_VAR prayas_support></td>
                                                                        <td class="align_RM" width="15%"><TMPL_VAR total_cost></td>                               
                                                            </tr>
                                                </TMPL_IF>                        
                                    </TMPL_LOOP>
                                    </tbody>	
        </table>
				    
	<div>&nbsp;</div>
	
	<table class="basic"  border="0" cellpadding="7px">
			    
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR COST_AND_DURATION_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR DETAIL_JUST_FOR_PRO_BUDGET_TITLE></td>
					<td class="detail"><a href="<TMPL_VAR DOMAIN><TMPL_VAR DETAIL_JUST_FOR_PRO_BUDGET>" target="_blank">Click To View Document</a></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PROJECT_PERIOD_IN_MONTH_TITLE></td>
					<td class="detail"><TMPL_VAR PROJECT_PERIOD_IN_MONTH></td>
				    </tr>
				    
				    
			    </tbody>
</table>
	
	<div>&nbsp;</div>
	
	 <h3 class="section-title"><TMPL_VAR ACTIVITY_DETAILS_TITLE></h3>
		
		<table class="inner"  border="0" cellpadding="7px" >                  
                                                <thead>
                                                            <tr>
                                                                <th class="inner_heading" width="10%">S.No</th>					
                                                                <th class="inner_heading" width="35%">Activities</th>
                                                                <th class="inner_heading" width="35%">Monitorable milestones</th>
                                                                <th class="inner_heading" width="10%">Duration (Months)</th>
                                                                <th class="inner_heading" width="10%">Budget Requested</th>                                                                                                                    
                                                            </tr>
                                                </thead>
                                                <tbody>
                                    <TMPL_LOOP ACTIVITY_DETAILS>                        
                                                 <TMPL_IF activities>                            
                                                            <tr>
                                                                        <td class="align_RM" width="10%" ><TMPL_VAR __counter__></td>
                                                                        <td class="align_LM" width="35%" ><TMPL_VAR activities></td>
                                                                        <td class="align_LM" width="35%"><TMPL_VAR monitorable_milestones></td>
                                                                        <td class="align_RM" width="10%"><TMPL_VAR duration></td>
                                                                        <td class="align_RM" width="10%"><TMPL_VAR budget></td>                               
                                                            </tr>
                                                </TMPL_IF>                        
                                    </TMPL_LOOP>
						</tbody>
</table>

<div>&nbsp;</div>
		
		
		<table class="basic"  border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR ACTIVITY_PLAN_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR JUST_FOR_THE_BUDGET_TITLE></td>
					<td class="detail"><a href="<TMPL_VAR DOMAIN><TMPL_VAR JUST_FOR_THE_BUDGET>" target="_blank">Click To View Document</a></td>
				    </tr>
				    
				    <tr>
					<td class="label">Have you received financial support / award for your present work from any other sources?</td>
					<td class="detail">
							<TMPL_IF HAVE_YOU_REC_FIN_SUP> 
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR IF_YES_PLE_FUR_DET_TITLE></td>
					<td class="detail"><TMPL_VAR IF_YES_PLE_FUR_DET></td>
				    </tr>
				    
				    
			    </tbody>
</table>
		
		<div>&nbsp;</div>
		
		<table class="basic"  border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR ESSEN_CRI_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label" width="70%">Applicant Confirms that he / she has not been a recipient of any NIDHI-PRAYAS or similar support previously for the same innovative concept as proposed in this form. NIDHI-PRAYAS can be used only once.</td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class="detail" width="30%">
						<TMPL_IF APPLI_CONF_THAT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
								<span class="no">No</span>
						</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Applicant is planning to pursue NIDHI-PRAYAS full time with no other concurrent commitments</td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class="detail">
							<TMPL_IF APPLI_IS_PLAN_TO_PUR>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Applicant confirms that he / she is fully committed to work towards the prototype development for which the support is being sought and should not treat this as a stop gap arrangement to support any other pursuits.</td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class="detail">
							<TMPL_IF APPLI_CONF_THAT_HE>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label">Applicant has or is planning to register for the pre-incubation or incubation program at PSG-STEP for the entire duration of PRAYAS support</td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class="detail">
							<TMPL_IF APPLI_HAS_OR_IS_PLAN>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    
				    
				    <tr>
					<td class="label">Applicant confirms that if selected for NIDHI-PRAYAS, then they (applicant and their team members) will avail support for their project from only one PRAYAS Centre. If the applicant is found seeking NIDHI-PRAYAS support for the same idea from two different PCs, then the PC reserves right to discontinue the PRAYAS support and appropriate action will be taken on the applicant.</td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class="detail">
							<TMPL_IF APPLI_CONF_PC>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				     <tr>
					<td class="label">Applicant confirms that they will not avail the funding support in parallel for both the schemes i.e NIDHI-PRAYAS and NIDHI - EIR from the same or different centers.</td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td class="detail">
							<TMPL_IF APPLI_CONF_THAT_THEY_WILL_NOT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    
			    </tbody>
</table>
		
		<div>&nbsp;</div>
		
		<table class="basic"  border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR DECLARATION_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label">I declare that all the statements made in this application are true, complete and correct to the best of my knowledge and belief. If any information is found false or incorrect, my candidature will stand cancelled and all my claims will be forfeited. I have not received any financial assistance for the present proposal from any other agency.</td>
					<td class="detail">&nbsp;</td>
				    </tr>
				    
				    <tr>
					<td class="label" ><TMPL_VAR PLACE_TITLE></td>
					<td class="detail"><TMPL_VAR PLACE></td>
				    </tr>
				    
				    <tr>
					<td class="label" ><TMPL_VAR DATE_TITLE></td>
					<td class="detail"><TMPL_VAR DATE></td>
				    </tr>
				    
				    <tr>
					<td class="label" ><TMPL_VAR SIGNATURE_TITLE></td>
					<td class="detail"><TMPL_IF SIGNATURE><img width="100px" src="<TMPL_VAR SIGNATURE>"></TMPL_IF></td>
				    </tr>
				    
				    
			    </tbody>
</table>
	
	
	
</TMPL_LOOP>