<style>
    .yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
</style>

    
         <p>today</p>
                  
                  <table class="table table-striped size key_value sub_heading">
			    <thead>
				    <tr>
					<th class="col-md-6">Feature</th>
					<th class="col-md-6">Detail</th>								
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				   
				    <tr>
					<td class="col-md-6">Text</td>
					<td class="col-md-6">Lorem Ipsum</td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Text Area</td>
					<td class="col-md-6">Lorem Ipsum\r\n</td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Text Area Editer</td>
					<td class="col-md-6"><p>Lorem Ipsum</p></td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Toogle Switch </td>
					<td class="col-md-6">
                                            
							<span class="no">No</span>
					    
                                        </td>								
				    </tr>
                                    
                                   <tr>
					<td class="col-md-6">Number</td>
					<td class="col-md-6"></td>								
				    </tr>
                                   
                                   <tr>
					<td class="col-md-6">Twin Box</td>
					<td class="col-md-6"></td>								
				    </tr>
                                    
                                    <!--<tr>
					<td class="col-md-6"></td>
					<td class="col-md-6"></td>								
				    </tr>-->
				   
				    
			    </tbody>
			    
			</table>


