<TMPL_LOOP DATA_INFO>
		
		<h1><TMPL_VAR NAME></h1>
		<h2><TMPL_VAR EMAIL></h2>
		
		<TMPL_IF MARKS>
		<table class="table" style="border:1px solid #121212;">
				
				<thead>
				
						<tr>
							<th>Science</th>	
							<th>Tamil</th>
							<th>English</th>
							<th>Sanskrit</th>
							<th>Maths</th>
							
						</tr>
				</thead>
				
				<TMPL_IF  MARKS>				
						<TMPL_LOOP MARKS>
						<tr>
							<td><TMPL_VAR SCIENCE></td>
							<td><TMPL_VAR TAMIL></td>
							<td><TMPL_VAR ENGLISH></td>
							<td><TMPL_VAR SANSKRIT></td>
							<td><TMPL_VAR MATHS></td>
							
						</tr>
						</TMPL_LOOP>
				</TMPL_IF>
			
		</table>
		</TMPL_IF>
		
		<TMPL_IF FIELD_OF_INTEREST>
				<ul>
						<TMPL_LOOP FIELD_OF_INTEREST>
								<li><TMPL_VAR INTEREST></li>
						</TMPL_LOOP>
						
				</ul>
				
		</TMPL_IF>


</TMPL_LOOP> <!-- data info---->

	
