

<!-- Modal -->
<div class="modal fade" id="myModalSignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome</h4>
      </div>
      <div class="modal-body">

        <form class="form-signin" id="form-sign-in" onsubmit="return  check_key();">
	  
	    <!--<h5 class="form-signin-heading">Please Sign In</h5>-->
                  
			    <div class="form-group has-feedback" 
				 id="inputEmail_area">
				<label class="txt_size_12 clr_red" id="inputEmail_warn"></label>
                             
				<div class="input-group">				
				    <span class="input-group-addon" id="basic-addon9">
				      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				    </span>
				     <input type="text" placeholder="Enter your email address"
					    class="form-control"
					    tabindex="1"
					    id="inputEmail"
					    maxlength="75"
					    onkeydown="JavaScript:set_stlye_neutral(this,{'is_warn':1});"
					    onkeypress  = "return PR_All_Alpha_Numeric(event,'@-_.');"
					    onblur="return check_mail(this);"    
					    
					     aria-describedby="inputEmailStatus">
				      <span id="inputEmail_icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
				    
				 </div>
			    </div>
			    
			      <div class="form-group has-feedback" 
			            id="inputPassword_area">
				  
				  <div class="input-group">
				     
				    
				    <span class="input-group-addon" >
				      <span class="glyphicon  glyphicon-lock" aria-hidden="true"></span>
				    </span>
                                   <input type="password" placeholder="Enter your password"
                                          class="form-control"
                                          tabindex="2"
                                          id="inputPassword"                                          
                                         
					  onkeydown="JavaScript:set_stlye_neutral(this);"
					  onblur="return is_empty(this);" 
					  >
				    <span id="inputPassword_icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
				  </div> 
			      </div>   
	 
			      <div class="modal-footer">	
					<button class="btn  btn-default btn-sm"
						type="submit"
						tabindex="3"
						>
					<span id="lbl-sign-in" class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
					Sign In
					</button>
					
				
					
				     
			      </div>
			      
				<!--<div class="modal-footer" style="text-align:right;">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						-- <div class="fb-login-button"   data-scope="email"   data-show-faces="false"  onlogin="checkLoginState();"></div>
			 <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
				</div>-->
				
			      <div class="modal-footer">
			
			<TMPL_IF IS_OPEN>
			<a href="#" data-toggle="modal" data-target="#myModal_signUp">
			<span class="glyphicon glyphicon-edit clr_green" aria-hidden="true"></span>
			Sign Up</a>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;
			</TMPL_IF>
			
			      <a href="#" data-toggle="modal" data-target="#myModalForgetPassword">
			<span class="glyphicon glyphicon-lock clr_gray_5" aria-hidden="true"></span>
			Forgot Password</a>
			      </div>
	   
			   
      </form>
      </div>
      
   <div class="modal-footer">
    <div class="alert alert-danger message_box hide" role="alert">...</div>

      </div>     
    </div>
  </div>
</div>


<TMPL_IF IS_OPEN>

   <!-- Signn Up Modal -->
<div class="modal fade" id="myModal_signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" id="form-sign-up">
        <h5 class="form-signin-heading"></h5>
	
	<div class="form-group has-feedback" id="singUpinputEmail_area">	  
	    <label class="txt_size_11 clr_red" id="singUpinputEmail_warn"></label>
            <div class="input-group">
                <span class="input-group-addon" >
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </span>	
            
		<input type="email"
		   id="singUpinputEmail"
		   name="singUpinputEmail"
		   onblur      =   "return check_is_mail_exists(this);"
		   onkeydown="JavaScript:set_stlye_neutral(this);"
		   onkeypress  =   "return PR_All_Alpha_Numeric(event,'@-_.');"
		   class="form-control"
		   tabindex="1"
		   maxlength="75"
		   placeholder="Enter your email address"  
		   aria-describedby="singUpinputEmailStatus"
		   
		   data-form-type='BS'
		   data-alert=''
		   
		   >
		  <span id="singUpinputEmail_icon"
			class="glyphicon form-control-feedback"
			aria-hidden="true"></span>
	    </div>
	    <span class=message id="singUpinputEmail_message"></span>
	</div>
	
	<div class="form-group has-feedback" rel="txtTooltip"
	         id="userName_area" 
		 title="Enter Username"
		 data-toggle="tooltip"
		 data-placement="bottom">
	  
	    <div class="input-group">
	      
		<span class="input-group-addon" >
		  <span class="glyphicon  glyphicon-tag" aria-hidden="true" id="userNameStatus"></span>
		</span>
		
		  <input
			type    = "email"
			id      = "userName"
			name    = "userName"
			onkeypress  = "return PR_All_Alphabetic(event,' ');"
			onkeydown   = "JavaScript:set_stlye_neutral(this);"
			onblur="JavaScript:checkIsMust(this);"
			class       = "form-control"
			placeholder="Enter your name"
			tabindex="2"
			maxlength="124"			
			aria-describedby="userNameStatus"			 
			data-form-type='BS'
			data-alert='Give your name'
			 
			 >
		    <span id="userName_icon"
			class="glyphicon clr_red form-control-feedback"
			aria-hidden="true"></span>
	  </div>
	    <span class=message id="userName_message"></span>
	</div>
	
	
	
	<div class="form-group has-feedback" id="signUpinputPassword_area" >
	      <div class="input-group">				
		  <span class="input-group-addon" >
		    <span class="glyphicon  glyphicon-lock" aria-hidden="true"></span>
		  </span>
		  
		  <input type="password"
		       id="signUpinputPassword"
		       name="signUpinputPassword"
		       class="form-control"
		       tabindex="3"
		       placeholder="Enter your password"
		       onkeydown="JavaScript:set_stlye_neutral(this);"
		       
		        maxlength="32"
			data-min-length=6
		        data-form-type='BS'
		        data-alert='Set your Password with minimal 6 characters.'
			onblur="JavaScript:checkIsMust(this);"
		       >
		       
		  <span id="signUpinputPassword_icon"
			class="glyphicon  form-control-feedback"
			aria-hidden="true"></span>
	      </div>
	      <span class=message id="signUpinputPassword_message"></span>
	</div>
	
	
	<div class="form-group has-feedback" id="signUpinputMobile_area" >
	      <div class="input-group">				
		  <span class="input-group-addon" >
		    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
		  </span>
		  
	  <input type="text"
		       id="signUpinputMobile"
		       name="signUpinputMobile"
		       class="form-control"
		       
		       tabindex="4"
		       maxlength="10"
		       data-length-match=1
										 
		       placeholder="Enter your mobile no."
		       onkeypress  =   "return PR_All_Numeric(event);"
		       onkeydown="JavaScript:set_stlye_neutral(this);"
		       onblur="JavaScript:checkIsMust(this);"	
		       
		       data-form-type='BS'
		       data-alert='Give your 10 digit mobile no.'
		       
		       >
		       
		  <span id="signUpinputMobile_icon"
			class="glyphicon  form-control-feedback"
			aria-hidden="true"></span>
	      </div>
	      <span class=message id="signUpinputMobile_message"></span>
	</div>
	<!--onblur="return has_length({'element':this,'length':10,'warning':'Give your 10 digit Mobile No.'});"-->
	<!--<div class="form-group" rel="txtTooltip"
				 title="Give password"
				 data-toggle="tooltip"
				 data-placement="bottom">
                              <div class="input-group">				
                                  <span class="input-group-addon" id="basic-addon9">
                                    <span class="glyphicon  glyphicon-lock clr_gray_9" aria-hidden="true"></span>
                                  </span>
				  
		 
          <input type="Password" id="signUpconfirmPassword"  name="signUpconfirmPassword" class="form-control" placeholder="Confirm Password" required>
        </div>
        </div>-->
		  <div class="modal-footer">
		  		 <button class="btn  btn-default btn-sm"
				  		type="button"
						tabindex="4"
						onclick="JavaScript:add_key();"
						>
				  <span  id="lbl-sign-up" class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
				  Sign Up</button>
		  </div>
		  </form>
      </div>
    
    </div>
  </div>
</div>
</TMPL_IF>
    
    
<!-- Forget password -->
<div class="modal fade" id="myModalForgetPassword" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" id="form-forgot">
			  
			    <div class="form-group has-feedback"
				 id   = "for_inputEmail_area" >
			      <label class="txt_size_11 clr_red" id="for_inputEmail_warn"></label>
                              <div class="input-group">				
                                  <span class="input-group-addon" id="basic-addon9">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" id="for_inputEmailStatus"></span>
                                  </span>
                                   <input type="text" placeholder="Enter email address"
                                          class="form-control"
                                          tabindex="1"
                                          id="for_inputEmail"
					  maxlength="75"
					  onblur="return check_mail(this);"
					  onkeypress = "return PR_All_Alpha_Numeric(event,'@-_.');"
					  onkeydown="JavaScript:set_stlye_neutral(this);"
                                          required autofocus
                                           aria-describedby="basic-addon9">
				    
				    <span id="for_inputEmail_icon"
					class="glyphicon clr_red form-control-feedback"
				      aria-hidden="true"></span>
                               </div>
			     
                          </div>
			    
			    
			    
				
				     <div class="modal-footer">
					<button class="btn  btn-default btn-block"
						type="button"
						tabindex="2"
						onClick="JavaScript:a_check_key();">
					<span id="lbl-reset-pass" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;
					Reset Password
					</button>	   
			            </div>
			      
	   
			      
      </form>
      </div>
      
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->      
    </div>
  </div>
</div>

<!--- Change Password--->
<div class="modal fade" id="myModalChangePassword" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" id="form-change-pswd">
        
			  
			    <div class="form-group has-feedback" id="chng_currentPassword_area"
				rel="txtTooltip"
				title="Old Password"
				data-toggle="tooltip"
				data-placement="left">
			       <label class="txt_size_11 clr_red" id="chng_currentPassword_warn"></label>
                              <div class="input-group">				
                                  <span class="input-group-addon" id="basic-addon9">
                                    <span class="glyphicon glyphicon-lock clr_gray_8" aria-hidden="true"></span>
                                  </span>
                                   <input type="password" placeholder="Current password"
                                          class="form-control"
                                          tabindex="1"
                                          id="chng_currentPassword"
					  onkeydown="JavaScript:set_stlye_neutral(this);"
                                          required autofocus
                                           aria-describedby="basic-addon9">
				    <span id="chng_currentPassword_icon"
					class="glyphicon glyphicon  clr_red form-control-feedback"
				      aria-hidden="true"></span>
                               </div> 
                          </div>
			    
			  <div class="form-group has-feedback" rel="txtTooltip"
			      id="chng_newPassword_area" 
			    title="New Password"
			    data-toggle="tooltip"
			    data-placement="left">
                              <div class="input-group">				
                                  <span class="input-group-addon" id="basic-addon9">
                                    <span class="glyphicon glyphicon-lock clr_green" aria-hidden="true"></span>
                                  </span>
                                   <input type="password" placeholder="New password"
                                          class="form-control"
                                          tabindex="1"
                                          id="chng_newPassword"
					  onkeydown="JavaScript:set_stlye_neutral(this);"
                                          required autofocus
                                           aria-describedby="basic-addon9">
				    
				    <span id="chng_newPassword_icon"
					class="glyphicon glyphicon clr_red form-control-feedback"
				      aria-hidden="true"></span>
                               </div> 
                          </div>  
			    
			    
			  <div class="form-group has-feedback" rel="txtTooltip"
			      id="change_confirmPassword_area" 
			    title="Confirm New Password"
			    data-toggle="tooltip"
			    data-placement="left">
                              <div class="input-group">				
                                  <span class="input-group-addon" id="basic-addon9">
                                    <span class="glyphicon glyphicon-lock clr_green" aria-hidden="true"></span>
                                  </span>
                                   <input type="password" placeholder="Confirm new password"
                                          class="form-control"
                                          tabindex="1"
                                          id="change_confirmPassword"
					  onkeydown="JavaScript:set_stlye_neutral(this);"
                                          required autofocus
                                           aria-describedby="basic-addon9">
				    
				    <span id="change_confirmPassword_icon"
					class="glyphicon glyphicon clr_red form-control-feedback"
				      aria-hidden="true"></span>
                               </div> 
                          </div>    
			    
				
				     <div class="modal-footer">
					<button class="btn  btn-default btn-block"
						type="button"
						tabindex="3"
						onClick="JavaScript:change_key();">
					<span id="lbl-change-pass" class="glyphicon glyphicon-sort" aria-hidden="true"></span>&nbsp;
					Change Password
					</button>	   
			            </div>
			      
	   
			      
      </form>
      </div>
      
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->      
    </div>
  </div>
</div>


<!---------Modal Message------->
<div class="modal fade"
     id="my-message-box" tabindex="-1" role="dialog">
  
  <div class="modal-dialog" style="width:300px">
    
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="message-box-title">Message Box</h4>
      </div>
      
      <div class="modal-body" id="message-box-content">
        <p>One fine body&hellip;</p>
      </div>
      
      <div class="modal-footer" id="my-message-box-alert">
        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>        
      </div>
      
    </div><!-- /.modal-content -->
    
  </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->




<!--- Account-->
<div class="modal fade" id="my-account" tabindex="-1" role="dialog" >
  <div class="modal-dialog"  style="width:300px">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">My Account</h4>
      </div>
      <div class="modal-body">
	  
	<form class="form-signin" id="form-my-account">
	                   
	    	      <ul class="list-group">
			
			  <li class="list-group-item">
			    <span  class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
			    <span id="lbl-user-name"></span> 
			  </li>
			 
			  <li class="list-group-item">
			    <span  class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  &nbsp;
			    <span id="lbl-user-mail">User Email</span>
			  </li>
			  
			<!--  <li class="list-group-item">
			    <span id="lbl-user-creation" class="glyphicon glyphicon-time" aria-hidden="true"></span>
			    &nbsp;<span class="badge clr_box_green txt_size_12">14-Apr-2015 10:10</span>
			    Creation
			  </li>-->
			
			
			 <!-- <li class="list-group-item">
			    <span  class="glyphicon glyphicon-user clr_gray_5" aria-hidden="true"></span>
			    &nbsp;<span class="badge"  id="lbl-tot-mem" >14</span>
			    Total Members
			  </li>
			  
			  
			  <li class="list-group-item">
			    <span  class="glyphicon glyphicon-user txt_clr_male" aria-hidden="true"></span>
			    &nbsp;<span class="badge" id="lbl-tot-male">14</span>
			    Male
			  </li>
			  
			  <li class="list-group-item">
			    <span class="glyphicon glyphicon-user txt_clr_female" aria-hidden="true"></span>
			    &nbsp;<span class="badge" id="lbl-tot-female" >14</span>
			    Female
			  </li>-->
		      </ul>
	</form> 	  
      </div>
    </div> 
  </div>
</div>


<!---------Invite Email------->
<div class="modal fade"
     id="my-invite" tabindex="-1" role="dialog">
  
  <div class="modal-dialog" style="width:300px">
    
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="message-box-title">Invite </h4>
      </div>
      
      <div class="modal-body" id="message-box-content">
         <form class="form-invite-email" id="form-invite-email">
        
			  
			    <div class="form-group has-feedback" id="invite-email_area"
				rel="txtTooltip"
				title="Email"
				data-toggle="tooltip"
				data-placement="left">
			       <label class="txt_size_11 clr_red" id="invite-email_warn"></label>
                              <div class="input-group">				
                                  <span class="input-group-addon" id="basic-addon9">
                                    <span class="glyphicon glyphicon-envelope clr_gray_8" aria-hidden="true"></span>
                                  </span>
                                   <input type="text" placeholder="Email"
                                          class="form-control"
                                          tabindex="1"
                                          id="invite-email"
					  onkeypress="return PR_All_Alpha_Numeric(event,'@-_.');"
					  onkeydown="JavaScript:set_stlye_neutral(this);"
					  onblur="JavaScript:Graph.check_invite_email(this);"
                                          required autofocus
                                           aria-describedby="basic-addon9">
				    <span id="invite-email_icon"
					class="glyphicon glyphicon  clr_red form-control-feedback"
				      aria-hidden="true"></span>
                               </div> 
                          </div>
	 </form>  
			  
      </div>
      
      <div class="modal-footer" id="my-message-box-alert">
	    <button class="btn  btn-success btn-block"
		    type="button"
		    tabindex="3"
		    onClick="JavaScript:Graph.invite_user();">
		    <span id="lbl-change-pass" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;
		    Invite 
	    </button>
      </div>
      
    </div><!-- /.modal-content -->
    
  </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->

<!--- Information---->





<!--<div id="loader"
     name="loader"
     class="light_window"
     style="display:none;">
		<div class="progress-bar progress-bar-striped active"
		 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"
		 id="progress_message"
		 style="color:#E8EDF2;"
		 >
	    Loading...
	    </div>
</div>-->


<div class="modal fade" id="loader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      
      <div class="modal-body">

      <div class="progress-bar progress-bar-striped active"
		 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"
		 id="progress_message"
		 style="color:#E8EDF2;"
		 >
	    Loading...
	    </div><br>
      </div>
      
    </div>
  </div>
</div>
