      <!-- Basic -->
      <title>
            <TMPL_IF PAGE_TITLE><TMPL_VAR PAGE_TITLE><TMPL_ELSE><TMPL_IF PARENT_TITLE><TMPL_VAR PARENT_TITLE><TMPL_ELSE><TMPL_VAR DEFAULT_TITLE></TMPL_IF></TMPL_IF>
            <TMPL_IF PAGE_CONTENT_TITLE> - <TMPL_VAR PAGE_CONTENT_TITLE></TMPL_IF>         
      </title>
        
  <!-- Define Charset -->
  <meta charset="utf-8">

  <!-- Responsive Metatag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- keyword -->
  <meta name="keywords" content="<TMPL_IF PAGE_KEYWORDS><TMPL_VAR PAGE_KEYWORDS><TMPL_ELSE><TMPL_IF PARENT_KEYWORDS><TMPL_VAR PARENT_KEYWORDS><TMPL_ELSE><TMPL_VAR DEFAULT_KEYWORDS></TMPL_IF></TMPL_IF>">  
  <!-- Page Description and Author -->
  <meta name="description" content="<TMPL_IF PAGE_DESCRIPTION><TMPL_VAR PAGE_DESCRIPTION><TMPL_ELSE><TMPL_IF PARENT_DESCRIPTION><TMPL_VAR PARENT_DESCRIPTION><TMPL_ELSE><TMPL_VAR DEFAULT_DESCRIPTION></TMPL_IF></TMPL_IF>">
  <meta name="author" content="Webstars">
  <meta name="revisit-after" content="2 days">
  <meta name="contact" content="<TMPL_VAR PRIMARY_MAIL>">
  <meta name="generator" content="Fibenis">

    <link rel="icon" id="favicon" href="<TMPL_VAR TERMINAL_PATH>images/favicon_1.png" type="image/png">     
    
    <!--- base.css--->
    <link href="<TMPL_VAR LIB_PATH>/css/base.css" rel="stylesheet">
    <link href="<TMPL_VAR LIB_PATH>/css/ax.css" rel="stylesheet">
    
    <!--- general.js--->	
    <script src="<TMPL_VAR lib_path>/js/general.js"></script>

    
    <!-- key.js -->    
    <script language="JavaScript" type="text/javascript" src="<TMPL_VAR lib_path>/comp/key/key.js"></script>
    
    <!--- Hint Class --->
    <link  rel="stylesheet" type="text/css" href="<TMPL_VAR lib_path>/css/hint.css">
    
    <!--- jQuery Class --->	
    <link  rel="stylesheet" type="text/css" href="<TMPL_VAR lib_path>js/jquery_ui/css/ui-lightness/jquery-ui-1.10.4.custom.css">
  
  <!-- Bootstrap CSS  -->
  <link rel="stylesheet" href="<TMPL_VAR THEME_ROUTE>/asset/css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="<TMPL_VAR lib_path>/comp/bootstrap/dist/css/bootstrap-select.min.css" type="text/css">
 <!-- <link rel="stylesheet" href="<TMPL_VAR lib_path>/comp/bootstrap/dist/css/date-time-picker.css" type="text/css">-->
 
  <!--- jQuery Addon Q tip Class --->	
  <link  rel="stylesheet" type="text/css" href="<TMPL_VAR lib_path>js/jquery_addon/qtip/jquery.qtip.min.css">
  
  <!--- c3 --->	
  <link  rel="stylesheet" type="text/css" href="<TMPL_VAR lib_path>comp/c3/c3.min.css">

       
  <!--- Pretty Photo--->
  <link href="plugin/css/prettyPhoto.css" rel="stylesheet">
 
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="<TMPL_VAR THEME_ROUTE>/css/font-awesome.min.css" type="text/css" media="screen">

  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="<TMPL_VAR THEME_ROUTE>/css/slicknav.css" media="screen">

  <!-- Margo CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="<TMPL_VAR THEME_ROUTE>/css/style.css" media="screen">

  <!-- Responsive CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="<TMPL_VAR THEME_ROUTE>/css/responsive.css" media="screen">

  <!-- Css3 Transitions Styles  -->
  <link rel="stylesheet" type="text/css" href="<TMPL_VAR THEME_ROUTE>/css/animate.css" media="screen">

  <!--Addon-->
  <TMPL_IF COACH_THEME_BLEND>
      <link rel="stylesheet" type="text/css" href="<TMPL_VAR THEME_ROUTE>/blend/<TMPL_VAR COACH_THEME_BLEND>.css" media="screen">
  <TMPL_ELSE>
      <link rel="stylesheet" type="text/css" href="<TMPL_VAR THEME_ROUTE>/blend/<TMPL_VAR THEME_BLEND>.css" media="screen">
  </TMPL_IF>
  
  <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery-2.1.4.min.js"></script>  
  <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/form-validator.min.js"></script>

  <!-- Cycle -->
  <script src="<TMPL_VAR lib_path>/js/jquery_ui/js/jquery.cycle2.min.js"></script>

  <!--- jQuery Addon Q tip Class --->	
  <script src="<TMPL_VAR lib_path>/js/jquery_addon/qtip/jquery.qtip.min.js"></script>
  <script src="<TMPL_VAR lib_path>/js/jquery_addon/jquery.marquee.min.js"></script>
  <script src="<TMPL_VAR lib_path>/js/jquery_addon/jquery.pause.js"></script>
  
  <!--- Ajax.js--->
  <script src="<TMPL_VAR lib_path>/js/ajax_v2.js"></script>
  <script src="<TMPL_VAR lib_path>/js/show.js"></script>
             <script src="<TMPL_VAR lib_path>/js/f_series.js"></script>  
      <TMPL_UNLESS IS_PAGE>
          <!--- jQuery UI Custom Min --->	
          <script src="<TMPL_VAR lib_path>/js/jquery_ui/js/jquery-ui-1.10.4.custom.min.js"></script>
          <script language="JavaScript" type="text/javascript" src="<TMPL_VAR lib_path>comp/ckeditor/ckeditor.js"></script>
          
          <script language="JavaScript" src="<TMPL_VAR lib_path>/comp/bootstrap/dist/js/bootstrap-select.min.js"></script>
          <script language="JavaScript" src="<TMPL_VAR lib_path>/comp/bootstrap/dist/js/bootbox.min.js"></script>
          <script language="JavaScript" type="text/javascript" src="<TMPL_VAR lib_path>js/moment.js"></script>
          <!-- <script language="JavaScript" src="<TMPL_VAR lib_path>/comp/bootstrap/dist/js/bootstrap-date-time-picker.js"></script> -->
           
          <!---Graph--->
          <script src="<TMPL_VAR lib_path>/js/gauge.js"></script>
          <script language="JavaScript" type="text/javascript" src="<TMPL_VAR lib_path>comp/d3/d3.min.js"></script>
          <script language="JavaScript" type="text/javascript" src="<TMPL_VAR lib_path>comp/c3/c3.min.js"></script>
          <script language="JavaScript" type="text/javascript" src="<TMPL_VAR lib_path>js/general.c3.js"></script>
          
          
 
      </TMPL_UNLESS>
    
      <script src="plugin/js/gate.js"></script>
      <script src="plugin/js/gate_out.js"></script>
      <script src="plugin/js/modal_events.js"></script>   
      <script src="plugin/js/jquery.prettyPhoto.js"></script>

      <!-- Margo JS  -->
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.migrate.js"></script>
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/modernizrr.js"></script>
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/asset/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.fitvids.js"></script>
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/owl.carousel.min.js"></script>
      <!--<script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/nivo-lightbox.min.js"></script>-->
      <!--<script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.isotope.min.js"></script>-->
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.appear.js"></script>
      <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/count-to.js"></script>
      <!-- <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.textillate.js"></script>-->
      <!--  <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.lettering.js"></script>-->
      <!--<script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.easypiechart.min.js"></script>-->
      <!--<script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.nicescroll.min.js"></script>-->
    <!--  <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.parallax.js"></script>
    -->  <script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/jquery.slicknav.js"></script>
 
  
  
  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
      
    
    
    <!--<TMPL_VAR IS_HOME><TMPL_VAR CURRENT_YEAR>-->