  <!---<TMPL_VAR PAGE_ID>
       <TMPL_VAR PAGE_TITLE>
       <TMPL_VAR PARENT_KEY_CODE>
       <TMPL_VAR PARENT_NAME>
       <TMPL_VAR PARENT_RIGHT_IMAGE>
       <TMPL_VAR PARENT_HEADER_IMAGE>
       <TMPL_VAR PAGE_HEADER_IMAGE>
       <TMPL_VAR PAGE_RIGHT_IMAGE>
  --->
  

	<div class="container">	
	
	        <div class="row pad_lr">
					    			    
				<TMPL_VAR PAGE_INFO>			    
			
		</div>
	    </div>
	

  