
    
     <TMPL_LOOP DATA_INFO> <!--<TMPL_VAR KEY_ID>-->
       
    
         <TMPL_IF MARQUEE>
	<section id="marquee" class="marquee_area">
	 <div class="container font-lusitana clr_gray_7">
	  
	  <div class="marquee col-md-12 font-ptsans" id="marquee" name="fn-marquee">
	    <TMPL_LOOP MARQUEE>					
		<a href="<TMPL_VAR URL>"><TMPL_VAR TITLE></a>			
	    </TMPL_LOOP>
	  </div>
	  
	 </div>
	</section>
     </TMPL_IF>
    
        <TMPL_IF HOME_IMAGES>
		<TMPL_LOOP HOME_IMAGES>
			<script>G.$('<TMPL_VAR DATA_BINDER>').src='<TMPL_VAR CONTENT_SRC>'</script>
		</TMPL_LOOP>
	</TMPL_IF>
    
        <TMPL_IF FEATURES>
	 
       <section id="home_features" class="brdr_bottom">
	    <div class="container">
	     <div class="col-md-12 mar_tb_10">&nbsp;</div>
				      
				      <TMPL_IF FEATURE_HEADING>
				      <TMPL_LOOP FEATURE_HEADING>
				      <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
				       <h1><TMPL_VAR HEADING></h1>
				       <br>
					<p><TMPL_VAR SUB_HEADING></p>
				      </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
					
					
					<TMPL_LOOP FEATURES>
					
					<div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="0<TMPL_VAR __counter__>">
							   <div class="service-icon">
									   <i class="fa <TMPL_VAR FA-ICON> icon-large"></i>
							   </div>
							   <div class="service-content">
									   <h4><TMPL_VAR TITLE></h4>
									   <p class="clr_gray_5"><TMPL_VAR HINT></p>
							   </div>
					</div>
					
					</TMPL_LOOP>
	     </div>
       </section>     
     </TMPL_IF>

                  

       
    
         <TMPL_IF PORTFOLIO>
	 
	  <section id="home_portfolio" class="bar_bg font brdr_bottom">
	   <div class="col-md-12 mar_tb_10">&nbsp;</div>

	   <TMPL_IF PORTFOLIO_HEADING>
	    <TMPL_LOOP PORTFOLIO_HEADING>
				      <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
					   <h1><TMPL_VAR HEADING></h1>
					    <br>
					   <p class="text-center"><TMPL_VAR SUB_HEADING></p>
				      </div>
	    </TMPL_LOOP>
	    </TMPL_IF>
		 
		 <div class=" full-width-portfolio">
		  
		      <ul id="portfolio-list" data-animated="fadeIn">
					 
				      <TMPL_LOOP PORTFOLIO>
				       
					 <li>
							    <div  class="single-team  fadeInLeft">
							     
									       <div  class="portfolio-item">
										
											       
												  <a  rel="prettyPhoto[<TMPL_VAR __counter__>]" href="<TMPL_VAR IMAGE_PATH>" href="<TMPL_VAR IMAGE_PATH>" class="portfolio-link" data-toggle="modal"></a>		    
														     <img class="img-responsive img-centered" src="<TMPL_VAR IMAGE_PATH>" alt="">		    
			   
												  <div class="icon-list">
														     <a class="zoom" rel="prettyPhoto[<TMPL_VAR __counter__>]" href="<TMPL_VAR IMAGE>"> <i class="fa fa-search-plus align_CM"></i></a>
												  </div>
												  
												  <div class="portfolio-item-content">
														     <span class="header"><TMPL_VAR TITLE></span>
														     
												  </div>
												  
									       </div>
									       
						 
							    </div>
					 </li>
					 
				     </TMPL_LOOP>
				      
		      </ul>
		</div>
	
       </section>
</TMPL_IF>

                  

       
    
         <div>&nbsp;</div><TMPL_IF TEAM>     
       <section id="home_team" class="bar_bg font brdr_bottom">
	    <div class="container">
	      <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      <TMPL_IF TEAM_HEADING>
				      <TMPL_LOOP TEAM_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
		   </div>
	      
	        <div class="col-md-12 hyper_color"  >
			
			<a class="visible-xs col-xs-3"></a>		      
		  
			<a class="visible-xs col-xs-3"></a>

		<div class="row">
		     
		     <TMPL_LOOP TEAM>
		      
			  <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
			   
				    <div class="team-member modern">
				     
					     <div class="member-photo nowrap">
					      <TMPL_IF IMAGE_PATH>
							 <img alt="" src="<TMPL_VAR IMAGE_PATH>" />
					      </TMPL_IF>
							 <div class="member-name no_wrap"><TMPL_IF NAME><TMPL_VAR NAME></TMPL_IF><span><TMPL_IF WORK><TMPL_VAR WORK></TMPL_IF></span>
							 </div>
					     </div>
				    </div>
			  </div>
			  
		    </TMPL_LOOP>
		     
		     <div class="col-md-12 mar_tb_10">&nbsp;</div>
		     
		</div>
			 
		</div>
		
		 <div class="col-md-12 mar_tb_10"></div>
	     
	    </div>
	    
       </section>
       
      </TMPL_IF>

                  

       
    
          <TMPL_IF COUNTER>
	  <div class="col-md-12 mar_tb_10">&nbsp;</div>
	 
      <section id="home_counter" class="brdr_bottom">
       <div class="col-md-12 mar_tb_10">&nbsp;</div>
 
					<TMPL_IF COUNTER_HEADING> 
				      <TMPL_LOOP COUNTER_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="<TMPL_VAR __COUNTER__>">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
					</TMPL_IF>
					 
       <div class="col-md-12 mar_tb_10">&nbsp;</div>  
	
	 <div id="parallax-one" data-stellar-background-ratio="0.5" class="parallax brdr_bottom" style="background-image:url(images/bg.jpg); ">
		   
	      <div class="parallax-text-container-1">
		    
		    <div class="parallax-text-item">
				       
			   <div class="container">
							  
				  <div class="row">
			       <div class="col-md-12 mar_tb_10">&nbsp;</div>
				 <TMPL_LOOP COUNTER>
				  

					  <div class="col-xs-12 col-sm-3 col-md-3">
						<div class="counter-item">
						      <i class="fa <TMPL_VAR FA-ICON> icon-large"></i>
						      <div class="timer" id="item1" data-to="<TMPL_VAR COUNT>" data-speed="5000" ></div>
						      <h5><TMPL_VAR TITLE></h5>
						</div>
					  </div>
					  
				</TMPL_LOOP>
				 
				  <div class="col-md-12 mar_tb_10">&nbsp;</div>
				  <div class="col-md-12 mar_tb_10">&nbsp;</div>
				  
				</div>
				  
			  </div>
			   
		    </div>
		    
	      </div>	
	 
	  </div>

      </section>      
       
     </TMPL_IF>

                  

       
    
         <div>&nbsp;</div>
	   <section id="home_tab" class="brdr_bottom">
	    <div class="container">
	     <TMPL_IF TAB_HEADING>
				      <TMPL_LOOP TAB_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
		   <ul class="nav nav-tabs" role="tablist">
		    <TMPL_LOOP home_tab_title>
			     <li role="presentation" class="<TMPL_IF __first__>active</TMPL_IF>" aria-expanded="true" >
				<a href="#tab_<TMPL_VAR __COUNTER__>" aria-controls="tab_<TMPL_VAR __COUNTER__>" role="tab" data-toggle="tab">
				   <TMPL_VAR TAB_TITLE>
				</a>
			     </li>
		    </TMPL_LOOP>
		   </ul>
		
		   <div class="tab-content">
		      <TMPL_LOOP home_tab_content>
		       <div role="tabpanel" class="tab-pane <TMPL_IF __first__>active</TMPL_IF>" id="tab_<TMPL_VAR __COUNTER__>">					
			       <div class="row col-md-12">				
				   <p><TMPL_VAR TAB_CONTENT></p>
				   <div>&nbsp;</div>
			       </div>
		       </div>
		     </TMPL_LOOP>
		   </div>
	</div>
	    
	   </section>

                  

       
    
         <section id="home_accordion" class="brdr_bottom">
	  <div class="container">
	    <div class="hr1 margin-top"></div>
	       <div class="row">
		   <div class="col-md-12">
		    <TMPL_IF ACCORDION_HEADING>
				      <TMPL_LOOP ACCORDION_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
			   <div class="panel-group" id="accordion">
			    
			    <TMPL_LOOP HOME_ACCORDION>
			       <div class="panel panel-default">
				
				   <div class="panel-heading">
				   <h4 class="panel-title">
				   <a data-toggle="collapse"
				      data-parent="#accordion"
				      href="#collapse-<TMPL_VAR __COUNTER__>"
				      aria-expanded="false"
				      class="collapsed">
				   <i class="fa fa-angle-up control-icon"></i>
				   <i class="fa fa-question-circle"></i><TMPL_VAR QUESTION>
				   </a>
				   </h4>
				   </div>
				   
				
				   
				   <div id="collapse-<TMPL_VAR __COUNTER__>" class="panel-collapse collapse <TMPL_IF __first__>in</TMPL_IF>">
				   <div class="panel-body"><TMPL_VAR ANSWER></div>
				   </div>
			       </div>
			       </TMPL_LOOP>
			   
			   </div>
		   </div>
	       </div>
	    </div>
	 </section>

                  

       
    
          <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      
				  <TMPL_IF HOME_ABOUTUS_HEADING>
				      <TMPL_LOOP HOME_ABOUTUS_HEADING>
					      <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
					      <h1><TMPL_VAR HEADING></h1>
					       <p><TMPL_VAR SUB_HEADING></p>
					      </div>
				      </TMPL_LOOP>
				  </TMPL_IF>	
	       </div>
	 <TMPL_IF HOME_ABOUTUS>
	<TMPL_LOOP HOME_ABOUTUS>
      <section id="home_aboutus" class=" font_lato brdr_bottom">
	<div class="container">
	 
	 <div class="col-md-12 align_CM"><h2 class="title"><TMPL_VAR TITLE></h2></div>
	 
	    <div class="col-md-4 col-sm-6 col-xs-12">
		<img src="<TMPL_VAR IMAGE>" alt="" title="" class="img-responsive">
		<div class="col-md-12 mar_tb_10"></div>
	    </div>
	    
	    <div class="col-md-8 col-sm-6 col-xs-12">
		<div class="col-md-12 mar_tb_10 visible-xs"></div>
		
		<p><TMPL_VAR CONTENT></p>
		<div class="col-md-12 mar_tb_10"></div>
	    </div>
	</div>
	
     </section>	
     </TMPL_LOOP>
	 </TMPL_IF>

                  

       
    
         <TMPL_IF CLIENTS>     
       <section id="home_clients" class="bar_bg font brdr_bottom">

	    <div class="partner">
				      <div class="col-md-12">&nbsp;</div>
				      <div class="container">
							 <div class="row">
								   <TMPL_LOOP CLIENTS_HEADING>
									    <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
									    <h1><TMPL_VAR HEADING></h1>
									    <br>
									    <p class="title-desc"><TMPL_VAR SUB_HEADING></p>
									    </div>
								    </TMPL_LOOP>
				      
				      
		   <div class="our-clients">
				      <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">
				      <TMPL_LOOP CLIENTS>
							 <div class="client-item item">
							 <a target="blank" href="http://<TMPL_VAR URL>"> <img src="<TMPL_VAR IMAGE_PATH>" alt="" /></a>
							 </div>
							 </TMPL_LOOP>
				      </div>
		   </div>
		
							 </div>
				      </div>
		   </div>
       </section>
      </TMPL_IF>

                  

       
    
         <TMPL_IF ENQUIRY_CONTACT>
  <section id="home_contact" class="brdr_bottom">	    
      <div class="col-md-12">&nbsp;</div>

   <div id="content">
    <div class="container">
        <div class="row">
	    <div class="col-md-8">
			<h4 class="classic-title"><span>Contact Us</span></h4>
  
		    <form action="/action_page.php">
		    
		      <div class="form-group">
			<label for="name">Name:</label>
			<input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
		      </div>
		  
		      <div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
		      </div>
		      
		       <div class="form-group">
			<label for="subject">Subject:</label>
			<input type="text" class="form-control" id="subject" placeholder="Enter subject" name="subject">
		      </div>
		       
		        <div class="form-group">
			   <label for="sel1">Enquiry On:</label>
			   <select class="form-control" id="sel1">
			     <TMPL_LOOP ENQUIRY>
			     <option><TMPL_VAR TOPICS></option>
			     </TMPL_LOOP>
			   </select>
			</div>
		       
		       <div class="form-group">
			 <label for="comment">Comment:</label>
			 <textarea class="form-control" rows="5" id="comment" placeholder="Enter comment" name="comment"></textarea>
		       </div>
		       
		      <button type="reset" class="btn-system btn-small">Reset</button>
		      <button type="submit" class="btn-system border-btn btn-medium">Submit</button>
		     
		      
		    </form>
	    </div>
	    
            
            <div class="col-md-4">
            
                <h4 class="classic-title"><span>Information</span></h4>
                     <div class="hr1" style="margin-bottom:10px;"></div>
                
                <ul class="icons-list">
                    <div class="col-md-12">
		    <div class="col-md-1 pad_lr"><li><i class="fa fa-globe"></i></div>
		    <div class="col-md-11"><strong>Address:</strong></div>
		    </div>
		    
		    <div class="col-md-12">
		    <div class="col-md-1 pad_lr">&nbsp;</div>
		    <div class="col-md-11"><TMPL_LOOP ORG_NAME><TMPL_VAR NAME></TMPL_LOOP></div>
		    </div>
		    
		    <div class="col-md-12">
		    <div class="col-md-1 pad_lr">&nbsp;</div>
		    <div class="col-md-11"><TMPL_LOOP HOME_ADD_I><TMPL_VAR NAME>,</TMPL_LOOP></div>
                    </div>
	    
		    <div class="col-md-12">
		    <div class="col-md-1 pad_lr">&nbsp;</div>
		    <div class="col-md-11"><TMPL_LOOP HOME_ADD_II><TMPL_VAR NAME></TMPL_LOOP></div>
                    </div>
		    
		    <div class="col-md-12">&nbsp;</div>

		    <TMPL_IF HOME_ADD_EMAIl>
		    <div class="col-md-12">
                    <div class="col-md-1 pad_lr"><li><i class="fa fa-envelope-o"></i></div>
		    <div class="col-md-11"><strong>Email:</strong></div>
		    </div>
		     
		    <div class="col-md-12">
		    <div class="col-md-1 pad_lr">&nbsp;</div>
		    <div class="col-md-11"><TMPL_LOOP HOME_ADD_EMAIL><TMPL_VAR NAME></TMPL_LOOP></div>
		     </div>
		    </TMPL_IF>
		   
		   <div class="col-md-12">&nbsp;</div>
		   
		    <TMPL_IF HOME_ADD_MOBILE>
		     <div class="col-md-12">
		       <div class="col-md-1 pad_lr"><li><i class="fa fa-mobile fa-2x"></i></div>
		       <div class="col-md-11"><strong>Mobile:</strong></div>
		     </div>
		     
		     <div class="col-md-12">  
		       <div class="col-md-1 pad_lr">&nbsp;</div>
		       <div class="col-md-11"><TMPL_LOOP HOME_ADD_MOBILE><TMPL_VAR NAME></TMPL_LOOP></div>
		     </div>
		    </TMPL_IF>
		   
		   <div class="col-md-12">&nbsp;</div>
		   
		    <TMPL_IF HOME_ADD_PHONE>
		     <div class="col-md-12">
		       <div class="col-md-1 pad_lr"><li><i class="fa fa-phone fa-2x"></i></div>
		       <div class="col-md-11"><strong>Phone:</strong></div>
		     </div>
		       
		       <div class="col-md-12">
		        <div class="col-md-1 pad_lr">&nbsp;</div>
			<div class="col-md-11"><TMPL_LOOP HOME_ADD_PHONE><TMPL_VAR NAME></TMPL_LOOP></div>
		     </div>
		    </TMPL_IF>
		    
                </ul>

		<div>&nbsp;</div>
                <div class="hr1" style="margin-bottom:15px;"></div>
                
               
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>
</section>
  </TMPL_IF>

                  

       
    
         

    
    </TMPL_LOOP>
                 


