<TMPL_LOOP DATA_INFO>
    <TMPL_IF __first__>
     <TMPL_VAR START_CODE>
    </TMPL_IF>   
    
         <TMPL_VAR DETAIL>

    <TMPL_IF __last__>
    <TMPL_VAR END_CODE>
   </TMPL_IF>              
</TMPL_LOOP>

