
<TMPL_LOOP DATA_INFO>
	
	<!--<TMPL_VAR KEY_ID>
	-->
	<TMPL_IF HOME_BANNER>
	 <section id="home">
	
      <!-- Carousel -->
      <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators" id="carousel-indicators">
	  <!--<li data-target="#main-slide" data-slide-to="0" class="active"></li>-->
	</ol>
	<div class="carousel-inner">
	      <TMPL_LOOP HOME_BANNER> 
		   
			   <div class="item <TMPL_IF __first__>active</TMPL_IF>">
				<img class="img-responsive" src="<TMPL_VAR img_src>" alt="slider">
				<div class="slider-content">
				  <div class="col-md-12 text-center">
				   <p class="animated4"><a href="<TMPL_VAR url>" class="slider btn btn-system btn-large"><TMPL_VAR title></a></p>
				  </div>
				</div>
			  </div>
	
			  <script> G.$('carousel-indicators').innerHTML+='<li data-target="#main-slide" data-slide-to="'+(Number(<TMPL_VAR __counter__>)-1)+'" <TMPL_IF __first__>class="active"</TMPL_IF>></li>';</script>
	       </TMPL_LOOP>
        </div>
        <!-- Carousel inner end-->

        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
        </a>
		
      </div>
      <!-- /carousel -->
	  
    </section>
     </TMPL_IF>
	
	
	
        <TMPL_IF MARQUEE>
	<section class="marquee_area">
	 <div class="container font-lusitana clr_gray_7">
	  
	  <div class="marquee col-md-12 font-ptsans" id="marquee" name="fn-marquee">
	    <TMPL_LOOP MARQUEE>					
		<a href="<TMPL_VAR URL>"><TMPL_VAR TITLE></a>			
	    </TMPL_LOOP>
	  </div>
	  
	 </div>
	</section>
     </TMPL_IF>
	
	
	 
	<TMPL_IF FEATURES>
	 
       <section id="features" class="brdr_bottom">
	    <div class="container">		
					<div class="align_CM">                 
					      <div class="col-md-12 mar_tb_10">&nbsp;</div>    
						       <div class="col-md-12">
							   <h2 class="title">
							      <span class="fa-stack fa-1x">
								<i class="fa fa-square clr_pri fa-stack-2x "></i>
								<i class="fa fa-list clr_pri_match_txt fa-stack-1x fa-inverse"></i>
							      </span>&nbsp;Salient Features
							   </h2>
						       </div>
					      <div class="col-md-12 mar_tb_5">&nbsp;</div>	
					</div> 
					
					<TMPL_LOOP FEATURES>
					
					<div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="0<TMPL_VAR __counter__>">
							   <div class="service-icon">
									   <i class="fa <TMPL_VAR FA-ICON> icon-large"></i>
							   </div>
							   <div class="service-content">
									   <h4><TMPL_VAR TITLE></h4>
									   <p class="clr_gray_9"><TMPL_VAR HINT></p>
							   </div>
					</div>
					
					</TMPL_LOOP>
		     </div>
       </section>     
     </TMPL_IF>
	 

       <TMPL_IF PORTFOLIO>     
       <section id="home_portfolio" class="bar_bg font brdr_bottom">
	    <div class="container">
	      <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      
							 <div class="col-md-12">
							   <h2 class="title">
							   <span class="fa-stack fa-1x">
							     <i class="fa fa-square clr_pri fa-stack-2x "></i>
							     <i class="fa fa-picture-o clr_pri_match_txt fa-stack-1x fa-inverse"></i>
							   </span>&nbsp;Portfolio</h2>
							 </div>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
		   </div>
	      
	        <div class="col-md-12 hyper_color"  >
			
			<a class="visible-xs col-xs-3"></a>		      
		  
			<a class="visible-xs col-xs-3"></a>
	    
			
			
			<TMPL_LOOP PORTFOLIO>
	    
			  <a class="col-md-3 col-sm-6 col-xs-6 animated fadeIn delay-0<TMPL_VAR __counter__> " href="<TMPL_VAR URL>">			  
			    <img src="<TMPL_VAR IMAGE_PATH>"  class="img-responsive">
			    
			    <span class="clr_pri txt_size_14 b"><TMPL_VAR TITLE></span>  			  
			  </a>
			  
			  
			  
			</TMPL_LOOP> 
			  
		       
			  
		</div>
		
		 <div class="col-md-12 mar_tb_10"></div>
	     
	    </div>
       </section>
      </TMPL_IF>
       
        <TMPL_IF TEAM>     
       <section id="home_team" class="bar_bg font brdr_bottom">
	    <div class="container">
	      <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      
							 <div class="col-md-12">
							   <h2 class="title">
							   <span class="fa-stack fa-1x">
							     <i class="fa fa-square clr_pri fa-stack-2x "></i>
							     <i class="fa fa-user clr_pri_match_txt fa-stack-1x fa-inverse"></i>
							   </span>&nbsp;Our Great Team</h2>
							 </div>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
		   </div>
	      
	        <div class="col-md-12 hyper_color"  >
			
			<a class="visible-xs col-xs-3"></a>		      
		  
			<a class="visible-xs col-xs-3"></a>
	    
			
			
			<TMPL_LOOP TEAM>
	    
			  <a class="col-md-3 col-sm-6 col-xs-6 animated fadeIn delay-0<TMPL_VAR __counter__> " href="<TMPL_VAR URL>">			  
			    <img src="<TMPL_VAR IMAGE_PATH>"  class="img-responsive">
			    
			    <span class="clr_pri txt_size_14 b"><TMPL_VAR TITLE></span>  			  
			  </a>
			  
			</TMPL_LOOP> 
			  
		       
			  
		</div>
		
		 <div class="col-md-12 mar_tb_10"></div>
	     
	    </div>
       </section>
      </TMPL_IF>
	 
	 
	<TMPL_IF HOME_NEWS>     
       <section id="products" class="bar_bg font brdr_bottom">
	    <div class="container">
	      <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      
							 <div class="col-md-12">
							   <h2 class="title">
							   <span class="fa-stack fa-1x">
							     <i class="fa fa-square clr_pri fa-stack-2x "></i>
							     <i class="fa fa-newspaper-o clr_pri_match_txt fa-stack-1x fa-inverse"></i>
							   </span>&nbsp;Latest News</h2>
							 </div>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
	       </div>
	      
	        
	     <TMPL_LOOP HOME_NEWS>
		 <div class="col-md-4 hyper_color"  >
			 <!--<div class="col-md-4 col-sm-6 col-xs-6">
			  <h2 class="title"><TMPL_VAR TITLE></h2>			  
			   <p><TMPL_VAR CONTENT></p>			  
			  </div>-->
			 
			  <h4 class="classic-title"><span><TMPL_VAR TITLE></span></h4>
			  <div class="col-md-4 custom-carousel show-one-slide touch-carousel owl-carousel owl-buttons owl-theme" data-appeared-items="1" style="opacity: 1; display: block;">
				      <div class="owl-item" Style="width:360px;">
							 <div class="classic-testimonials item">
									    <div class="testimonial-content">
									    <p><TMPL_VAR CONTENT></p>
									    </div>
							 </div>
				      </div>
				      <!--<div class="owl-item" Style="width:360px;">
							 <div class="classic-testimonials item">
									    <div class="testimonial-content">
									    <p><TMPL_VAR CONTENT></p>
									    </div>
							 </div>
				      </div>
				      <div class="owl-item" Style="width:360px;">
							 <div class="classic-testimonials item">
									    <div class="testimonial-content">
									    <p><TMPL_VAR CONTENT></p>
									    </div>
							 </div>
				      </div>-->
				      <!--<div class="owl-buttons">
							 <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
							 <div class="owl-next"><i class="fa fa-angle-right"></i></div>
				      </div>-->
				      
			   </div>
		    </div>
		</TMPL_LOOP> 
		
		
		 <div class="col-md-12 mar_tb_10"></div>
	     
	    </div>
       </section>
</TMPL_IF>
    
    
    
    
    
   
   
        <TMPL_LOOP HOME_ABOUTUS>
      <section class=" font_lato brdr_bottom">
	<div class="container">
	 <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      
							 <div class="col-md-12">
							   <h2 class="title">
							   <span class="fa-stack fa-1x">
							     <i class="fa fa-square clr_pri fa-stack-2x "></i>
							     <i class="fa fa-newspaper-o clr_pri_match_txt fa-stack-1x fa-inverse"></i>
							   </span>&nbsp;About Us</h2>
							 </div>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
	       </div>
	 
	 
	 
	    <div class="col-md-12 mar_tb_10"></div>
	    <div class="col-md-4 col-sm-6 col-xs-12">
		<img src="<TMPL_VAR IMAGE>" alt="" title="" class="img-responsive">
	    </div>
	    
	    <div class="col-md-8 col-sm-6 col-xs-12">
		<div class="col-md-12 mar_tb_10 visible-xs"></div>
		<h2 class="title"><TMPL_VAR TITLE></h2>
		<p><TMPL_VAR CONTENT></p>
		<div class="col-md-12 mar_tb_10"></div>
	    </div>
	</div>
     </section>	
     </TMPL_LOOP>
     
     
     
	
      
	 
	 
	 
	 
	 
	
	<TMPL_IF CLIENTS>     
       <section id="home_team" class="bar_bg font brdr_bottom">
	    <div class="container">
	      <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      
							 <div class="col-md-12">
							   <h2 class="title">
							   <span class="fa-stack fa-1x">
							     <i class="fa fa-square clr_pri fa-stack-2x "></i>
							     <i class="fa fa-users clr_pri_match_txt fa-stack-1x fa-inverse"></i>
							   </span>&nbsp;Our Clients</h2>
							 </div>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
		   </div>
	      
	        <div class="col-md-12 hyper_color"  >
			<a class="visible-xs col-xs-3"></a>		      
			<a class="visible-xs col-xs-3"></a>
			<TMPL_LOOP CLIENTS>
			  <a class="col-md-3 col-sm-6 col-xs-6 animated fadeIn delay-0<TMPL_VAR __counter__> hint--top" href="<TMPL_VAR URL>" data-hint="More on <TMPL_VAR TITLE> ">			  
			    <img src="<TMPL_VAR IMAGE_PATH>"  class="img-responsive">
			    <i class="fa fa-play-circle clr_sec" aria-hidden="true" ></i>
			    <span class="clr_pri txt_size_14 b"><TMPL_VAR TITLE></span>  			  
			  </a>
			</TMPL_LOOP> 
		</div>
		<div class="col-md-12 mar_tb_10"></div>
	    </div>
       </section>
      </TMPL_IF>
	
	
	
	
	
	
	
	<section id="contact">
     <div class="container">
		<div class="align_CM">
                 
		    <div class="col-md-12 mar_tb_20">&nbsp;</div>
		    
		    <div class="col-md-12">
		      <h2 class="title">
			<span class="fa-stack fa-1x">
			  <i class="fa fa-square clr_pri fa-stack-2x "></i>
			  <i class="fa fa-map clr_pri_match_txt fa-stack-1x fa-inverse"></i>
			</span>&nbsp;Reach Us</h2>
		      
		    </div>
		    
		    <div class="col-md-12">&nbsp;</div> 
     
		    <div class="col-md-12 font-lato">		    
		    
		    <div class="align_CM txt_size_20 clr_gray_2 "><TMPL_LOOP ORG_NAME><TMPL_VAR NAME></TMPL_LOOP></div>
		   
		    <div class="align_CM txt_size_16 clr_gray_8"><TMPL_LOOP HOME_ADD_I><TMPL_VAR NAME>,</TMPL_LOOP></div>
		    
		    <div class="align_CM txt_size_16  clr_gray_7"><TMPL_LOOP HOME_ADD_II><TMPL_VAR NAME></TMPL_LOOP></div>
						
		    <div class="col-md-12">&nbsp;</div> 
                    <div class="col-md-12 mar_tb_10 font_lato  txt_size_16 clr_gray_9">    
		    <TMPL_IF HOME_ADD_PHONE>			
			    <span class="fa-stack fa-1x">
			       <i class="fa fa-square clr_sec fa-stack-2x "></i>
			      <i class="fa fa-phone clr_gray_f fa-stack-1x fa-inverse"></i>
			    </span>
			    <TMPL_LOOP HOME_ADD_PHONE>&nbsp;<TMPL_VAR NAME></TMPL_LOOP>
			       
		    </TMPL_IF>  
			  
		    <TMPL_IF HOME_ADD_MOBILE>
			    &nbsp;&nbsp;&nbsp;
			    <span class="fa-stack fa-1x">
			       <i class="fa fa-square clr_sec fa-stack-2x "></i>
			      <i class="fa fa-mobile clr_gray_f fa-stack-1x fa-inverse"></i>
			    </span>
			    <TMPL_LOOP HOME_ADD_MOBILE>&nbsp;<TMPL_VAR NAME></TMPL_LOOP>
			
		    </TMPL_IF>                          
		    </div>
		    <TMPL_IF HOME_ADD_EMAIl>
			<div class="col-md-12  mar_tb_10 font_lato  txt_size_16 clr_gray_9">
			    <span class="fa-stack fa-1x">
			       <i class="fa fa-square clr_sec  fa-stack-2x "></i>
			      <i class="fa fa-paper-plane clr_gray_f  fa-stack-1x fa-inverse"></i>
			    </span>
			    <TMPL_LOOP HOME_ADD_EMAIL>&nbsp;<TMPL_VAR NAME></TMPL_LOOP>
			</div>
		    </TMPL_IF>
		    
		    <div class="col-md-12">&nbsp;</div>
		    
		</div>
		</div>
     </div>
    </section>
	
</TMPL_LOOP>	

 <!-- data info---->
