<TMPL_LOOP DATA_INFO>
         
         <TMPL_VAR DETAIL><br>
         
         <b><TMPL_VAR NAME></b>
         
         <TMPL_IF FEATURE_IMAGE><img src="<TMPL_VAR FEATURE_IMAGE>"></img></TMPL_IF>
         
         <br>
                  
         <TMPL_IF FEATURE_IMAGE_II><img src="<TMPL_VAR FEATURE_IMAGE_II>"></img></TMPL_IF>
         
</TMPL_LOOP>

