<TMPL_LOOP DATA_INFO> <!--<TMPL_VAR KEY_ID>-->
<div class="view_app">
	
	<div>&nbsp;</div>
	<div class="align_CM col-md-12 pad_lr"><h2><TMPL_VAR TITLE></h2></div>
	
	<dl>
		<h4 class="">Personal Detail</h4>
		<dt><TMPL_VAR TITLE_LABEL></dt>
		<dd><TMPL_VAR TITLE></dd>
		<br>
			
		<dt>Address</dt>
		<dd><TMPL_VAR ADDRESS_FOR_COMM></dd>
		<br>
			
		<dt><TMPL_VAR DOB_TITLE></dt>
		<dd><TMPL_VAR DOB></dd>
		<br>
			
		<dt><TMPL_VAR GENDER_TITLE></dt>
		<dd><TMPL_VAR GENDER></dd>
		<br>
		<hr>
			
		<h4 class=""><TMPL_VAR APPLICANT_CATEGORY_TITLE></h4>
		<!--<dd><TMPL_VAR APPLICANT_CATEGORY></dd>-->
		<br>
			
		<dt><TMPL_VAR COA_TITLE></dt>
		<dd><TMPL_VAR COA></dd>
		<br>
			
		<dt><TMPL_VAR NUMBER_OF_TEAM_MEMBERS_TITLE></dt>
		<dd><TMPL_VAR NUMBER_OF_TEAM_MEMBERS></dd>
		<br>
		
		
		<table class="table table-striped">
			    <thead>
				    <tr>
					<th>Name</th>
					<th>Role</th>
					<th>No Of Years</th>
					<th>Email</th>
					<th>Mobile</th>
				    </tr>
			    </thead>
			    
			 
			    <tbody>
				    <TMPL_LOOP TEAM_DETAIL>
					<TMPL_IF NAME>
						<tr>
						    <td><TMPL_VAR NAME></td>
						    <td><TMPL_VAR ROLE></td>
						    <td><TMPL_VAR NOY></td>
						    <td><TMPL_VAR EMAIL></td>
						    <td><TMPL_VAR MOBILE></td>
						</tr>
					</TMPL_IF>
				    </TMPL_LOOP>
			    </tbody>
			
		</table>  
		<!--<dt><TMPL_VAR TEAM_DETAIL_TITLE></dt>
		<dd>		<TMPL_LOOP TEAM_DETAIL>
				<TMPL_VAR NAME> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR ROLE> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR NOY>	&nbsp;&nbsp;&nbsp;
				<TMPL_VAR EMAIL> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR MOBILE> &nbsp;&nbsp;&nbsp;
				<br>
			</TMPL_LOOP>
			
		</dd>-->
		<br>
		<hr>
			
		<h4 class=""><TMPL_VAR DETAILS_OF_PRIMARY_APPLICANT_TITLE></h4>
		<br>
		
		<dt><TMPL_VAR YEARS_OF_EXP_TITLE></dt>
		<dd><TMPL_VAR YEARS_OF_EXP></dd>
		<br>
		
		
		<b><TMPL_VAR PROFESSIONAL_DETAIL_TITLE></b>

		<table class="table table-striped size key_value">
			    <thead>
				    <tr>
					<th>Organization Name</th>
					<th>Department</th>
					<th>Designation/Role</th>
					<th>From</th>
					<th>To</th>
				    </tr>
			    </thead>
			    
			
			    <tbody>
				    <TMPL_LOOP PROFESSIONAL_DETAIL> 
				    <TMPL_IF ORGA_NAME>
				    <tr>
					<td><TMPL_VAR ORGA_NAME></td>
					<td><TMPL_VAR DEP></td>
					<td><TMPL_VAR ROLE></td>
					<td><TMPL_VAR FROM></td>
					<td><TMPL_VAR TO></td>
				    </tr>
				    </TMPL_IF>
				    </TMPL_LOOP>
			    </tbody>
			
		</table>
		<!--<dt><TMPL_VAR PROFESSIONAL_DETAIL_TITLE></dt>
		<dd>		<TMPL_LOOP PROFESSIONAL_DETAIL>
				<TMPL_VAR ORGA_NAME> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR DEP> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR ROLE>	&nbsp;&nbsp;&nbsp;
				<TMPL_VAR FROM> &nbsp;&nbsp;&nbsp;
				<TMPL_VAR TO> &nbsp;&nbsp;&nbsp;
			</TMPL_LOOP>
		</dd>-->
		<br>
		
		<dt><TMPL_VAR IF_STARTUP_TITLE></dt>
		<dd><TMPL_VAR IF_STARTUP></dd>
		<br>
			
		<TMPL_IF IF_STARTUP_YES>	
			<dt><TMPL_VAR NAME_OF_STARTUP_TITLE></dt>
			<dd><TMPL_VAR NAME_OF_STARTUP></dd>
			<br>
			
			<dt><TMPL_VAR DATE_OF_IN_CORPORATION_TITLE></dt>
			<dd><TMPL_VAR DATE_OF_IN_CORPORATION></dd>	
			<br>
				
			<dt><TMPL_VAR NUMBER_OF_DIRECTORS_TITLE></dt>
			<dd><TMPL_VAR NUMBER_OF_DIRECTORS></dd>
			<br>
				
			<dt><TMPL_VAR NUMBER_OF_EMPLOYEES_TITLE></dt>
			<dd><TMPL_VAR NUMBER_OF_EMPLOYEES></dd>
			<br>
				
			<dt><TMPL_VAR WEBSITE_TITLE></dt>
			<dd><TMPL_VAR WEBSITE></dd>
		</TMPL_IF>
		<br>
		<hr>
			
		<h4 class=""><TMPL_VAR DETAILS_OF_INNOVATION_TITLE></h4>
		<br>
			
		<dt><TMPL_VAR TITLE_TITLE></dt>
		<dd><TMPL_VAR TITLE></dd>
		<br>
		
		<dt><TMPL_VAR PROBLEM_ADDRESSED_TITLE></dt>
		<dd><TMPL_VAR PROBLEM_ADDRESSED></dd>	
		<br>
			
		<dt><TMPL_VAR ASA_TITLE></dt>
		<dd><TMPL_VAR ASA></dd>	
		<br>
			
		<dt><TMPL_VAR APS_TITLE></dt>
		<dd><TMPL_VAR APS></dd>	
		<br>
			
		<dt><TMPL_VAR NID_TITLE></dt>
		<dd><TMPL_VAR NID></dd>	
		<br>
		<hr>
			
		<dt><TMPL_VAR RFS_TITLE></dt>
		<dd><TMPL_VAR RFS></dd>	
		<br>
			
		<dt><TMPL_VAR ISRFPC_TITLE></dt>
		<dd><TMPL_VAR ISRFPC></dd>	
		<br>
		
		<dt><TMPL_VAR AODWWHEYP_TITLE></dt>
		<dd><TMPL_VAR AODWWHEYP></dd>	
		<br>
			
		<dt><TMPL_VAR AOMSFOCS_TITLE></dt>
		<dd><TMPL_VAR AOMSFOCS></dd>	
		<br>
			
		<dt><TMPL_VAR DYSIAOCLE_TITLE></dt>
		<dd><TMPL_VAR DYSIAOCLE></dd>	
		<br>
			
		<dt><TMPL_VAR WYBCHD_TITLE></dt>
		<dd><TMPL_VAR WYBCHD></dd>	
		<br>
		<hr>
			
		<dt><TMPL_VAR SYPS_TITLE></dt>
		<dd><TMPL_VAR SYPS></dd>	
		<br>
		<hr>
			
		
		<h4 class=""><TMPL_VAR BUDGET_TITLE></h4>
		
		
		<table class="table table-striped size key_value">
			    <thead>
				    <tr>
					<th>Total</th>
					<th>Amount</th>
				    </tr>
			    </thead>
			    
			 
			    <tbody>
				    <TMPL_LOOP BUDGET>
				    <TMPL_IF TOTAL>
				    <tr>
					<td><TMPL_VAR TOTAL></td>
					<td><TMPL_VAR AMOUNT></td>
				    </tr>
				    </TMPL_IF>
				    </TMPL_LOOP>
			    </tbody>
			
		</table>
		
		
		<br>
		<hr>
				
		<!--Payment Detail-->
		<dt><TMPL_VAR PAY_DETAIL_TITLE></dt>
		<dd><TMPL_VAR PAY_NOTE></dd>
		<dd><TMPL_VAR PAY_REFERENCE></dd>
		
	</dl>
</div>	
</TMPL_LOOP>
<style type="text/css">
	
	.view_app h1{
		text-transform:captalize;
	}
	
	.view_app h4{
		
		font-size : 15px;
		text-decoration:none !important;
	}
	
	.view_app dl dt{
			color	 : #9a9a9a;
			font-size: 14px;
			font-weight:100 !important;
	}
	
	.view_app dl dd{
			color	 : #454545;
			font-size: 14px;
	}
	
	.view_app table tr th,
	.view_app table tr td{
		font-size:14px;
	}
</style>