       <TMPL_IF CLIENTS>     
	      <section {{SECTION_ID}} class="bar_bg font brdr_bottom">
		     <div class="partner">
			    <div class="col-md-12">&nbsp;</div>
				   <div class="container">
					  <div class="row">
						 
						 <TMPL_LOOP CLIENTS_HEADING>
							<div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
							       <TMPL_IF HEADING><div>&nbsp;</div><h1><TMPL_VAR HEADING></h1></TMPL_IF>
							       <TMPL_IF SUB_HEADING><p class="title-desc"><TMPL_VAR SUB_HEADING></p></TMPL_IF>
							</div>
						  </TMPL_LOOP>
						 
						 <TMPL_IF CLIENTS>					  
							<div class="our-clients">
							       
							       <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">
								      
								      <TMPL_LOOP CLIENTS>
									   
									     <div class="client-item item">
										      <div>&nbsp;</div>
										  <a target="blank" href="http://<TMPL_VAR URL>"> <img src="<TMPL_VAR IMAGE_PATH>" alt="" /></a>
									     </div>
								      </TMPL_LOOP>
							       </div>
							</div>
						 </TMPL_IF>
					  </div>
				   </div>
			    </div>
		     </div>
	      </section>
       </TMPL_IF>