<TMPL_IF TEAM>     
       <section {{SECTION_ID}} class="bar_bg font brdr_bottom">
	    <div class="container">
		     <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      <TMPL_IF TEAM_HEADING>
				      <TMPL_LOOP TEAM_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
						 <TMPL_IF HEADING><h1><TMPL_VAR HEADING></h1></TMPL_IF>
						 <TMPL_IF SUB_HEADING><p class="title-desc"><TMPL_VAR SUB_HEADING></p></TMPL_IF>
					    </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		   </div>
		     <div class="col-md-12 hyper_color"  >
			    <a class="visible-xs col-xs-3"></a>		      
			    <a class="visible-xs col-xs-3"></a>
		     <div class="row">
		     <TMPL_LOOP TEAM>
			  <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
				    <div class="team-member modern">
					     <div class="member-photo nowrap">
					      <TMPL_IF IMAGE_PATH>
							 <img alt="" src="<TMPL_VAR IMAGE_PATH>" />
					      </TMPL_IF>
							 <div class="member-name no_wrap"><TMPL_IF NAME><TMPL_VAR NAME></TMPL_IF><span><TMPL_IF WORK><TMPL_VAR WORK></TMPL_IF></span>
							 </div>
					     </div>
				    </div>
			  </div>
		    </TMPL_LOOP>
		     <div class="col-md-12 mar_tb_10">&nbsp;</div>
		</div> 
		</div>
	      <div class="col-md-12 mar_tb_10"></div>
	    </div>  
       </section>
</TMPL_IF>