<TMPL_LOOP DATA_INFO> 
	
	<!--<TMPL_VAR KEY_ID>-->
	<dl>
		<dt><TMPL_VAR HONOR_TITLE></dt>
		<dd><TMPL_VAR HONOR></dd>
		<br>
		
		<dt><TMPL_VAR NAME_TITLE></dt>
		<dd><TMPL_VAR NAME></dd>
		<br>
			
		<dt><TMPL_VAR IMAGE_TITLE></dt>
		<dd><TMPL_IF IMAGE><img class="width:100px" src="<TMPL_VAR IMAGE>"></TMPL_IF></dd>
		<br>
		
		<dt><TMPL_VAR GENDER_TITLE></dt>
		<dd><TMPL_VAR GENDER></dd>
		<br>
		
		<dt><TMPL_VAR DOB_TITLE></dt>
		<dd><TMPL_VAR DOB></dd>
		<br>
			
		<dt><TMPL_VAR LANDLINE_NUMBER_TITLE></dt>
		<dd><TMPL_VAR LANDLINE_NUMBER></dd>
		<br>
			
		<dt><TMPL_VAR MOBILE_NUMBER_TITLE></dt>
		<dd><TMPL_VAR MOBILE_NUMBER></dd>
		<br>
			
		<dt><TMPL_VAR ALTER_MOBILE_NUMBER_TITLE></dt>
		<dd><TMPL_VAR ALTER_MOBILE_NUMBER></dd>
		<br>
		
		<dt><TMPL_VAR EMAIL_ADDRESS_TITLE></dt>
		<dd><TMPL_VAR EMAIL_ADDRESS></dd>
		<br>
		
		<dt><TMPL_VAR RESIDENTIAL_ADDRESS_TITLE></dt>
		<dd><TMPL_VAR RESIDENTIAL_ADDRESS></dd>
		<br>
			
		<dt><TMPL_VAR PERMANENT_ADDRESS_TITLE></dt>
		<dd><TMPL_VAR PERMANENT_ADDRESS></dd>
		<br>
			
					
	</dl>
	
</TMPL_LOOP>