<html>
	<head>
		<title>Form Template</title>
		
		<script src="jquery.js"></script>
		<script src="mustache.js"></script>

		<script>
			
			var form_data = { data:[
													{"text":[	
																{"label":"Name","type":"string"},
															]
													},
													{"date":[
																{"label":"Date of Birth","type":"date"}
															]
													},
													{"dropdown":[
																		{"label":"Gender","type":"string", "enum": [{option:"Male"},{option:"Female"}]}
																   ]
													},
													{"textarea":[
																	{"label":"Address"}
																]
													},
													{"text":[	
																{"label":"Mobile","type":"string","pattern":"[0-9]{10}","title":"10 digits only"},
																{"label":"Email","type":"email"},
																{"label":"Institute Name","type":"string"},
															]
													},
												
													{"button":[
																{"type":"submit"}
															  ]
													}
									]					
						
						};
				
		</script>
		
		
		
		
	</head>

	<body>
	
		<h2>
			Student Information
		</h2>
		
		
		<form class="container" id="form_area" >
		
		
		</form>
		
		<script id="template_content" type="text/template">
					
						{{#data}}
									<table>
										  {{#text}}
												<tr>
													<td width="50%">{{label}}</td>
													<td><input type="{{type}}" pattern="{{pattern}}" title="{{title}}">
													</td>
												</tr>
										 {{/text}}
										 {{#radio}}
												<tr>
													<td width="20%">{{label}}</td>
													<td>{{#enum}}<input type="{{type}}" id="X" name="{{name}}">&nbsp;{{a}}&emsp;{{/enum}}</td>
												</tr>
										 {{/radio}}
										 {{#checkbox}}
												<tr>
													<td width="20%">{{label}}</td>
													<td>{{#enum}}<input type="{{type}}" id="X" name="{{name}}">&nbsp;{{a}}&emsp;{{/enum}}</td>
												</tr>
										 {{/checkbox}}
										 {{#textarea}}
												<tr>
													<td width="52.5%">{{label}}</td>
													<td><textarea type="{{type}}" rows="2" style="font-family: inherit;display: block;"></textarea></td>
												</tr>
										 {{/textarea}}
										 {{#button}}
												<tr>
													<br>
													<td width="70%">{{label}}</td>
													<td><input type="{{type}}"  maxLength="{{maxLength}}"></td>
												</tr>
										 {{/button}}
										
										 {{#dropdown}}
												<tr>
													<td width="70%" >{{label}}</td>
													<td ><select type="{{type}}">{{#enum}}<option value="{{option}}" >{{option}}</option>{{/enum}}</select></td>
												</tr>
										 {{/dropdown}}
										 {{#date}}
												<tr>
													<td width="53%">{{label}}</td>
													<td><input type="{{type}}"></td>
												</tr>
										 {{/date}}
									</table>
						{{/data}}
					
		</script>
		
		<script>
			
				var html = Mustache.to_html($('#template_content').html(),form_data);		
				
				$('#form_area').html(html);
		
		</script>
		
	</body>
</html>




