<style>
	.align_RM{
		text-align: right;
		vertical-align: middle;
	}
	
	
	.align_CM{
		text-align: center;
		vertical-align: middle;
	}
	
	.align_LM{
		text-align: left;
		vertical-align: left;
	}
	
	.no_wrap{
		white-space: nowrap !important;
	}
		
	table.basic{	
		border-top: none !important;		    
		
	}
	
	.GEMA_GEMA{
		
		display: block;
	}
	
	.GEMA_GEFM{
		
		display: none;
	}
	
	.GEMA_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GEFM_GEMA{
		
		display: none;
	}
	
	.GEFM_GEFM{
		
		display: block;
	}
	
	.GEFM_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GETR_GEMA{
		
		display: none;
	}
	
	.GETR_GEFM{
		
		display: none;
	}
	
	.GETR_GETR{
		
		display: block;
	}
	
	
	  
	/*basic table*/
	table.basic thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		white-space: nowrap;
		
	}
	
	table.basic tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		
		padding-left	: 5px;
		padding-top	: 5px !important;
		padding-bottom  : 5px !important;		
		vertical-align	:top;
		
		
	}
	
	table.basic tr td.label{
		color		:#818181;
	}
	
	table.basic tr td.detail{
		color		:#363636;
	}
	
	/* Inner Table*/
	 
	.inner_heading{
		background-color: #fcfcfc;
		color           : #727272;		
		font-size	: 9px;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;
		vertical-align	: middle;
		border-bottom   : 0.1em thin #ddd;
		white-space: nowrap;
		
	}
	
	table.inner tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:middle;
		
	}
	
	table.inner tr td.label{
		color		:#818181;
	}
	
	table.inner tr td.detail{
		color		:#363636;
	}
	/*h3*/
	
	.section-title {
		/*background-color: #f1f1f1;*/
		border-bottom:1px solid #cacaca;		
		color           : #454545;
		display:inline-block;
		font-size	: 9px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;

		vertical-align	: middle;	
	}
	
	/* Yes and No */
	
	.yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
	
	
</style>

<TMPL_LOOP DATA_INFO> <!--<TMPL_VAR KEY_ID>-->
	
			    
		
	<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR NAME_OF_THE_APPLICANT_TITLE></td>
					<td class="detail"><TMPL_VAR NAME_OF_THE_APPLICANT></td>
				    </tr>
			
                                    <tr>
					<td class="label"><TMPL_VAR EMAIL_ADDRESS_TITLE></td>
					<td class="detail"><TMPL_VAR EMAIL_ADDRESS></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR MOBILE_NUMBER_TITLE></td>
					<td class="detail"><TMPL_VAR MOBILE_NUMBER></td>
				    </tr>
                            
                                    <tr>
					<td class="label"><TMPL_VAR DOB_TITLE></td>
					<td class="detail"><TMPL_VAR DOB></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR COMPANY_INSTITUTION_TITLE></td>
					<td class="detail"><TMPL_VAR COMPANY_INSTITUTION></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR HIGH_EDU_QUALIFICATION_TITLE></td>
					<td class="detail"><TMPL_VAR HIGH_EDU_QUALIFICATION></td>
				    </tr>
				    
				     <tr>
					<td class="label"><TMPL_VAR CURR_EMPLO_TITLE></td>
					<td class="detail"><TMPL_VAR CURR_EMPLO></td>
				    </tr>
				     
				    <!-- <tr>
					<td class="label"><TMPL_VAR CURR_EMPLO_OTHER_TITLE></td>
					<td class="detail"><TMPL_VAR CURR_EMPLO_OTHER></td>
				    </tr>-->
				     
				      <tr>
					<td class="label"><TMPL_VAR DES_ROLE_TITLE></td>
					<td class="detail"><TMPL_VAR DES_ROLE></td>
				    </tr>
				      
				      
				    <tr>
					<td class="label"><TMPL_VAR ARE_YOU_WORK_FULL_TIME_TITLE></td>
					<td class="detail">
							<TMPL_IF ARE_YOU_WORK_FULL_TIME>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    
				    <tr>
					<td class="label"><TMPL_VAR WHAT_IS_CHALLENGE_AREA_TITLE></td>
					<td class="detail"><TMPL_VAR WHAT_IS_CHALLENGE_AREA></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR CURR_STAT_OF_INNO_TITLE></td>
					<td class="detail"><TMPL_VAR CURR_STAT_OF_INNO></td>
				    </tr>
				    
				   <tr>
					<td class="label"><TMPL_VAR PRO_THE_TITLE_OF_INNO_TITLE></td>
					<td class="detail"><TMPL_VAR PRO_THE_TITLE_OF_INNO></td>
				    </tr>
				    
				   
				    
				     <tr>
					<td class="label"><TMPL_VAR PROV_SUMM_OF_YOUR_SOL_TITLE></td>
					<td class="detail"><TMPL_VAR PROV_SUMM_OF_YOUR_SOL></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR UPLOAD_IDEA_SUMM_TITLE></td>
					<td class="detail"><TMPL_IF UPLOAD_IDEA_SUMM><a href="<TMPL_VAR DOMAIN><TMPL_VAR UPLOAD_IDEA_SUMM>" target="_blank">Click To View Image / Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PART_IN_PSG_NANO_BEFORE_TITLE></td>
					<td class="detail">
							<TMPL_IF PART_IN_PSG_NANO_BEFORE>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
				    
				    <tr>
					<td class="label"><TMPL_VAR PLACE_TITLE></td>
					<td class="detail"><TMPL_VAR PLACE></td>
				    </tr>
				    
				    
				    
				    
				    
				    <div>&nbsp;</div>

			    </tbody>
			    
			</table>
	
</TMPL_LOOP>