<style>
	.align_RM{
		text-align: right;
		vertical-align: middle;
	}
	
	
	.align_CM{
		text-align: center;
		vertical-align: middle;
	}
	
	.align_LM{
		text-align: left;
		vertical-align: left;
	}
	
	.no_wrap{
		white-space: nowrap !important;
	}
		
	table.basic{	
		border-top: none !important;		    
		
	}
	
	.GEMA_GEMA{
		
		display: block;
	}
	
	.GEMA_GEFM{
		
		display: none;
	}
	
	.GEMA_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GEFM_GEMA{
		
		display: none;
	}
	
	.GEFM_GEFM{
		
		display: block;
	}
	
	.GEFM_GETR{
		
		display: none;
	}
	
	/*-------------*/
	
	.GETR_GEMA{
		
		display: none;
	}
	
	.GETR_GEFM{
		
		display: none;
	}
	
	.GETR_GETR{
		
		display: block;
	}
	
	
	  
	/*basic table*/
	table.basic thead tr th,
	.heading{
		background-color: #f1f1f1;
		color           : #545454;		
		font-size	: 11px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: center;
		vertical-align	: middle;
		white-space: nowrap;
		
	}
	
	table.basic tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		
		padding-left	: 5px;
		padding-top	: 5px !important;
		padding-bottom  : 5px !important;		
		vertical-align	:top;
		
		
	}
	
	table.basic tr td.label{
		color		:#818181;
	}
	
	table.basic tr td.detail{
		color		:#363636;
	}
	
	/* Inner Table*/
	 
	.inner_heading{
		background-color: #fcfcfc;
		color           : #727272;		
		font-size	: 9px;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;
		vertical-align	: middle;
		border-bottom   : 0.1em thin #ddd;
		white-space: nowrap;
		
	}
	
	table.inner tr td{		
		border-bottom   : 0.1em thin #ddd;		
		font-size	: 10px;
		
		padding-left	: 5px;
		padding-top	: 5px;
		padding-bottom  : 5px;		
		vertical-align	:middle;
		
	}
	
	table.inner tr td.label{
		color		:#818181;
	}
	
	table.inner tr td.detail{
		color		:#363636;
	}
	/*h3*/
	
	.section-title {
		/*background-color: #f1f1f1;*/
		border-bottom:1px solid #cacaca;		
		color           : #454545;
		display:inline-block;
		font-size	: 9px;
		font-weight	: bold;
		padding-top	: 7px;
		padding-bottom  : 7px;
		text-align	: left;

		vertical-align	: middle;	
	}
	
	/* Yes and No */
	
	.yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
	
	
</style>

<TMPL_LOOP DATA_INFO> <!--<TMPL_VAR KEY_ID>-->
	
	<!--<dl>-->
		<!--<dt><u><TMPL_VAR BASIC_APPLICATION_FORM></u></dt>
		<dd>&nbsp;</dd>
		
		<dt><TMPL_VAR NAME_OF_THE_APPLICANT_TITLE></dt>
		<dd><TMPL_VAR NAME_OF_THE_APPLICANT></dd>
		<br>
			
		<dt><TMPL_VAR PHOTOGRAPH_TITLE></dt>
		<dd><TMPL_IF PHOTOGRAPH><img src="<TMPL_VAR PHOTOGRAPH>"></TMPL_IF></dd>
		<br>
			
		<dt><TMPL_VAR FULL_POSTAL_ADDRESS_TITLE></dt>
		<dd><TMPL_VAR FULL_POSTAL_ADDRESS></dd>
		<br>
		
		<dt><TMPL_VAR EMAIL_ADDRESS_TITLE></dt>
		<dd><TMPL_VAR EMAIL_ADDRESS></dd>
		<br>
			
		<dt><TMPL_VAR MOBILE_NUMBER_TITLE></dt>
		<dd><TMPL_VAR MOBILE_NUMBER></dd>
		<br>
			
		<dt><TMPL_VAR AGE_TITLE></dt>
		<dd><TMPL_VAR AGE></dd>
		<br>
			
		<dt><TMPL_VAR GENDER_TITLE></dt>
		<dd><TMPL_VAR GENDER></dd>
		<br>
			
		
		<dt><TMPL_VAR AADHAR_NO_TITLE></dt>
		<dd><TMPL_VAR AADHAR_NO></dd>
		<br>-->
		<!--<table>
			    <thead>
				    <tr>
					<th colspan="2" class="heading"></th>
													
				    </tr>
			    </thead>
			    <tbody>
				<tr>
					<td><img width="100px" src=""></td>
				</tr>
			<tbody>
				
		</table>-->		
			    
		
	<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading" ><TMPL_VAR BASIC_APPLICATION_FORM></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR NAME_OF_THE_APPLICANT_TITLE></td>
					<td class="detail"><TMPL_VAR NAME_OF_THE_APPLICANT></td>
				    </tr>
				    
                                    <tr>
					<td class="label"><TMPL_VAR PHOTOGRAPH_TITLE></td>
					<td class="detail"><TMPL_IF PHOTOGRAPH><a href="<TMPL_VAR DOMAIN><TMPL_VAR PHOTOGRAPH>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
				
					<!--<td class="detail"><TMPL_IF PHOTOGRAPH><img width="100px" src="<TMPL_VAR PHOTOGRAPH>"></TMPL_IF></td>-->
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR FULL_POSTAL_ADDRESS_TITLE></td>
					<td class="detail"><TMPL_VAR FULL_POSTAL_ADDRESS></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR EMAIL_ADDRESS_TITLE></td>
					<td class="detail"><TMPL_VAR EMAIL_ADDRESS></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR MOBILE_NUMBER_TITLE></td>
					<td class="detail"><TMPL_VAR MOBILE_NUMBER></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR AGE_TITLE></td>
					<td class="detail"><TMPL_VAR AGE></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR GENDER_TITLE></td>
					<td class="detail"><TMPL_VAR GENDER></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR AADHAR_NO_TITLE></td>
					<td class="detail"><TMPL_VAR AADHAR_NO></td>
				    </tr>
				    <div>&nbsp;</div>

			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	
		<hr>
			
		<!--<dt><u><TMPL_VAR ABOUT_THE_APPLICANT_TITLE></u></dt>
		<dd>&nbsp;</dd>
		
		<dt><TMPL_VAR BUTE_TITLE></dt>
		<dd><TMPL_VAR BUTE></dd>
		<br>
			
		<dt><TMPL_VAR AERTEL_TITLE></dt>
		<dd><TMPL_VAR AERTEL></dd>
		<br>
			
		<dt><TMPL_VAR ATTACH_CV_TITLE></dt>
		<dd><TMPL_VAR ATTACH_CV></dd>
		<br>
		<hr>-->
			
		<table class="basic" border="0" cellpadding="7px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR ABOUT_THE_APPLICANT_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR BUTE_TITLE></td>
					<td class="detail"><TMPL_VAR BUTE></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR AERTEL_TITLE></td>
					<td class="detail"><TMPL_VAR AERTEL></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR ATTACH_CV_TITLE></td>
					
					<td class="detail"><TMPL_IF ATTACH_CV><a href="<TMPL_VAR DOMAIN><TMPL_VAR ATTACH_CV>"  target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
					
				    </tr>
			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	
	<hr>	
		<!--<dt><u><TMPL_VAR ABTAPTBI_TITLE></u></dt>
		<dd>&nbsp;</dd>
		
		
		<dt><TMPL_VAR PDTWSO_TITLE></dt>
		<dd><TMPL_VAR PDTWSO></dd>
		<br>
			
		<dt><TMPL_VAR ATTACH_TECH_BUSIN_IDEA_TITLE></dt>
		<dd><TMPL_VAR ATTACH_TECH_BUSIN_IDEA></dd>
		<br>
			
		<dt><TMPL_VAR ATTACH_TECH_INTEN_IDEA_TITLE></dt>
		<dd><TMPL_VAR ATTACH_TECH_INTEN_IDEA></dd>
		<br>
			
			
		<dt><TMPL_VAR TECH_BUSINESS_IDEA_TITLE></dt>
		<dd><TMPL_VAR TECH_BUSINESS_IDEA></dd>
		<br>
			
			
		<dt><TMPL_VAR TECH_BUSI_IDEA_LEVER_TECH_TITLE></dt>
		<dd><TMPL_VAR TECH_BUSI_IDEA_LEVER_TECH></dd>
		<br>
			
		<dt><TMPL_VAR TECH_BUSI_IDEA_WITH_CONSI_TITLE></dt>
		<dd><TMPL_VAR TECH_BUSI_IDEA_WITH_CONSI></dd>
		<br>-->
		
			<table class="basic" border="0" cellpadding="5px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR ABTAPTBI_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR PDTWSO_TITLE></td>
					<td class="detail"><TMPL_VAR PDTWSO></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR ATTACH_TECH_BUSIN_IDEA_TITLE></td>
					<td class="detail"><TMPL_IF ATTACH_TECH_BUSIN_IDEA><a href="<TMPL_VAR DOMAIN><TMPL_VAR ATTACH_TECH_BUSIN_IDEA>">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
				    </tr> 		   
                                    
                                    <tr>
					<td class="label"><TMPL_VAR ATTACH_TECH_INTEN_IDEA_TITLE></td>
					<td class="detail"><TMPL_IF ATTACH_TECH_INTEN_IDEA><a href="<TMPL_VAR DOMAIN><TMPL_VAR ATTACH_TECH_INTEN_IDEA>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR TECH_BUSINESS_IDEA_TITLE></td>
					<td class="detail">
							<TMPL_IF TECH_BUSINESS_IDEA>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
					</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR TECH_BUSI_IDEA_LEVER_TECH_TITLE></td>
					<td class="detail"><TMPL_IF TECH_BUSI_IDEA_LEVER_TECH>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR TECH_BUSI_IDEA_WITH_CONSI_TITLE></td>
					<td class="detail">
						<TMPL_IF TECH_BUSI_IDEA_WITH_CONSI>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
			    </tbody>
			    
			</table>
	<div>&nbsp;</div>
	
		<hr>
			
		<!--<dt><u><TMPL_VAR CHECK_LIST_FOR_EC_TITLE></u></dt>
		<dd>&nbsp;</dd>
		<br>
			
		<dt><TMPL_VAR APPLI_CONF_TITLE></dt>
		<dd><TMPL_VAR APPLI_CONF></dd>
		<br>
			
		<dt><TMPL_VAR APPLI_PLANNING_TITLE></dt>
		<dd><TMPL_VAR APPLI_PLANNING></dd>
		<br>
			
		<dt><TMPL_VAR APPLI_CONF_THAT_TITLE></dt>
		<dd><TMPL_VAR APPLI_CONF_THAT></dd>
		<br>
			
		<dt><TMPL_VAR APPLI_CONF_THAT_COMMIT_TITLE></dt>
		<dd><TMPL_VAR APPLI_CONF_THAT_COMMIT></dd>
		<br>
			
		<dt><TMPL_VAR APPLI_CONF_THAT_PROMOTE_TITLE></dt>
		<dd><TMPL_VAR APPLI_CONF_THAT_PROMOTE></dd>
		<br>
			
		<dt><TMPL_VAR THE_NIDHI_EIR_TITLE></dt>
		<dd><TMPL_VAR THE_NIDHI_EIR></dd>
		<br>
-->
<table class="basic" border="0" cellpadding="5px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR CHECK_LIST_FOR_EC_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				    <tr>
					<td class="label"><TMPL_VAR APPLI_CONF_TITLE></td>
					<td class="detail">
						<TMPL_IF APPLI_CONF>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR APPLI_PLANNING_TITLE></td>
					<td class="detail">
						<TMPL_IF APPLI_PLANNING>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR APPLI_CONF_THAT_TITLE></td>
					<td class="detail">
						<TMPL_IF APPLI_CONF_THAT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR APPLI_CONF_THAT_COMMIT_TITLE></td>
					<td class="detail">
						<TMPL_IF APPLI_CONF_THAT_COMMIT>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR APPLI_CONF_THAT_PROMOTE_TITLE></td>
					<td class="detail"><TMPL_IF APPLI_CONF_THAT_PROMOTE>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR THE_NIDHI_EIR_TITLE></td>
					<td class="detail"><TMPL_IF THE_NIDHI_EIR>
							<span class="yes">Yes</span>
							<TMPL_ELSE>
							<span class="no">No</span>
							</TMPL_IF>
						</td>
				    </tr>
                            </tbody>
			    
			</table>
	<div>&nbsp;</div>
<hr>
		
		<!--<dt><u><TMPL_VAR UNDER_AND_SIGN_TITLE></u></dt>
		<dd>&nbsp;</dd>
		<br>
			
		<dt><TMPL_VAR PLACE_TITLE></dt>
		<dd><TMPL_VAR PLACE></dd>
		<br>
			
		<dt><TMPL_VAR DATE_TITLE></dt>
		<dd><TMPL_VAR DATE></dd>
		<br>
		
		<dt><TMPL_VAR SIGNATURE_TITLE></dt>
		<dd><TMPL_IF SIGNATURE><img src="<TMPL_VAR SIGNATURE>"></TMPL_IF></dd>
		<br>-->
		
		<table class="basic" border="0" cellpadding="5px">
			    <thead>
				    <tr>
					<th colspan="2" class="heading"><TMPL_VAR UNDER_AND_SIGN_TITLE></th>
													
				    </tr>
			    </thead>
			    
			    
			    <tbody>
				   <tr>
					<td class="label" colspan="3">
					 I confirm that the above mentioned information is true.<br>
					 I confirm that I have read and understood the guidelines. <br>
					 I confirm that I meet requirements of the programme and shall abide by the rules of the programme. <br>
					 I confirm that I shall provide all requested data and information to the PEP and PIP in a timely manner. <br>
					 I commit to keeping the PEP promptly informed about all key business related developments including incorporation of company, success in raising grant/equity/other funding etc. <br>
					 If selected as NIDHI-EIR, I will avail support under NIDHI EIR scheme from only one NIDHI-TBI for the shortlisted idea.<br>
					 I will not avail the funding support from both the schemes i.e NIDHI-PRAYAS and NIDHI - EIR simultaneously, from the same or different NIDHI-TBIs.</td>
					<td class="detail">&nbsp;</td>
				    </tr>
				 <br>
				     <tr>
					<td class="label"><TMPL_VAR CONF_LETTER_TITLE></td>
					<td class="detail"><TMPL_IF CONF_LETTER><a href="<TMPL_VAR DOMAIN><TMPL_VAR CONF_LETTER>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
				    </tr>
					
				    <tr>
					<td class="label"><TMPL_VAR PLACE_TITLE></td>
					<td class="detail"><TMPL_VAR PLACE></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR DATE_TITLE></td>
					<td class="detail"><TMPL_VAR DATE></td>
				    </tr>
                                    
                                    <tr>
					<td class="label"><TMPL_VAR SIGNATURE_TITLE></td>
					<td class="detail"><TMPL_IF SIGNATURE><a href="<TMPL_VAR DOMAIN><TMPL_VAR SIGNATURE>" target="_blank">Click To View Document</a><TMPL_ELSE><span class="clr_gray_c">NA</span></TMPL_IF></td>
				
					<!--<td class="detail"><TMPL_IF SIGNATURE><img width="100px" src="<TMPL_VAR DOMAIN><TMPL_VAR SIGNATURE>"></TMPL_IF></td>-->
				    </tr>
                            </tbody>
			    
			</table>
	<div>&nbsp;</div>
			
	<!--</dl>-->
	
</TMPL_LOOP>