<!---3655--->
       <section id="3872"  >
	       
	      <!-- Carousel -->
	      <div id="main-slide" class="carousel slide" data-ride="carousel">
       
	       <!-- Indicators -->
	      <ol class="carousel-indicators" id="carousel-indicators">
		 <!--<li data-target="#main-slide" data-slide-to="0" class="active"></li>-->
	      </ol>
	      
	      <div class="carousel-inner">
		      
			  
				  <div class="item active">
				       <img class="img-responsive" src="terminal/test/images/hb_3880_1.jpg" alt="slider">
				       <div class="slider-content">
					 <div class="col-md-12 text-center">
					  
					  
					 </div>
				       </div>
				 </div>
	       
				 <script> G.$('carousel-indicators').innerHTML+='<li data-target="#main-slide" data-slide-to="'+(Number(1)-1)+'" class="active"></li>';</script>
		       
			  
				  <div class="item ">
				       <img class="img-responsive" src="terminal/test/images/hb_4730_1.jpg" alt="slider">
				       <div class="slider-content">
					 <div class="col-md-12 text-center">
					  
					  
					 </div>
				       </div>
				 </div>
	       
				 <script> G.$('carousel-indicators').innerHTML+='<li data-target="#main-slide" data-slide-to="'+(Number(2)-1)+'" ></li>';</script>
		      
	       </div>
	       <!-- Carousel inner end-->
       
	       <!-- Controls -->
	       <a class="left carousel-control" href="#main-slide" data-slide="prev">
		 <span><i class="fa fa-angle-left"></i></span>
	       </a>
	       <a class="right carousel-control" href="#main-slide" data-slide="next">
		 <span><i class="fa fa-angle-right"></i></span>
	       </a>
		       
	      </div>
	      <!-- /carousel -->
		 
       </section>

		<section  class="marquee_area">
			<div class="container font-lusitana clr_gray_7">	  
				<div class="marquee col-md-12 font-ptsans" id="marquee" name="fn-marquee">
										
						<a href="">Integer tincidunt sapien eu sapien fringilla, in molestie tortor ultricies.</a>			
										
						<a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>			
										
						<a href="">Aliquam vitae nibh at nibh vulputate blandit et tristique erat.</a>			
					
				</div>	  
			</div>
		</section>

      <section id="3894" class=" font_lato brdr_bottom">
	<div class="container">
	       <div class="col-md-12 mar_tb_3">&nbsp;</div>
		     
			    
				    <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
				          <h1>About Us</h1>
					  
				    </div>
			    
		     	
	      
		
		 <a class="col-md-5 col-sm-6 col-xs-12 polaroid">
		  <img src="terminal/test/images/ha_3895_1.jpg" alt="" title="" class="img-responsive frame_gray_1">
		  <span class="primary">About Us</span>
		 </a>
		 <div class="col-md-7 col-sm-6 col-xs-12">
		     <div class="col-md-12 mar_tb_10 visible-xs"></div>
		     
		     <p class="txt_size_13 align_J"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></p>
		     <div class="col-md-12 mar_tb_10"></div>
		 </div>
	      
	</div>
     </section>	

       
	      <script>
		     var hi_temp=String('logo').split(',');
		     
		     if (hi_temp[1]=='href') {			
			   G.$(hi_temp[0]).href='terminal/test/images/logo_1.png'; 
		     }else{		     
		           G.$('logo').src='terminal/test/images/logo_1.png';
		     }
		     
	      </script>
       
	      <script>
		     var hi_temp=String('favicon,href').split(',');
		     
		     if (hi_temp[1]=='href') {			
			   G.$(hi_temp[0]).href='terminal/test/images/favicon_1.png'; 
		     }else{		     
		           G.$('favicon,href').src='terminal/test/images/favicon_1.png';
		     }
		     
	      </script>
       
        <section id="4618" class="brdr_bottom">
	  <div class="container">	
	       <div class="row">
		   <div class="col-md-12">
				   
						
						       <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
							   <div>&nbsp;</div><div>&nbsp;</div><h1>Accordion</h1>
							
							</div>
					   	
				   
				   
			   <div class="panel-group" id="accordion_4618" >
			    
			    
			       <div class="panel panel-default">
				
				   <div class="panel-heading">
				   <h4 class="panel-title">
				   <a data-toggle="collapse"
				      data-parent="#accordion_4618"
				      href="#collapse-4618_1"
				    >
				   <i class="fa fa-angle-up control-icon"></i>
				   <i class="fa fa-chevron-circle-right"></i>Proin vel elit id metus tincidunt luctus.
				   </a>
				   </h4>
				   </div>
				   
				
				   
				   <div id="collapse-4618_1" class="panel-collapse collapse in">
				   <div class="panel-body"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#39;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p></div>
				   </div>
			       </div>
			       
			       <div class="panel panel-default">
				
				   <div class="panel-heading">
				   <h4 class="panel-title">
				   <a data-toggle="collapse"
				      data-parent="#accordion_4618"
				      href="#collapse-4618_2"
				    >
				   <i class="fa fa-angle-up control-icon"></i>
				   <i class="fa fa-chevron-circle-right"></i>Maecenas porta risus et sollicitudin porta.
				   </a>
				   </h4>
				   </div>
				   
				
				   
				   <div id="collapse-4618_2" class="panel-collapse collapse ">
				   <div class="panel-body"><p><b>Lorem Ipsum</b>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></div>
				   </div>
			       </div>
			       
			   
			   </div>
		   </div>
	       </div>
	    </div>
       </section> 
	<section id="3948" class="brdr_bottom">	    
	    <div class="col-md-12">&nbsp;</div>
		<div id="content">
		    <div class="container">
			<div class="row">
			   
	    
            
		<div class="col-md-5">
		    <h4 class="classic-title"><span>Reach Us</span></h4>
			 <div class="hr1" style="margin-bottom:10px;"></div>

		    
			<ul class="icons-list">
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr"><li><i class="fa fa-globe"></i></div>
			    <div class="col-md-11"><strong>Address:</strong></div>
			    </div>
			    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Organization</div>			    
			    </div>
			    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Residential Address Line 1 </div>
			    </div>
		    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Residential Address Line 2 </div>
			    </div>
			    
			    				   
				   <div class="col-md-12">&nbsp;</div>	       
				  
				   <div class="col-md-12">
					  <div class="col-md-1 pad_lr"><li><i class="fa fa-envelope-o"></i></div>
					  <div class="col-md-11"><strong>Email:</strong></div>
				   </div>
				    
				   <div class="col-md-12">
					  <div class="col-md-1 pad_lr">&nbsp;</div>
					  <div class="col-md-11">Email</div>
				   </div>			    
			    
			    
			    			   
				   <div class="col-md-12">&nbsp;</div>			   
			    
				   <div class="col-md-12">
				     <div class="col-md-1 pad_lr"><li><i class="fa fa-mobile fa-2x"></i></div>
				     <div class="col-md-11"><strong>Mobile:</strong></div>
				   </div>
				   
				   <div class="col-md-12">  
				     <div class="col-md-1 pad_lr">&nbsp;</div>
				     <div class="col-md-11">Mobile</div>
				   </div>
			    
			
			    			   
				   <div class="col-md-12">&nbsp;</div>			   
			    
				   <div class="col-md-12">
				     <div class="col-md-1 pad_lr"><li><i class="fa fa-phone fa-2x"></i></div>
				     <div class="col-md-11"><strong>Phone:</strong></div>
				   </div>
				     
				   <div class="col-md-12">
				      <div class="col-md-1 pad_lr">&nbsp;</div>
				      <div class="col-md-11">Landline</div>
				   </div>			       
			       
			     
			     <script>
				   G.$('menu_org_name').innerHTML='Organization';
				   G.$('menu_email').innerHTML='Email';
				   G.$('menu_phone').innerHTML='Landline';
				   G.$('menu_mobile').innerHTML='Mobile';
			    </script> 
			</ul>
		    
		    <div>&nbsp;</div>
		    <div>&nbsp;</div>
		</div>	    
	    
	    
	    <div class="col-md-1 ">&nbsp;</div>
	    
	     <div class="col-md-6 brdr_left">
				    <h4 class="classic-title"><span>Enquiry</span></h4>
				    <form id="enquiry_form" class="has-validation-callback">
					  <div class="form-group">				    
						 <label for="name">Name:</label>
						 <input type="name" class="form-control" id="a" placeholder="Enter name" name="a" data-validation="length" 
					                            data-validation-length="3-32"  >
					  </div>
					<!--  <div class="form-group">
					    <label for="email">Email:</label>
					    <input type="email" class="form-control" id="b" placeholder="Enter email" name="b" data-validation="email" >
					  </div>-->
					  <div class="form-group">
					    <label for="mobile">Mobile No./Contact Phone No.:</label>
					    <input type="text" class="form-control" id="b" placeholder="Enter Mobile No./Contact Phone No." name="b"
						            data-validation="length alphanumeric" data-validation-length="10-25">
					  </div>
					  <div class="form-group">
					  	 <label for="sel1">Enquiry On:</label>
						 <select class="form-control" id="c" data-validation="required"><option value="">Select</option>
							
						 </select>
					  </div>
				          <div class="form-group">
						 <label for="comment">Comment:</label>
						 <textarea class="form-control" rows="5" id="d" placeholder="Enter comment" maxlength="500" name="d"></textarea>
					  </div>
					  <button type="submit" class="btn-system btn-medium">Submit</button>
					  <button type="reset" class="btn-system  border-btn btn-small">Reset</button>
					  
				    </form>
			    </div>
	     
        </div>
		    </div>
		</div>
	</section>
    