<TMPL_LOOP DATA_INFO>
         <!--<TMPL_VAR DETAIL>-->
                  
                  Capacity: &nbsp; <TMPL_VAR CAPACITY>
                  <br>
                 <!--Voltage:<TMPL_VAR VOLTAGE>
                                    <br>-->
                  Wave form: &nbsp; <TMPL_VAR WAVE_FORM>
                  
</TMPL_LOOP>

