	<!---<TMPL_VAR LIB_PATH><TMPL_VAR TERMINAL_PATH><TMPL_VAR PAGE_TITLE><TMPL_VAR CURRENT_YEAR><TMPL_VAR THEME_ROUTE><TMPL_VAR DEFAULT_FOOTER>--->
      
	
      <TMPL_UNLESS IS_USER>	
	<footer>
	 
	  <div class="container">
	    <div class="row footer-widgets">    	
	      
	      <div class="copyright-section">	      
		
		<div class="row">		
		  
		  <div class="col-md-9">
		    <p>&copy; <TMPL_VAR CURRENT_YEAR> </p>
		    <span id="footer"><TMPL_VAR DEFAULT_FOOTER></span>
		  </div>		  
		  
		  <div class="col-md-3">
		    <ul class="footer-nav">
		      <li></li>		  
		    </ul>
		  </div>	
		</div>	  
	      </div>
	    </div>
	  </div>
	  
	</footer>
    
	</TMPL_UNLESS>
	
	
	
	<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
		 
	<script type="text/javascript" src="<TMPL_VAR THEME_ROUTE>/js/script.js"></script>       
        
	<script language="JavaScript" type="text/javascript">
            
	    if(document.getElementById('<TMPL_VAR PAGE_ID>')!=undefined){            
	       document.getElementById('<TMPL_VAR PAGE_ID>').className='active';
	    }
	    
            $(function() {
	
		  <TMPL_IF COACH_ADDON>
			 <TMPL_LOOP COACH_ADDON>			
				  ELEMENT('<TMPL_VAR BINDER>').innerHTML='<TMPL_VAR CONTENT>';
			  </TMPL_LOOP>
		  </TMPL_IF> 
   	      
		  $("a[rel^='prettyPhoto']").prettyPhoto({
		      theme: "pp_default",
		      social_tools: false		  
		      });	      
	      
		    <TMPL_IF IS_HOME>
		    </TMPL_IF>
		    
		    <TMPL_IF SIGN_EMAIL>	   
			$('#myModalSignIn').modal('show');		      
			$('#inputEmail').val('<TMPL_VAR SIGN_EMAIL>');		      		    
		    </TMPL_IF>
		   
		    <TMPL_IF SIGNUP_EMAIL>		   		      
			$('#myModal_signUp').modal('show');		      
			$('#singUpinputEmail').val('<TMPL_VAR SIGNUP_EMAIL>');			
		    </TMPL_IF>
		    
		    modal_hide_events();
                    
                    
                    
                    $.validate({
                        
                                form : '#enquiry_form',
                    
                                //modules : 'location, date, security, file',
                                onSuccess : function($form) {
                                                
                                                var enquiry = new ajax();
                                                    
                                                var form_data = new Object({"a":G.$('a').value,
                                                                            "b":G.$('b').value,
                                                                            "c":G.$('c').value,
                                                                            "d":G.$('d').value,
                                                                           });    
                                                    
                                                enquiry.set_request('router.php','&series=a&action=enquiry&token=NESC'+
                                                                                 '&param='+JSON.stringify(form_data));
                                                                                   
                                                enquiry.send_get(enquiry_response);
                                                
                                                 G.showLoader('Sending your request..');
                                                
                                                return false; // Will stop the submission of the form
                                            
                                } // end
                    });
                                                
                                                
                    // query
                    
                    function enquiry_response(response){
                        
                            if(response==1){
                                G.hideLoader();
                                G.bs_alert_success('Thanks for your query.');
                            }
                    } //
		  
		    
		    
		   
            });
                    
    </script>
	
    <script>
		    function modal_signup(){
					
					$('#myModal_signUp').modal();
					
		    }	
    </script>
