	
	
	
	fieldset{		
		border		: none !important;
		box-shadow: none !important;
		display		: block;		
		width		: 95%;
		margin-top	: 25px;
	}
	
	fieldset legend{
		display: none;
	}
	
	fieldset ul{
		border: none;
	}	
	
	fieldset .row{
		/*border-bottom: 1px solid #343434;*/
		display		:block;		
		font-size	: 13px;		
		width		: 100% !important;		
	}
	
	
	fieldset .label{				
		display		: block;
		float		: left;
		font-size	: 14px !important;			
		height		: auto;
		padding-right	: 1%;
		padding-left	: 0% !important; 
		padding-bottom	: 5px; 
		text-align	: left;
		width		: 96%;
	}
	
	
	fieldset .value{		
		display		: block;
		float		: left;
		height		: auto;
		/*overflow	: auto;*/
		padding-left	: 0% !important;
		text-align	: left !important;		
		vertical-align	: top;
		width		: 96%;
	}