	
	fieldset{
		
		border		: none;		
		display		: table;		
		width		: 100%;
		margin-top	: 25px;
	}
	
	
	fieldset .row{
		/*border-bottom: 1px solid #343434;*/
		display		:block;
		float: left;
		width: 50% !important;
		height: auto;
	}
	
	
	fieldset .label{				
		display		: block;
		white-space	: nowrap;
		width: 25% !important;
	}
	
	
	fieldset .value{		
		display		: block;
		width: 75% !important;
		
	}