       <TMPL_IF OUR_SKILL_{{SECTION_ID}}>     
	      <section id="{{SECTION_ID}}"class="bar_bg font brdr_bottom">
		     <div class="partner">
			    <div class="container">
			    <div class="row">
			    <div class="col-md-12">
				   
				   <div class="col-md-6">&nbsp;</div>
				   
				   <div class="col-md-6">
					  
							<TMPL_LOOP OUR_SKILL_{{SECTION_ID}}>
							       <div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
								      <TMPL_IF HEADING><div>&nbsp;</div><h1><TMPL_VAR HEADING></h1></TMPL_IF> 
							       </div>
							</TMPL_LOOP>
							
							<TMPL_IF OUR_SKILL_{{SECTION_ID}}>
							       <div class="our-clients">
								    <div class="skill-shortcode animated flipInX faster">
								       <TMPL_LOOP HOME_OUR_SKILL_{{SECTION_ID}}>
									     <div class="skill">
										  <p><TMPL_VAR SKILL_TYPE></p>
										  <div class="progress">
										     <div class="progress-bar" role="progressbar" data-percentage="<TMPL_VAR SKILL_PERCENTAGE>">
											   <span class="progress-bar-span"><TMPL_VAR SKILL_PERCENTAGE>%</span>
											   <span class="sr-only"><TMPL_VAR SKILL_PERCENTAGE>% Complete</span>
										     </div>
										  </div>
									     </div>     
								       </TMPL_LOOP>
								    </div>  
							       </div>
							</TMPL_IF>
						 </div>
					  </div>
				   </div>
			    </div>
		     </div>
	      </section>
       </TMPL_IF>