<TMPL_IF TESTIMONIAL_{{SECTION_ID}}>
			
	   <section id="{{SECTION_ID}}" class="brdr_bottom">
		<div class="container">
		
		<TMPL_LOOP TESTIMONIAL_{{SECTION_ID}}>
		
				
				<div class="container">
				<!--<div class="col-md-12 pad_100_tb">&nbsp;</div>-->
				<!--<div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>-->
				<div class="col-md-12">
					
				<div class="big-title align_CM" data-animation="fadeInDown" data-animation-delay="01">
				<TMPL_IF TM_HEAD><div></div><h1><TMPL_VAR TM_HEAD></h1></TMPL_IF>
							      
				</div>
		 </TMPL_LOOP>
		
		
		
				
		    <div class="custom-carousel show-one-slide touch-carousel animated1 flipInX faster" data-appeared-items="1">
		    <TMPL_LOOP HOM_TM_CONT_{{SECTION_ID}}>
			<div class="classic-testimonials item">
				<div class="testimonial-content">
					    <p><TMPL_VAR TM_CONT></p>
				 </div>
				<div class="testimonial-author"><span><TMPL_VAR TM_AUTH></span> - <TMPL_VAR TM_SPEC></div>
			</div>
		</TMPL_LOOP>
		    </div>
		
		
			
			<div class="col-md-12 pad_100_tb">&nbsp;</div>
			</div>
			</div>
		</div>
	   </section>
</TMPL_IF>