
	
	<div id="left_menu" class="navbar navbar-fixed-top container vertical-menu" role="navigation" >
		     
		<div class="collapse navbar-collapse col-md-4" id="navbarCollapse">
		    <ul class="nav nav-tabs nav-stacked">
			<li><a class="page-scroll h" href="#1532">Home</a></li>
			<li><a class="page-scroll a" href="#1533">About Us</a></li>
			<li><a class="page-scroll g" href="#1534">Products</a></li>
			<li><a class="page-scroll y" href="#1535">VarDig-R</a></li>
			<li><a class="page-scroll v" href="#1536">People</a></li>
			<li><a class="page-scroll c" href="#1537">Career</a></li>
			<li><a class="page-scroll r" href="#1538">Reach Us</a></li>
			<li><a class="page-scroll e" href="#1539">Enquiry</a></li>
			<li><a class="page-scroll o" href="#1540">Our Skill</a></li>
			<li><a class="page-scroll t" href="#1541">Testimonial</a></li>
			<li><a class="page-scroll fe" href="#1542">Feature</a></li>

		    </ul>
		</div>
		<div class="col-md-8">&nbsp;</div>

       </div>
	
	
			
      <section id="1532" style='background-image:url("terminal/default/images/bg_a.jpg");background-position:center;' >
	<div class="container" >
	     
		
		<div class="col-md-4 col-sm-6 col-xs-12"></div>
		
		 <div class="col-md-8 col-sm-6 col-xs-12">
		     
			<div class="col-md-12 pad_100_tb">&nbsp;</div>
		     
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>variants deciphered</h1>
			</div>
				    
			<p class="home_text_layer animated flipInX faster">
			Genomatics builds robust and intelligent products which talk to databases containing various types of value-added datasets like the gene-function data, SNP drug or SNP diagnostics data, and other types of variants data. The products help to answer various types of queries of the users&nbsp;&nbsp;<a href="#1533" class="txt_color_2 page-scroll more txt_size_20 animated flash infinite zoomIn"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
</a>
			</p>
			
			
			<div class="col-md-12 pad_100_tb">&nbsp;</div>
		 </div>
	      
	</div>
	<div class="col-md-12 pad_50_tb">&nbsp;</div>

     </section>	



       		
       <section id="1533"  style='background-image:url("terminal/default/images/bg_b.jpg")'>
	<div class="container">
	      
		<div class="col-md-4 col-sm-6 col-xs-12"></div>
		
		 <div class="col-md-8 col-sm-6 col-xs-12">
		     
			
		     
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>About Us</h1>
			</div>
				    
				    
				    
					<p class="a_text_layer">
						
					<span class="txt_size_14">
					Genomatics builds robust and intelligent products which talk to databases containing various types of value-added datasets like the gene-function data, SNP drug or SNP diagnostics data, and other types of variants data. The products help to answer various types of queries of the users.
					
					<br><br>
					Genomatics is all set to build products which solve the problems faced by scientists and clinicians around the world.
					</span>	
					<br><br>
					<b>Genomatics vision is, to become a world leader in producing comprehensive products connecting the dots between ‘Genomics’ and ‘Pharma or R&amp;D’ and build a ‘disease-free world’ ! And the mission is to build intelligent products and accelerate scientific discovery</p>
					
					</p>
					
					<!--bottom menu bar-->
					
					<div>&nbsp;</div>
					<div class="visible-xs">&nbsp;</div>
					
					<div class="col-md-12 col-xs-12 bottom_menu ">
						
						<div class="col-md-2 hidden-xs">&nbsp;</div>
						<div class="col-md-3 col-xs-6 text-right">
							<a href="#1532" class=" txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> Home</a>
						</div>
						<div class="col-md-1 hidden-xs">&nbsp;&nbsp;&nbsp;|&nbsp;</div>
						<div class="col-md-3 col-xs-6 text-left">
							<a href="#1534" class="text-right txt_color_2 page-scroll">Products <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
					</div>
			
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-md-12 pad_100_tb hidden-xs">&nbsp;</div>
		</div>
	      
		</div>


	</section>
			


      	
	<section id="1534"  style='background-image:url("terminal/default/images/bg_c.jpg")'>
	<div class="container">
	      
		<div class="col-md-4 col-sm-6 col-xs-12"></div>
		
		 <div class="col-md-8 col-sm-6 col-xs-12">
		     
			<div class="col-md-12 pad_50_tb">&nbsp;</div>
		     
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>Products</h1>
			</div>
				    
				    
				    
					<p class="g_text_layer">
						
					<span>Rapid advancements in science and technology has created the ‘Big Data Genomic World’ and has empowered bioinformaticians to build intelligent and elegant tools to dig out refined data and accelerate scientific discovery. </span>
					
					<br><br>
					<span>Var (Variants) Di (Diseases) and G (Genes) – VarDiG is one such product line of Genomatics which employs a judicious mix of bioinformatics methodolgies and manual curation procedures to bring out the relationships between the Variants, Diseases and Genes. The literature evidence captured helps in identifying clinically actionable and biologically significant variants.</span>
					
					<br><br><span>Genomatics aims to build its products for various categories of users like researchers, academicians, molecular geneticists, bioinformaticians, molecular biologists, pharmacogeneticists and clinicians. Hence Genomatics has come up with different flavors of VarDiG. </span>
						
						
					
					</p>
					
					
					<p class="g_text_layer">
			
						<span><b>VarDiG-R</b> (Research) is a version which has been made for the academic and clinical researchers and laboratories offering diagnostic tests for inherited diseases. VarDiG-R is ready for commercial use. Limited time trial subscriptions are also available for VarDig-R. Interested researchers can fill up the contact form or send your enquiries to contact@genomatics.in to get a trial license.</span>
							<br><br><span><b>VarDiG-P</b> for the Pharmacogeneticists with information about drugs associated with specific variants. Development of this product is in progress and is expected to be available for commercial use by early 2019.</span>
								<br><br><span><b>VarDiG-C</b> for Clinicians with a database of somatic mutations relevant for cancer research and diagnostics. This database is expected to integrate validated information from all other somatic mutation databases and is expected to be available for commercial use by 2020. </span>
									
					</p>
					
					
					
					<!--bottom menu bar-->
					
					<div>&nbsp;</div>
					
					<div class="col-md-12 col-xs-12 bottom_menu">
						<div class="col-md-3 col-xs-6">
							<a href="#1533" class=" txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> About Us</a>
						</div>
						
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						
						<div class="col-md-3  col-xs-6 text-right">
							<a href="#1535" class="txt_color_2 page-scroll">VarDiG-R  <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
					</div>
			
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-xs-12">&nbsp;</div>
			
			<div class="col-md-12 pad_100_tb hidden-xs">&nbsp;</div>
			
		</div>
		 
		 
	      
		</div>

	</section>
	    

	    
	<section id="1535"  style='background-image:url("terminal/default/images/bg_d.jpg")'>
	<div class="container">
	      
		<div class="col-md-4 col-sm-6 col-xs-12"></div>
		
		 <div class="col-md-8 col-sm-6 col-xs-12">
		     
			<div class="col-md-12 pad_50_tb">&nbsp;</div>
		     
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>VarDig-R</h1>
			</div>
					<p class="y_text_layer">

					<span>
						<b>VarDiG-R</b> is a powerful software platform which has been built on SAAS model, With the web interface users can delve deep into the plethora of genetic data that have been collated, extracted and integrated in a way to help the scientific community understand the human genetic mutational spectra better.
					<br><br>
						<b>VarDiG-DB</b>, the backend, is an expert-curated database which contains 260,000 variants which includes both exonic and intronic variants, as well as variants for regulatory region and intergenic region. VarDiG-R’s web interface, talks to the underlying value database which contains the most updated data mappings of variants, diseases and genes identified in the world. The underlying processes which create and maintain the VarDiG-DB undergo a vigorous quality control process to produce a database which has integrity, accuracy and that which is up-to-date
					</span>
					</p>
					
					<div class="col-md-12 a_text_layer">
						
						<div class="col-md-9">
							<ul><b>VarDiG-R DB</b> contains the following curated and validated information about each variant:
								<li>&nbsp;&nbsp;&nbsp;&nbsp; •	&nbsp; Details of the variant, including nucleotide and amino acid changes</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp; •	&nbsp; Type of variant and impact on the protein</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp; •	&nbsp; Genomic coordinates</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp; •	&nbsp; Disease association and reported clinical information</li>
								<li>&nbsp;&nbsp;&nbsp;&nbsp; •	&nbsp; Literature reference</li>
							</ul>
						</div>
						<!--<div class="col-xs-12 hidden-md">&nbsp;</div>-->
						<div class="col-md-3 pad_lr"><img src="terminal/default/images/vardigr.jpg"></div>
					</div>
					<div class="col-md-12 hidden-xs">&nbsp;</div>
					<p class="y_text_layer">
						
						<span><b>VarDig-R</b> is available to users as a licensed searchable web interface with a yearly subscription model. The database is continually updated with latest information from literature. During the subscription period, users will be eligible to receive all updates that take place within the period
						
						<br><br>Limited time trial subscriptions are also available for VarDig-R. Interested researchers can fill up the contact form or send  your enquiries to contact@genomatics.in to get a trial license.</span>
					
					
					</p>
					<div>&nbsp;</div>
					
					<div class="col-md-12 col-xs-12 bottom_menu">
						<div class="col-md-3 col-xs-6">
							<a href="#1534" class="pad_lr txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> Products</a>
						</div>
						
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						
						<div class="col-md-3 col-xs-6 text-right">
							<a href="#1536" class="txt_color_2 page-scroll">People  <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
					</div>
			
			
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-md-12 pad_50_tb hidden-xs">&nbsp;</div>
		</div>
	      
		</div>

	</section>    


	
		<section id="1536"  style='background-image:url("terminal/default/images/bg_e.jpg")'>
	<div class="container">
	      
		<div class="col-md-4 col-sm-6 col-xs-12"></div>
		
		 <div class="col-md-8 col-sm-6 col-xs-12">
		     
			<div class="col-md-12 pad_50_tb">&nbsp;</div>
		     
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>Team</h1>
			</div>
				    
				    
			<div class="col-md-12 v_text_layer">
				
				
				<div class="col-md-3 pad_lr"><img src="terminal/default/images/team_a.jpg"></div>
				<div class="col-md-9">
					<div class="pad_20_tb"></div>
					<div class="pad_10_tb"></div>
					<span><b class="txt_size_20">Chellappa Gopalakrishnan</b><br><i class="text_size_14">Founder & CEO</i></span><br>
					<!--Maecenas ipsum ex, feugiat in accumsan eu, varius et libero. Ut iaculis tempus metus, a finibus nibh semper eget. Vestibulum vitae nunc vel nisi lacinia interdum at non purus. Fusce ac ornare leo, interdum congue elit. Nulla facilisi. Nulla tristique vel felis vel tincidunt. Fusce dolor purus, dictum convallis luctus ut, malesuada non turpis. Curabitur faucibus iaculis rutrum. Curabitur vel porta libero.-->
					
					
				</div>
				
				
			</div>	 
				  
					    
			<div class="col-md-12 a_text_layer">
				
				
				
				<div class="col-md-9">
					
					<div class="pad_20_tb"></div>
					<div class="pad_10_tb"></div>
					<span><b class="txt_size_20">Sindhu.K, M.E, PMP</b><br><i class="text_size_14">Head of IT</i></span><br>
					
					<!--<b>Maecenas ipsum ex, <i>CTO</i></b><br>
					Maecenas ipsum ex, feugiat in accumsan eu, varius et libero. Ut iaculis tempus metus, a finibus nibh semper eget. Vestibulum vitae nunc vel nisi lacinia interdum at non purus. Fusce ac ornare leo, interdum congue elit. Nulla facilisi. Nulla tristique vel felis vel tincidunt. Fusce dolor purus, dictum convallis luctus ut, malesuada non turpis. Curabitur faucibus iaculis rutrum. Curabitur vel porta libero. -->
					
				</div>
				
				<!--<div class="col-xs-12">&nbsp;</div>
				<div class="col-xs-12">&nbsp;</div>-->
				
				<div class="col-md-3 pad_lr"><img src="terminal/default/images/team_a.jpg"></div>
				
			</div>	 	    
				    
			<div class="col-md-12 y_text_layer">
				
				
				<div class="col-md-3 pad_lr"><img src="terminal/default/images/team_a.jpg"></div>
				<div class="col-md-9">
					<div class="pad_20_tb"></div>
					<div class="pad_10_tb"></div>
					<span><b class="txt_size_20">Curabitur faucibus</b><br><i class="text_size_14">Marketing Officer</i></span><br>
					
					<!--<b>Curabitur faucibus, <i>Marketing Officer</i></b><br>
					Maecenas ipsum ex, feugiat in accumsan eu, varius et libero. Ut iaculis tempus metus, a finibus nibh semper eget. Vestibulum vitae nunc vel nisi lacinia interdum at non purus. Fusce ac ornare leo, interdum congue elit. Nulla facilisi. Nulla tristique vel felis vel tincidunt. Fusce dolor purus, dictum convallis luctus ut, malesuada non turpis. Curabitur faucibus iaculis rutrum. Curabitur vel porta libero. -->
					
				</div>
				
				
			</div>	
			<!--<p class="y_text_layer">
						
						
					<span class="txt_size_14">
					<b>Chellappa Gopalakrishnan, <i>Founder & CEO</i></b><br>
					Maecenas ipsum ex, feugiat in accumsan eu, varius et libero. Ut iaculis tempus metus, a finibus nibh semper eget. Vestibulum vitae nunc vel nisi lacinia interdum at non purus. Fusce ac ornare leo, interdum congue elit. Nulla facilisi. Nulla tristique vel felis vel tincidunt. Fusce dolor purus, dictum convallis luctus ut, malesuada non turpis. Curabitur faucibus iaculis rutrum. Curabitur vel porta libero. 
					</span>
					
					
					</p>
			-->
			
			<div>&nbsp;</div>
					
					<div class="col-md-12 col-xs-12 bottom_menu">
						<div class="col-md-3 col-xs-6">
							<a href="#1535" class="pad_lr txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> VarDiG-R</a>
						</div>
						
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						
						<div class="col-md-3 col-xs-6 text-right">
							<a href="#1537" class="txt_color_2 page-scroll">Career  <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
					</div>
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-md-12 pad_50_tb hidden-xs">&nbsp;</div>
		</div>
	      
		</div>

	</section>
	

	
	<!--Career start-->
<div class="col-md-12 pad_50_tb">&nbsp;</div>

	  
	  
<section id="1537"  style='background-image:url("terminal/default/images/bg_f.jpg");background-position:center;'>
	
	<div class="container">

		<div class="col-md-12 col-sm-6 col-xs-12">
	
			<div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
	
				<div class="col-md-8 col-sm-6 col-xs-12">
						<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
							<h1>Career</h1>
						</div>
					<div class="col-md-12 c_text_layer">
					
					<div class="panel-group" id="accordion">
			      
					  <!-- Start Accordion 1 -->
					  <div class="panel panel-default icon_clr_pri">
				    
						<!-- Toggle Heading -->
						<div class="panel-heading">
						      <h4 class="panel-title">
							      <a data-toggle="collapse"
								 data-parent="#accordion"
								 href="#collapse-1"
								 aria-expanded="false"
								 class="collapsed">
								      <i class="fa fa-angle-up control-icon"></i>
								      <i class="fa fa-signal"></i>
								      JOB 1: Web Designer & Developer (no. of positions :1)
							      </a>
						      </h4>
					      </div>
					      
						<!-- Toggle Content -->
						<div id="collapse-1"
						     class="panel-collapse collapse in"
						     aria-expanded="false"
						     >
						      <div class="panel-body">
							<p>Hiring Web Designer & Developer for Genomatics Pvt. Ltd, Coimbatore.<br>
								We are currently looking for a Web Designer/Developer who has at least 2 years of experience and has a strong online portfolio displaying user-centered design.Should have good experience in web design, UI design and web database solutions.Salary, compensation package will be as per industry standards and depending on experience, commitment and contribution.</p>
							<br>
							<p>Candidate should be skillful enough to understand requirements and create nice looking pages which match with the business domain and branding. The candidate should be creative, and be able to produce innovative graphic designs while taking care of the basics like layouts, content, visual concepts, site navigation, accessibility and usability of the site. Should be well aware of compliance and security requirements for the website. Should be able to make use of plugins and do necessary customizations. Should know about GDPR compliance requirements and should be able to implement the same</p>
							<br>
							   <p>Skills:<br>
								1. Web development skills using HTML5, CSS, XHTML, Javascript,jQuery,PHP and dynamic HTML, Javascript Frameworks like AngularJS<br>
								2. Web designing skills using tools like Dreamweaver,Adobe Photoshop, Illustrator<br>
								3. CMS tools like WordPress, Joomla, Drupal etc..<br>
								4. Experience in Web Performance tools<br>
								5. Experience in building responsive websites with multi-device support (mobile etc..).Knowledge of cross-browser and cross-platform issues in different browsers of the world<br>
								6. Experience in building SEO friendly websites<br>
								7. Web server administration skills , Linux skills and understanding of hosting environments, transfer of files to production environments, code versioning systems etc.</p>
						      </div>
						</div>
					  </div>
					  <!-- end Accordion 1 -->
					  
					  
					  
					  <!-- Start Accordion 2 -->
					  <div class="panel panel-default icon_clr_pri">
				    
						<!-- Toggle Heading -->
						<div class="panel-heading">
						      <h4 class="panel-title">
							      <a data-toggle="collapse"
								 data-parent="#accordion"
								 href="#collapse-2"
								 aria-expanded="false"
								 class="collapsed">
								      <i class="fa fa-angle-up control-icon"></i>
								      <i class="fa fa-signal"></i>
								      JOB 2: Senior Software Developer (no. of positions :1)
							      </a>
						      </h4>
					      </div>
					      
						<!-- Toggle Content -->
						<div id="collapse-2"
						     class="panel-collapse collapse"
						     aria-expanded="false"
						     >
						      <div class="panel-body">
							   <p>Hiring Java/J2EE developers for Genomatics Pvt. Ltd, Coimbatore.<br>
								We are currently looking for Software Developers with experience in developing J2EE Applications using Frameworks.Must have experience developing at least one Enterprise application end-to-end. Experience range can be between 1-6 years. Salary, compensation package will be as per industry standards and depending on experience, commitment and contribution.</p>
							<br>
							   <p>Candidate/s should be skillful enough to take the project through complete cycle using waterfall model.Should be able to pickup required latest technologies and be able to create functional, web based, database driven scalable applications using J2EE and open source technologies.</p>
							<br>
								<p>Skills:
									<br>
										1. J2EE programming using JSF or Struts, Hibernate or Toplink, XHTML, JavaScript, AJAX, CSS is a must
									<br>	
										2. Experience with Glassfish Application Server or its equivalent, and Tomcat, Apache Webserver is required
									<br>	
										3. Experience with MySQL v 5.x or an equivalent transactional open source or commercial database
									<br>
										4. Experience with Servlets, JSP, JDBC is good to have
									<br>
										5. Have to be Skilled in database design (ER diagrams), business analysis, requirements capturing(SRS) , UI design, UML etc.,
									<br>
										6. Experience with designing end-to-end web applications using transactional databases, session handling, data security, data encryption, and audit trailing mostly using waterfall model is required
									<br>
										7. Understanding of OOPs and design patterns at least MVC is a must
									<br>
										8. IDE: NetBeans or Eclipse and Operating System: Any Linux flavor, Ubuntu or CentOS or Debian and Configuration Management System: CVS or Subversion is a must
									<br>
										9.Knowledge of Hadoop Framework, Big data, AI based programming like Chatbots development will be an added advantage
									<br>
										10. Experience of PHP or Perl or any other scripting languages is beneficial
									<br>
										11. Good understanding of cross-platform and cross-browser issues
									<br>
										12. Good communication skills and be a team player
									<br>
										To apply please send your CV to sindhu_k@genomatics.in</p>
						      </div>
						</div>
					  </div>
					  <!-- end Accordion 2 -->
					  
					  
					  <!-- Start Accordion 3-->
					  <div class="panel panel-default icon_clr_pri">
				    
						<!-- Toggle Heading -->
						<div class="panel-heading">
						      <h4 class="panel-title">
							      <a data-toggle="collapse"
								 data-parent="#accordion"
								 href="#collapse-3"
								 aria-expanded="false"
								 class="collapsed">
								      <i class="fa fa-angle-up control-icon"></i>
								      <i class="fa fa-signal"></i>
								      JOB 3: System Administrator (Part-time) (no. of positions :1)
							      </a>
						      </h4>
					      </div>
					      
						<!-- Toggle Content -->
						<div id="collapse-3"
						     class="panel-collapse collapse"
						     aria-expanded="false"
						     >
						      <div class="panel-body">
							<p>STATUS: <span style="color:red">CLOSED</span></p>
							<br>
							   <p>Hiring System Administrator (Part-time) for Genomatics Pvt.Ltd.,<br>
								We are currently looking for a System Administrator who can work with us part-time.
								Should be well experienced in management of Unix/Linux based Systems. Should also be able to manage Windows based Systems and possess network,security administration skills.</p>
							   <br><p>
								1. Linux administration of any Unix flavour like Ubuntu,CentOS,Fedora etc..both Desktop versions and Server versions, which includes installation of systems, upgradation, installing patches, user account management, security tasks such as log file monitoring for user activity etc...
								<br>
								2. Should have good knowledge of RAID, and be able to choose the right configuration as per the needs of the system
								<br>
								3. NAS Storage administration which is mainly used for backups of system through control panel. Knowledge of Netgear NAS Storage administration is an advantage.
								<br>
								4. Installation of any needed applications and software needed by the developers, and other employees.
								<br>
								5. Should be able to do tasks based on the IT policy of Genomatics, and adhere to strict naming conventions
								<br>
								6. Network monitoring for security of the company, firewall management, and any proxy server management required is a must
								<br>
								7. Good knowledge of database backups and restoration is a must. It is mostly MySQL and open source databases that are being used.
								<br>
								8. Knowledge of Web server administration and Application server administration.
								<br>
								9. Monitoring backups, data security, accounts access and creating regular log files, reports for the senior management as per the IT policy of the company
								<br>
								10. Email Server configuration, maintanence and backup
								<br>
								11. Should have good knowledge in shell/PERL scripting so as to manage the systems
								<br>
								To apply please send your CV to sindhu_k@genomatics.in</p>
						      </div>
						</div>
					  </div>
					  <!-- end Accordion 3 -->
					  
					  
					  
					  <!-- Start Accordion 4 -->
					  <div class="panel panel-default icon_clr_pri">
				    
						<!-- Toggle Heading -->
						<div class="panel-heading">
						      <h4 class="panel-title">
							      <a data-toggle="collapse"
								 data-parent="#accordion"
								 href="#collapse-4"
								 aria-expanded="false"
								 class="collapsed">
								      <i class="fa fa-angle-up control-icon"></i>
								      <i class="fa fa-signal"></i>
								      JOB 4: Scientific Curators (no. of positions :5)
							      </a>
						      </h4>
					      </div>
					      
						<!-- Toggle Content -->
						<div id="collapse-4"
						     class="panel-collapse collapse"
						     aria-expanded="false"
						     >
						      <div class="panel-body">
							   <p>Hiring scientific curators freshers or experienced with a Masters in Biotech / Biochemistry / Genetics / Molecular Biology.<br>
							   To apply please send your CV to sindhu_k@genomatics.in</p>
						      </div>
						</div>
					  </div>
					  <!-- end Accordion 4 -->
					  
			       
				      </div>
					<div class="col-md-12 col-xs-12 bottom_menu">
						<div class="col-md-3 col-xs-6">
							<a href="#1536" class="pad_lr txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> People</a>
						</div>
						
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						
						<div class="col-md-3 col-xs-6 text-right">
							<a href="#1538" class="txt_color_2 page-scroll">Reach Us  <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
					</div>
					</div>

					
					
				</div>
				
	
		</div>
		
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-md-12 pad_100_tb hidden-xs">&nbsp;</div>
		
	</div>

</section>


	
<div class="col-md-12 pad_50_tb">&nbsp;</div>
	
	<!--Career End-->
	
	
	
	
	
	<!--Reach Us start-->



	<section id="1538" style='background-image:url("terminal/default/images/bg_h.jpg");background-position:center;' >
	<div class="container" >
	     
		
		<div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
		
		 <div class="col-md-8 col-sm-6 col-xs-12 ">
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>Contact Us</h1>
			</div>
		     
			<!--<div class="col-md-12 pad_100_tb">&nbsp;</div>
		     
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="02">
				<h1>Reach US !</h1>
			</div>
				    
			<p class="home_text_layer animated flipInX faster">
			Genomatics builds robust and intelligent products which talk to databases containing various types of value-added datasets like the gene-function data, SNP drug or SNP diagnostics data, and other types of variants data. The products help to answer various types of queries of the users.
			</p>-->
		<div class="col-md-12 r_text_layer">
			<ul class="icons-list">
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr"><li><i class="fa fa-envelope"></i></div>
			    <div class="col-md-11"><strong>Address:</strong></div>
			    </div>
			    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11"> Genomatics Pvt. Ltd</div>			    
			    </div>
			    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">E502, PSG STEP, E Block PSG College Of Technology, Peelamedu,</div>
			    </div>
		    
			    <div class="col-md-12">
			    <div class="col-md-1 pad_lr">&nbsp;</div>
			    <div class="col-md-11">Coimbatore-641004,Tamilnadu,India.</div>
			    </div>
			    
			    				   
				   <div class="col-md-12">&nbsp;</div>	       
				  
				   <div class="col-md-12">
					  <div class="col-md-1 pad_lr"><li><i class="fa fa-send "></i></div>
					  <div class="col-md-11"><strong>Email:</strong></div>
				   </div>
				    
				   <div class="col-md-12">
					  <div class="col-md-1 pad_lr">&nbsp;</div>
					  <div class="col-md-11">info@genomatics.com</div>
				   </div>			    
			    	   
				   <div class="col-md-12">&nbsp;</div>			   
			    
				   <div class="col-md-12">
				     <div class="col-md-1 pad_lr"><li><i class="fa fa-mobile"></i></div>
				     <div class="col-md-11"><strong>Mobile:</strong></div>
				   </div>
				   
				   <div class="col-md-12">  
				     <div class="col-md-1 pad_lr">&nbsp;</div>
				     <div class="col-md-11">+91 919449833281</div>
				   </div>
			    
			
			    			   
				   <div class="col-md-12">&nbsp;</div>			   
			    
				   <div class="col-md-12">
				     <div class="col-md-1 pad_lr"><li><i class="fa fa-phone"></i></div>
				     <div class="col-md-11"><strong>Phone:</strong></div>
				   </div>
				     
				   <div class="col-md-12">
				      <div class="col-md-1 pad_lr">&nbsp;</div>
				      <div class="col-md-11">+91 422 4365281</div>
				   </div>			       
			    </ul>
			    </div>
			    
				   
				   <div class="col-md-12 a_text_layer">
					  <!--<div class="col-md-12">&nbsp;</div>	-->
					  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.0326732358794!2d77.01219021975378!3d11.036175492145611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8578b10537775%3A0xd0c43959c7777370!2sGenomatics!5e0!3m2!1sen!2sin!4v1542181986300"  frameborder="0" style="border:0"
					          height="180px" width="100%" class="col-md-12 col-xs-12  "></iframe>
				   </div>
				   

			    
			     <!--
			     <script>
				   G.$('menu_org_name').innerHTML='Shakthi RO Water Purifier System';
				   G.$('menu_email').innerHTML='info@rowaterpurifier.in';
				   G.$('menu_phone').innerHTML='1800 121 1751';
				   G.$('menu_mobile').innerHTML='+91 9842282283';
			    </script>-->
			     
			
			
			
			 <div>&nbsp;</div>
					
					<div class="col-md-12 col-xs-12 bottom_menu">
						<div class="col-md-3 col-xs-6">
							<a href="#1537" class="pad_lr txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> Career</a>
						</div>
						
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						
						<div class="col-md-3 col-xs-6 text-right">
							<a href="#1539" class="txt_color_2 page-scroll">Enquiry  <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
					</div>
			
	
		</div>
	       
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-md-12 pad_50_tb hidden-xs">&nbsp;</div>
	</div>

     </section>
	
	
	<!--enquiry start-->	
	<section id="1539" style='background-image:url("terminal/default/images/bg_g.jpg");background-position:center;' >
	<div class="container" >
		<div class="col-md-12 pad_50_tb">&nbsp;</div>
		<div class="col-md-12">
		<div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
			<div class="col-md-8">
				<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h1>Enquiry</h1>
				</div>
				<div class="col-md-12 e_text_layer">
				
				   
				    <form id="enquiry_form" class="has-validation-callback">
									
					  <div class="form-group">				    
						 <label for="name">Name:</label>
						 <input type="name" class="form-control" id="a" placeholder="Enter name" name="a" data-validation="length" 
					                            data-validation-length="3-32"  >
					  </div>
					
					  <div class="form-group">
					    <label for="mobile">Email address:</label>
					    <input type="text" class="form-control" id="b" placeholder="Enter email address" name="b"
						            data-validation="email" data-validation-length="10-256">
					  </div>
					  
					  
					  <div class="form-group">
					  	 <label for="sel1">Enquiry On:</label>
						 <select class="form-control" id="c" data-validation="required"><option value="">Select</option>
							       <option>VarDiG - R</option>
							       <option>VarDiG - P</option>
							       <option>VarDiG - C</option>
						 </select>
					  </div>
					  
					  
					  
				          <div class="form-group">
						 <label for="comment">Comment:</label>
						 <textarea class="form-control" rows="5" id="d" placeholder="Enter comment" maxlength="500" name="d"></textarea>
					  </div>
					  
					  
					  <button type="submit" class="  btn-medium">Submit</button>
					  <button type="reset" class="   btn-medium">Reset</button>
					  
				    </form>
	</div>
				<div>&nbsp;</div>
					
					<div class="col-md-12 col-xs-12 bottom_menu">
						<div class="col-md-3 col-xs-6">
							<a href="#1538" class="pad_lr txt_color_2 page-scroll"><i class="fa fa-chevron-circle-left pad_lr" aria-hidden="true"></i> Reach Us</a>
						</div>
						
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						<div class="col-md-3 hidden-xs">&nbsp;</div>
						
						<div class="col-md-3 col-xs-6 text-right">
							<a href="#1532" class="txt_color_2 page-scroll">Home  <i class="fa fa-chevron-circle-right align_RM" aria-hidden="true"></i></a>
						</div>
					</div>
	</div>
				
				 
		</div>
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-xs-12">&nbsp;</div>
	<div class="col-md-12 pad_50_tb hidden-xs">&nbsp;</div>
	
</section>
	
	<!--enquiry end-->

	
	<!--Our Skills Section Start-->
	
	<section id="1540" style='background-image:url("terminal/default/images/bg_h.jpg");background-position:center;' >
	<div class="container">
		<div class="col-md-12 pad_100_tb">&nbsp;</div>
		<div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
		<div class="col-md-8">
			
			<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
				<h4 >Our Skills</h4>
			</div>
			
			<div class="skill-shortcode o_text_layer animated flipInX faster">
				
				<div class="skill">
					<p>Web Design</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" data-percentage="60">
							<span class="progress-bar-span">60%</span>
							<span class="sr-only">60% Complete</span>
						</div>
					</div>
				</div>
				
				<div class="skill">
					<p>Wordpress</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" data-percentage="80">
							<span class="progress-bar-span">80%</span>
							<span class="sr-only">60% Complete</span>
						</div>
					</div>
				</div>
				
				<div class="skill">
					<p>CSS 3</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" data-percentage="90">
							<span class="progress-bar-span">90%</span>
							<span class="sr-only">60% Complete</span>
						</div>
					</div>
				</div>
				
				<div class="skill">
				<p>HTML 5</p>
				<div class="progress">
				<div class="progress-bar" role="progressbar" data-percentage="100">
				<span class="progress-bar-span">100%</span>
				<span class="sr-only">60% Complete</span>
				</div>
				</div>
				</div>
			</div>
		</div>
<div class="col-md-12 pad_100_tb">&nbsp;</div>
	</div>
	</section>
	

<!--Testimonial Section Start-->


<section id="1541" style='background-image:url("terminal/default/images/bg_h.jpg");background-position:center;' >
	<div class="container">
		<div class="col-md-12 pad_100_tb">&nbsp;</div>
		<div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
	<div class="col-md-8">
			
		<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
		<h4>Testimonials Slider</h4>
		</div>

    <div class="custom-carousel show-one-slide touch-carousel t_text_layer animated flipInX faster" data-appeared-items="1">
    
        <div class="classic-testimonials item">
		<div class="testimonial-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
		</div>
		<div class="testimonial-author"><span>John Doe</span> - Customer</div>
        </div>
        
        <div class="classic-testimonials item">
		<div class="testimonial-content">
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="testimonial-author"><span>John Doe</span> - Customer</div>
        </div>
        
        <div class="classic-testimonials item">
		<div class="testimonial-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
		</div>
		<div class="testimonial-author"><span>John Doe</span> - Customer</div>
        </div>
    
    </div>
	<div class="col-md-12 pad_100_tb">&nbsp;</div>
	</div>
	</div>
</section>
	
	
	
	
	
	
	
	<!--Feature Grid + Image Section Start-->
	
	<section id="1542" style='background-image:url("terminal/default/images/bg_h.jpg");background-position:center;' >
		
			
			
			<!--<div class="big-title" data-animation="fadeInDown" data-animation-delay="01">
					<h4>Salient Feature</h4>
			</div>-->
			
		<div class="support-main">
		    <div class="container-full  fe_text_layer">
			<div class="row">
				<div class="col-md-12 ">
				<div class="col-md-6 col-sm-12 col-xs-12 animated flipInX faster">
					<div class="su-content-wrap ">
					
					    <div class="col-md-6 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
						<div class="support-list-item">
							<div class="icon-wrapper">
							<i class="fa fa-leaf icon-large">
								&nbsp;
							</i>
							</div>
							
							<div class="icon-description">
							<h4>High Quality Theme</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
							</div>
						</div>
					    </div>
					
					
					    <div class="col-md-6 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
						<div class="support-list-item">
							<div class="icon-wrapper">
							<i class="fa fa-clock-o icon-large"></i>
							</div>
							
							<div class="icon-description">
							<h4>Timely Work</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
							</div>
						</div>
					    </div>
					
					<div>&nbsp;</div>
					
					    <div class="col-md-6 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
						<div class="support-list-item">
							<div class="icon-wrapper">
							<i class="fa fa-globe icon-large"></i>
							</div>
							
							<div class="icon-description">
							<h4>Global Marketing</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
							</div>
						</div>
					    </div>
					
					
					    <div class="col-md-6 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
						<div class="support-list-item">
							<div class="icon-wrapper">
							<i class="fa fa-anchor icon-large"></i>
							</div>
							
							<div class="icon-description">
							<h4>24/7 Hours Support</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not duic</p>
							</div>
						</div>
					    </div>
					
					</div>
				</div>
			
				<div class="col-md-6 col-sm-12 col-xs-12">
				<img   style="width:800px;border:1;" src="terminal/default/images/Penguins.jpg" alt="">
				</div>
				</div>
			</div>
		    </div>
		</div>


	
	</section>
	
	<!--Fixed Footer Start-->

	<div class="fixed_footer" id="privacy_block">
			<p>This website stores cookies on your computer. These cookies are used to collect information about how you interact with our website and allow us to remember you. We use this information in order to improve and customize your browsing experience and for analytics and metrics about our visitors both on this website and other media. To find out more about the cookies we use, see our <a href="http://default/index.php?privacy_policy" target="_blank">Privacy Policy</a>.</p>
			
			<p>If you decline, your information won’t be tracked when you visit this website. A single cookie will be used in your browser to remember your preference not to be tracked.</p>
			<br>
			<button class="btn-system btn-large" onclick="set_privacy(1)">Accept</button>
			<button class="btn-system btn-large" onclick="set_privacy(0)">Decline</button>
			<!--btn-large-->
	</div>

	<!--Fixed Footer end-->
	
	      <script>
		
			var hi_temp=String('favicon').split(',');
			
			if (hi_temp[1]=='href') {			
			      G.$(hi_temp[0]).href='terminal/icmseav.fibenis.org/images/favicon_1.png'; 
			}else{		     
			      G.$('favicon').src='terminal/icmseav.fibenis.org/images/favicon_1.png';
			}
			
			// set privacy
			// id="myDIV" => privacy_block
			// myFunction => set_privacy
					
			function set_privacy(flag) {
    
				var x = document.getElementById("privacy_block");
				
				localStorage.setItem("genomatics_privacy",flag);
				
				if (x.style.display === "none") {
				    x.style.display = "block";
				} else {
				    x.style.display = "none";
				}
				
			} // end
			
			
		     
			$(document).ready(function(){

				$("body").scrollspy({
			    
				    target: "#left_menu",
			    
				    offset:100
			    
				})
				
				
				if(typeof(Storage) !== "undefined"){
									
					if( (localStorage.getItem("genomatics_privacy")!=undefined) ||
					    (localStorage.getItem("genomatics_privacy")!=null) ){
						G.$("privacy_block").style.display='none';
					}else{
						G.$("privacy_block").style.display='block';
					}
									
				} else {
				
					// Sorry! No Web Storage support..
				}
				
			    
			    });
		     
	      </script>
	      
	      
       
 
 