    <!--- base.css--->
    <link href="<TMPL_VAR LIB_PATH>/css/base.css" rel="stylesheet" type="text/css" >
    <link href="<TMPL_VAR LIB_PATH>/css/ax.css" rel="stylesheet" type="text/css" >
    
    <!--- Hint Class --->
    <link href="<TMPL_VAR LIB_PATH>/css/hint.css" rel="stylesheet" type="text/css" >
    
    <!--- jQuery Class --->	
    <link href="<TMPL_VAR LIB_PATH>/comp/jquery/ui/css/ui-lightness/jquery-ui-1.10.4.custom.css"  rel="stylesheet" type="text/css" >
  
    <!-- Bootstrap CSS  -->
    <link href="<TMPL_VAR LIB_PATH>/comp/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<TMPL_VAR LIB_PATH>/comp/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    
    <!--- jQuery Addon Q tip Class --->	
    <link href="<TMPL_VAR LIB_PATH>/comp/jquery/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css" >
    
    <!--- c3 --->	
    <link href="<TMPL_VAR LIB_PATH>comp/c3/c3.min.css" rel="stylesheet" type="text/css" >
    
    <!--- preety photo --->	
    <link href="<TMPL_VAR LIB_PATH>/comp/pretty_photo/style.css" rel="stylesheet">
   
    <!--- font-awesome --->
    <link href="<TMPL_VAR LIB_PATH>/comp/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">

    <!----------------------------------------------JavaScript Core---------------------------->
    
    <!--- General--->	
    <script src="<TMPL_VAR LIB_PATH>/js/general.js"></script>
    
    <!--- Key press validation --->    
    <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/js/key.js"></script>
    
    <!--- Ajax --->
    <script src="<TMPL_VAR LIB_PATH>/js/ajax_v2.js"></script>
    
    <!--- Show Script --->
    <script src="<TMPL_VAR LIB_PATH>/js/show.js"></script>
    
    <!--- Modal Event --->
    <script src="<TMPL_VAR LIB_PATH>/js/modal_events.js"></script>   
    
    <!--- Gate --->  
    <script id="fiben_gate_js" data-lib-path="<TMPL_VAR LIB_PATH>" src="plugin/js/gate.js"></script>

    <!----------------------------------------------JavaScript Core External------------------->

    <script type="text/javascript" src="<TMPL_VAR LIB_PATH>/comp/jquery/jquery-2.2.4.js"></script>
    
    <!-- Cycle -->
    <script src="<TMPL_VAR LIB_PATH>/comp/jquery/jquery.cycle2.min.js"></script>
    
    <!-- qtip -->
    <script src="<TMPL_VAR LIB_PATH>/comp/jquery/qtip/jquery.qtip.min.js"></script>
    
    <!-- Marquee -->
    <script src="<TMPL_VAR LIB_PATH>/comp/jquery/marquee/jquery.marquee.min.js"></script>
    <script src="<TMPL_VAR LIB_PATH>/comp/jquery/marquee/jquery.pause.js"></script>
    
    <!--- Pretty Photo--->     
    <script src="<TMPL_VAR LIB_PATH>/comp/pretty_photo/script.js"></script>

    <script src="<TMPL_VAR LIB_PATH>/js/f_series.js"></script>  
    <TMPL_UNLESS IS_PAGE>
          
        <!--- jQuery UI Custom Min --->	
        <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/comp/jquery/ui/js/jquery-ui-1.10.4.custom.min.js"></script>
                  
        <!--- bootstrap --->	          
        <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/comp/bootstrap/dist/js/bootstrap-select.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/comp/bootstrap/dist/js/bootbox.min.js"></script>          
                   
        <!--- graph --->          
        <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/js/gauge.js"></script>
        <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/comp/d3/d3.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="<TMPL_VAR LIB_PATH>/comp/c3/c3.min.js"></script>          
        
       
        
    </TMPL_UNLESS>