

      
     
		    
 
<section  id="content">
   <div>
    <div class="container">
        <div class="row">		   
		   <div class="col-md-8">
				      
				      <h4 class="classic-title"><span>Contact Us</span></h4>			
				      
				      <form action="" id="registration-form">
					
					   <div class="row col-md-12 pad_lr pad_10_tb">
					     <label class="col-md-3">Name</label>
					     <input name="email" class="col-md-9 " data-validation="length"  data-validation-length="min10">
					   </div>		 
					
					   <div class="row col-md-12 pad_lr pad_10_tb">
					     <label class="col-md-3">E-mail</label>
					     <input name="email" class="col-md-9" data-validation="email">
					   </div>
					   					   
					   <div class="row pad_10_tb">
					     <span class="col-md-3"></span>
					     <span><input value="Validate" type="submit">
					     <input value="Reset form" type="reset" class="btn btn-default">
					     </span>
					   </div>
					   
				      </form>
		   </div>
	    
	    
            
            <div class="col-md-4">
            
                <h4 class="classic-title"><span>Information</span></h4>
                     <div class="hr1" style="margin-bottom:10px;"></div>
                
                <ul class="icons-list">
                    <li><i class="fa fa-globe"> </i> <strong>Address:</strong>Video Media<br />Address 1,<br />City999999</li>
                    
		    
                    <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong>&nbsp;info@videomedia.in</li>
		    
		   
		    
		       <li><i class="fa fa-mobile"></i> <strong>Mobile:</strong>&nbsp;MobileNumber</li>
		    
		   
		    
		       <li><i class="fa fa-phone"></i> <strong>Phone:</strong>&nbsp;PhoneNumber</li>
		    
		    
                </ul>
                
                <div class="hr1" style="margin-bottom:15px;"></div>
                
                <h4 class="classic-title"><span>Working Hours</span></h4>
                
                <ul class="list-unstyled">
                    <li><strong>Monday - Friday</strong> - 9am to 5pm</li>
                    <li><strong>Saturday</strong> - 9am to 2pm</li>
                    <li><strong>Sunday</strong> - Closed</li>
                </ul>
                
            </div>
        </div>
    </div>
</div>

    </section>
	


	
	 
	

 <!-- data info---->
