
 <!--  
      <br>
   
      <br>-->
         <TMPL_IF COUNTER>
	  <div class="col-md-12 mar_tb_10">&nbsp;</div>
	 
      <section id="home_counter" class="brdr_bottom">
       <div class="col-md-12 mar_tb_10">&nbsp;</div>
 
					 
				      <TMPL_LOOP COUNTER_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="<TMPL_VAR __COUNTER__>">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
					 
       <div class="col-md-12 mar_tb_10">&nbsp;</div>  
	
	 <div id="parallax-one" data-stellar-background-ratio="0.5" class="parallax brdr_bottom" style="background-image:url(images/bg.jpg); ">
		   
	      <div class="parallax-text-container-1">
		    
		    <div class="parallax-text-item">
				       
			   <div class="container">
							  
				  <div class="row">
			       
				 <TMPL_LOOP COUNTER>

					  <div class="col-xs-12 col-sm-3 col-md-3">
						<div class="counter-item">
						      <i class="fa <TMPL_VAR FA-ICON> icon-large"></i>
						      <div class="timer" id="item1" data-to="<TMPL_VAR COUNT>" data-speed="5000" ></div>
						      <h5><TMPL_VAR TITLE></h5>
						</div>
					  </div>
					  
				</TMPL_LOOP>
				 
				  <div class="col-md-12 mar_tb_10">&nbsp;</div>
				  <div class="col-md-12 mar_tb_10">&nbsp;</div>
				  
				</div>
				  
			  </div>
			   
		    </div>
		    
	      </div>	
	 
	  </div>

      </section>      
       
     </TMPL_IF>
            <br>

 <!--  
      <br>
   
      <br>-->
          <TMPL_IF CLIENTS>     
       <section id="home_clients" class="bar_bg font brdr_bottom">

	    <div class="partner">
				      <div class="col-md-12">&nbsp;</div>
				      <div class="container">
							 <div class="row">
								   <TMPL_LOOP CLIENTS_HEADING>
									    <div class="big-title text-center">
									    <h1><TMPL_VAR HEADING></h1>
									    <p class="title-desc"><TMPL_VAR SUB_HEADING></p>
									    </div>
								    </TMPL_LOOP>
				      
				      
		   <div class="our-clients">
				      <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">
				      <TMPL_LOOP CLIENTS>
							 <div class="client-item item">
							 <a target="blank" href="http://<TMPL_VAR URL>"> <img src="<TMPL_VAR IMAGE_PATH>" alt="" /></a>
							 </div>
							 </TMPL_LOOP>
				      </div>
		   </div>
		
							 </div>
				      </div>
		   </div>
       </section>
      </TMPL_IF>
            <br>

 <!--  
      <br>
   
      <br>-->
         <TMPL_IF PORTFOLIO>
	 
	  <section id="home_portfolio" class="bar_bg font brdr_bottom">
	   <div class="col-md-12 mar_tb_10">&nbsp;</div>

	    <TMPL_LOOP PORTFOLIO_HEADING>
	    <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
					   <h1><TMPL_VAR HEADING></h1>
				      </div>

				      <p class="text-center"><TMPL_VAR SUB_HEADING></p>
				      
				      </TMPL_LOOP>
		 
		 <div class=" full-width-portfolio">
		  
		      <ul id="portfolio-list" data-animated="fadeIn">
					 
				      <TMPL_LOOP PORTFOLIO>
				       
					 <li>
							    <div  class="single-team  fadeInLeft">
							     
									       <div  class="portfolio-item">
										
											       
												  <a  rel="prettyPhoto[1]" href="<TMPL_VAR IMAGE_PATH>" href="<TMPL_VAR IMAGE_PATH>" class="portfolio-link" data-toggle="modal"></a>		    
														     <img class="img-responsive img-centered" src="<TMPL_VAR IMAGE_PATH>" alt="">		    
			   
												  <div class="icon-list">
														     <a class="zoom" rel="prettyPhoto[1]" href="<TMPL_VAR IMAGE>"> <i class="fa fa-search-plus align_CM"></i></a>
												  </div>
												  
												  <div class="portfolio-item-content">
														     <span class="header"><TMPL_VAR TITLE></span>
														     
												  </div>
												  
									       </div>
									       
						 
							    </div>
					 </li>
					 
				     </TMPL_LOOP>
				      
		      </ul>
		</div>
	
       </section>
</TMPL_IF>
            <br>

 <!--  
      <br>
   
      <br>-->
         <TMPL_IF TEAM>     
       <section id="home_team" class="bar_bg font brdr_bottom">
	    <div class="container">
	      <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      <TMPL_LOOP TEAM_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    </div>
					    <p class="text-center"><TMPL_VAR SUB_HEADING></p>
				      </TMPL_LOOP>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
		   </div>
	      
	        <div class="col-md-12 hyper_color"  >
			
			<a class="visible-xs col-xs-3"></a>		      
		  
			<a class="visible-xs col-xs-3"></a>

		<div class="row">
		     
		     <TMPL_LOOP TEAM>
		      
			  <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="01">
			   
				    <div class="team-member modern">
				     
					     <div class="member-photo nowrap">
							 <img alt="" src="<TMPL_VAR IMAGE_PATH>" />
							 <div class="member-name no_wrap"><TMPL_VAR NAME><span><TMPL_VAR WORK></span>
							 </div>
					     </div>
				    </div>
			  </div>
			  
		    </TMPL_LOOP>
		     
		     <div class="col-md-12 mar_tb_10">&nbsp;</div>
		     
		</div>
			 
		</div>
		
		 <div class="col-md-12 mar_tb_10"></div>
	     
	    </div>
	    
       </section>
       
      </TMPL_IF>
            <br>

 <!--  
      <br>
   
      <br>-->
         <TMPL_IF FEATURES>
	 
       <section id="home_features" class="brdr_bottom">
	    <div class="container">
	     <div class="col-md-12 mar_tb_10">&nbsp;</div>
				      
				      <TMPL_LOOP FEATURE_HEADING>
				      <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
				       <h1><TMPL_VAR HEADING></h1>
				       <br>
					<p><TMPL_VAR SUB_HEADING></p>
				      </div>
				      </TMPL_LOOP>
					
					
					<TMPL_LOOP FEATURES>
					
					<div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="0<TMPL_VAR __counter__>">
							   <div class="service-icon">
									   <i class="fa <TMPL_VAR FA-ICON> icon-large"></i>
							   </div>
							   <div class="service-content">
									   <h4><TMPL_VAR TITLE></h4>
									   <p class="clr_gray_5"><TMPL_VAR HINT></p>
							   </div>
					</div>
					
					</TMPL_LOOP>
	     </div>
       </section>     
     </TMPL_IF>
            <br>

 <!--  
      <br>
   
      <br>-->
         <section id="home_timeline" class="brdr_bottom">
     <TMPL_IF HOME_TIMELINE>
	  <div class="container">
	   <TMPL_IF TIMELINE_HEADING>
				      <TMPL_LOOP TIMELINE_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					    <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
				      
				      </TMPL_IF>
	    <TMPL_LOOP HOME_TIMELINE>
	      <ul class="timeline">
		  <li class="<TMPL_IF __odd__>timeline-inverted</TMPL_IF>">
		    <div class="timeline-badge clr_pri_bg <TMPL_IF __odd__>clr_sec_bg</TMPL_IF>"><TMPL_VAR YEAR></div>
		    <div class="timeline-panel">
		      <div class="timeline-heading">
			<h4 class="timeline-title"><TMPL_VAR TITLE></h4>
		      </div>
		      <div class="timeline-body">
			<p><TMPL_VAR CONTENT></p>
		      </div>
		    </div>
		  </li>
	      </ul>
	   </TMPL_LOOP>
	 </div>
      </TMPL_IF>
    </section>
            <br>

 <!--  
      <br>
   
      <br>-->
         <section id="home_tab" class="brdr_bottom">
	    <div class="container">
	     <TMPL_IF TAB_HEADING>
				      <TMPL_LOOP TAB_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
		   <ul class="nav nav-tabs" role="tablist">
		    <TMPL_LOOP home_tab_title>
			     <li role="presentation" class="<TMPL_IF __first__>active</TMPL_IF>" >
				<a href="#tab_<TMPL_VAR __COUNTER__>" aria-controls="tab_<TMPL_VAR __COUNTER__>" role="tab" data-toggle="tab">
				   <TMPL_VAR TAB_TITLE>
				</a>
			     </li>
		    </TMPL_LOOP>
		   </ul>
		
		   <div class="tab-content">
		      <TMPL_LOOP home_tab_content>
		       <div role="tabpanel" class="tab-pane <TMPL_IF __first__>active</TMPL_IF>" id="tab_<TMPL_VAR __COUNTER__>">					
			       <div class="row col-md-12">				
				   <p><TMPL_VAR TAB_CONTENT></p>
				   <div>&nbsp;</div>
			       </div>
		       </div>
		     </TMPL_LOOP>
		   </div>
	</div>
	    
	   </section>
            <br>

 <!--  
      <br>
   
      <br>-->
         <TMPL_LOOP HOME_ABOUTUS>
      <section id="home_aboutus" class=" font_lato brdr_bottom">
	<div class="container">
	 <div class="align_CM">                 
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>
				      <TMPL_IF HOME_ABOUTUS_HEADING>
				      <TMPL_LOOP HOME_ABOUTUS_HEADING>
					      <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
					      <h1><TMPL_VAR HEADING></h1>
					      <br>
					       <p><TMPL_VAR SUB_HEADING></p>
					      </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
				      <div class="col-md-12 mar_tb_3">&nbsp;</div>	
		
	       </div>
	 
	    <div class="col-md-4 col-sm-6 col-xs-12">
		<img src="<TMPL_VAR IMAGE>" alt="" title="" class="img-responsive">
		<div class="col-md-12 mar_tb_10"></div>
	    </div>
	    
	    <div class="col-md-8 col-sm-6 col-xs-12">
		<div class="col-md-12 mar_tb_10 visible-xs"></div>
		<h2 class="title"><TMPL_VAR TITLE></h2>
		<p><TMPL_VAR CONTENT></p>
		<div class="col-md-12 mar_tb_10"></div>
	    </div>
	</div>
	
     </section>	
     </TMPL_LOOP>
            <br>

 <!--  
      <br>
   
      <br>-->
         Home Testimonial
            <br>

 <!--  
      <br>
   
      <br>-->
         	<TMPL_IF ACTION_BOX>
		 <section id="home_action_box" class="brdr_bottom">
		     <div id="content">
			 <div class="container">
			    <div class="page-content">
			     
			     <TMPL_LOOP ACTION_BOX_HEADING>
				<div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
				<h1><TMPL_VAR HEADING></h1>
				<br>
				<p class="title-desc"><TMPL_VAR SUB_HEADING></p>
				</div>
			     </TMPL_LOOP>
			     
			     
			     <TMPL_LOOP ACTION_BOX>
				<div class="call-action call-action-boxed call-action-style1 no-descripton clearfix">
				   <div class="button-side"><a target="blank" href="http://<TMPL_VAR BUTTON_LINK>" class="btn-system border-btn btn-medium"><TMPL_VAR BUTTON_NAME></a></div>
				   <h2 class="primary"><strong><TMPL_VAR CONTENT></strong></h2>
				</div>
				<div>&nbsp;</div>
			      </TMPL_LOOP>
			    </div>
			 </div>
		     </div>
		 </section>
	</TMPL_IF>
            <br>

 <!--  
      <br>
   
      <br>-->
          <section id="home_accordion" class="brdr_bottom">
	  <div class="container">
	    <div class="hr1 margin-top"></div>
	       <div class="row">
		   <div class="col-md-12">
		    <TMPL_IF ACCORDION_HEADING>
				      <TMPL_LOOP ACCORDION_HEADING>
					    <div class="big-title text-center " data-animation="fadeInDown" data-animation-delay="01">
					    <h1><TMPL_VAR HEADING></h1>
					    <br>
					     <p class="text-center"><TMPL_VAR SUB_HEADING></p>
					    </div>
				      </TMPL_LOOP>
				      </TMPL_IF>
			   <div class="panel-group" id="accordion">
			    
			    <TMPL_LOOP HOME_ACCORDION>
			       <div class="panel panel-default">
				
				   <div class="panel-heading">
				   <h4 class="panel-title">
				   <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<TMPL_VAR __COUNTER__>" class="collapsed">
				   <i class="icon-down-open-1 control-icon"></i>
				   <i class="icon-laptop-1"></i><TMPL_VAR QUESTION>
				   </a>
				   </h4>
				   </div>
				   
				   <div id="collapse-<TMPL_VAR __COUNTER__>" class="panel-collapse collapse <TMPL_IF __first__>in</TMPL_IF>">
				   <div class="panel-body"><TMPL_VAR ANSWER></div>
				   </div>
			       </div>
			       </TMPL_LOOP>
			   
			   </div>
		   </div>
	       </div>
	    </div>
	 </section>
            <br>


