
      /* CUSTOMIZE THE NAVBAR
      -------------------------------------------------- */  
      
      /* import */      

      @import url("icon.css");
      @import url(http://fonts.googleapis.com/css?family=Lato);
      @import url(http://fonts.googleapis.com/css?family=Roboto:700);
      @import url(http://fonts.googleapis.com/css?family=Handlee);
      @import url(http://fonts.googleapis.com/css?family=Lusitana);
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);
      @import url('https://fonts.googleapis.com/css?family=Oswald');
      @import url('https://fonts.googleapis.com/css?family=Rancho');
      
      
      .breadcrumb{
            margin-top        : 10px !important;
            margin-bottom     : 10px !important;
            background-color  : rgb(255,255,255,0.81);
            
      }
      
      .breadcrumb li a{
            color             :#727272 !important;
      }
      
      .breadcrumb li.active{
            color             : #0056b7 !important;
            font-weight       : bold;
      }
      
      .breadcrumb li a:hover{
            color             :#0056b7 !important;
      }
      
      .brdr_kurlon{            
            border-color : #fe0000 !important;
      }
   
      .btn-round-lg{
            border-radius     : 22.5px;
      }
      
      .btn-round{
            border-radius     : 17px;
      }
      
      .btn-round-sm{
            border-radius     : 15px;
      }
      
      .btn-round-xs{
            border-radius     : 11px;
            padding-left      : 10px;
            padding-right     : 10px;
      }

      .brdr_right_light{
	    border-right : 1px dotted #edf1f4 !important; 	
      }     	
      
     .clr_pri          {  color           : #0056b7 !important;  }
     .clr_pri_bg       {  background-color: #0056b7  !important; }
     .clr_pri_match_txt{  color           :  #f4f9ff !important; }
     
     
     .btn_pri{
            background-color              : #0056b7 !important;
            color                         :  #f4f9ff !important;
            transition                    : box-shadow 0.5s;
      }
     
     .btn_pri:hover{
            box-shadow: 1px 1px 4px #c49900;
     }
     
     .pri_brdr{
            border-color:#0056b7 !important;
     }
   
     .clr_sec    {       color            : #53a01c !important;           }
     .clr_sec_bg {       background-color : #53a01c !important;}
     .clr_sec_match_txt{ color            : #f7fff2 !important;       }  
     
     .clr_tri    {  color:#00274B;                        }
     .clr_tri_bg {  background-color:#00274B;             }
     .clr_pen    {  color: #E2AA0D;                       }
     
     
     .sec_brdr{
            border-color:#53a01c !important;
     }
  
      .circle_area a:hover .spinRightOver{
              -webkit-animation: spinRight 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: spinRight 2s linear infinite; /* Firefox < 16 */
		-ms-animation: spinRight 2s linear infinite; /* Internet Explorer */
		-o-animation: spinRight 2s linear infinite; /* Opera < 12.1 */
		animation: spinRight 2s linear infinite;	
      }
      
      .circle_area a:hover{
            text-decoration: none !important;
      }
      
      .circle_area a:hover .bounce_over{
            
             -webkit-animation: bounce 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: bounce 2s linear infinite; /* Firefox < 16 */
            -ms-animation: bounce 2s linear infinite; /* Internet Explorer */
            -o-animation: bounce 2s linear infinite; /* Opera < 12.1 */
            animation: bounce 2s linear infinite;
      }
      
      
      .copyright-section p {            
            font-size   : 13px;
            text-transform: none !important;
      }
  
      .cycle-clientle a img{
                  border-right: 1px solid #f1f1f1;
      }
  
      .cycle_head_link {
            margin-bottom: 15px;
      }
  
      .cycle_head_link a{            
                  
                  border            : 1px solid #0056b7;
                  border-radius     : 2px;
                  color             : #0056b7 ;
                  display           : inline-block;
                  font-size         : 1em;
                  font-weight       : bold;                  
                  margin-top        : 5px;
                  margin-bottom     : 5px;                  
                  margin-right      : 15px;                  
                  padding           : 6px;
                  padding-left      : 10px;
                  padding-right     : 10px;                
                  text-decoration   : none;
      }
      
      .cycle_head_link a.cycle-pager-active{           
                  border            : 1px solid #0056b7;
                  background-color  : #0056b7;
                  color             : #f4f9ff !important;
      }
      
      .cycle_head_link a:hover,
      .cycle_head_link a.cycle-pager-active:hover{
                  border            : 1px solid #0056b7;
                  background-color  : #f4f9ff !important;
                  color             : #0056b7 !important;
      }
          
      .cycle_screen img{            
            border            : 1px solid #f1f1f1;
            border-bottom     : 2px solid #f1f1f1;
            box-shadow        : 1px 0px 1px #eaeaea;
            padding           : 1px;
            transition        : box-shadow 1.5s, border-bottom 1s;
      }
      
      .cycle_screen img:hover{
            border-bottom      : 2px solid #FDC801;
            box-shadow      : 1px 0px 1px #dadada;
      }
           
      
      p{
            font-family     : 'PT Sans', sans-serif;
      }
            
      .row .content{            
          color			: #454545 !important;    
          font-family     : 'PT Sans', sans-serif;
          font-size		: 1.1em;        
          text-align		: justify;		
          vertical-align	: top;
          width                 : auto;
      }
      
      dl.img_and_item{
            
            margin-bottom: 0px;
      }
            
      dl.img_and_item dt{                
          display   : inline-block;          
          padding-left: 15px;          
      }
      
      dl.img_and_item dd{                      
          display       : inline-block;
          font-family   : 'Lato', sans-serif !important;
          font-size     : 16px;           
          margin-left   : 20px;
          position      : relative;
          top           :-18px !important;          
      }
          
         
      footer{
          border-top              : 1px dotted #E8EEEF;        
          color                   : #ababab !important;
          display                 : block;
          font-size               : 0.9em;
          margin-top              : 10px; 
          padding-top             : 7px;
          position: relative !important;
      }
      
      .font-lato{
          font-family: 'Lato', sans-serif !important;
      }
      
      .font-handlee{
          font-family: 'Handlee', cursive !important;
      }
      
      .font-lusitana{
        font-family: 'Lusitana', serif !important;
      }
      
      .font-ptsans{
            font-family     : 'PT Sans', sans-serif;
      }
      
      .font-oswald{
            font-family      : 'Oswald', sans-serif;
      }
      
      .font-rancho{      
            font-family       : 'Rancho', cursive;
      }
      
      footer a{
            color                   : #ababab !important;
      }
      
      footer a:hover{
            color                   : #727272 !important;
            text-decoration         : none; 
      }
      
      
  
     /* block */
      
      .content_block{      
            display     : block;
            font-family : 'Lato', sans-serif;
            font-size   : 14px !important;
            line-height : 22px;
      }
  
      .frame_default{            
          background-color    : #F9E6A2;
          border              : 1px solid #FDC801;
          border-radius	      : 0%;
          box-shadow	      : 1px 1px 1px #eaeaea;
          padding             : 0px;
      }
      
      .frame_secondary{
          border	      : 2px solid  #D55B09;	
          box-shadow	      : 1px 1px 2px #f1f1f1;
          padding             : 1px;
      }
      
      .frame_gray_1{
            background-color: #FAFAFA;
            border:            1px solid #EAEAEA;
            padding            : 1px;
      }
      
  
      
      h2.title{           
          color			: #454545;
          display		: block;	
          font-family		: 'Roboto', sans-serif;
          font-size		: 1.5em;          
          padding-bottom	: 5px;
      }
      
      h3.title{
          background-color      : #FDC801;
          border-left           : 2px solid #00274B;
          box-shadow            : 2px 2px 1px #eaeaea;
          color			: #272727;
          display               : inline-block;
          font-family		: 'Roboto', sans-serif;
          font-size		: 1.17em;
          padding               : 7px;
          
      }
      
      h4.classic-title{            
          color                  : #454545;
          font-weight: bold !important;
      }
      
      .header_custom{
              padding-top    : 60px;
              padding-bottom : 60px;
      }
      
      
      .hyper_color a span,
      .hyper_color a i{            
            opacity: 0.5;
            transition: opacity 0.6s;             
      }
      
      .hyper_color a:hover span,
      .hyper_color a:hover i{
            opacity: 0.9;
      }
      
      
      .hyper_color_reverse a{
            color: #bbb;
            transition: color 0.4s;             
      }
      
      .hyper_color_reverse a:hover{
            color: #454545;
      }
      
      .hyper_shadow a{             
            border      : 1px solid #fefefe;
            box-shadow  : 0px 0px 0px #ababab;
            margin-left : 5px;
            margin-right: 5px;
            transition  : box-shadow 0.6s;
      }
      
      .hyper_shadow a:hover{
            box-shadow  : 1px 1px 2px #ababab !important;
      }
      
      .image_grid a {
            display     : block;           
      }
      
      .image_grid a{            
           border              : 1px solid #f4eded;
           /* background-color    : #F9E6A2;
            
            border-radius	: 0%;
            box-shadow	        : 2px 2px 2px #eaeaea;
            padding             : 1px;*/
           text-align: center;
           margin-bottom: 20px;
       
      }
      
      .image_grid a div{
            background-color    : #0056b7;
            color               : #f4f9ff;
            display             : block;
            font-size           : 1.1em;
            font-weight         : bold;
            text-align          : center;
            margin-top          : 0px;
            opacity             : 0.7;
            -moz-opacity        : 0.7;
            padding-top         : 5px;
            padding-bottom      : 5px;
                    
            -webkit-transition  :  padding-top 0.5s, padding-bottom 0.5s, margin-top 0.5s; /* For Safari 3.1 to 6.0 */
            transition          :  padding-top 0.5s, padding-bottom 0.5s, margin-top 0.5s;
      }
      
      
      .image_grid a:hover div{
             background-color    : #0056b7;
            color               : #f4f9ff;
            display             : block;
            font-size           : 1.1em;
            font-weight         : bold;
            text-align          : center;
           /* margin-top          : -70px;*/
            opacity             : 0.9;
      /*      padding-top         : 20px;*/
            /*padding-bottom      : 40px;*/
                       
      }
          
  
        
 
    
      .label-primary{
            background-color: #f4f4f4 !important;
            color           : #545454 !important;
            display         : block;   
            font-weight     : 100 !important;
            line-height     : 18px;
            margin-top      : 5px;
            margin-bottom   : 10px; 
            padding         : 7px;
            padding-left    : 15px; 
      }
    
      .marquee_area{
            background-color: #A0197C  !important;
            color           : #EFEED7;
      }
    
      .marquee{              
            overflow       : hidden;
            padding-left   : 25px;
            padding-top    : 5px;
            padding-bottom : 5px;
      }
      
      .marquee a{
            color          : #EFD7E9;
            font-size      : 13px;
            font-weight    : bold;
            padding-left   : 20px; 
      }
      
      .marquee a:hover{
            color          : #FCFCF4;
            text-decoration: none; 
      }
      
      .img_slider #pager{            
            border-bottom: 4px solid #f1f1f1;
            padding-top       :  10px;
            padding-bottom    :  10px;  
      }
      
      .img_slider #pager a{
            border:1px solid #f1f1f1;
            display: inline-block;
            margin-left : 5px;
            margin-right: 5px;
            padding: 1px;
          
            
            
      }
      
      .img_slider #pager a img{
            height      : 60px;
            width       : 60px;
      }
      
      .img_slider .img_slider_content{            
            margin-top  : 15px;
      }
    
      .nav-tabs {
            border-bottom: 1px solid #0056b7;
      }
      
      .nav-tabs > li > a{
            font-size: 13px !important; 
      }
      
  
    
      .nav-tabs > li.active > a,
      .nav-tabs > li.active > a:hover,
      .nav-tabs > li.active > a:focus {
            background-color      : #fff;
            border                : 1px solid #0056b7;
            border-bottom         : none;
            color                 : #0056b7;
            cursor                : default;
      }
      
      
      .page-banner {
            background-color: #f6f6f6;
            border-bottom: #e1e1e1;
      }
    
      .polaroid span.red{             
            color       :#c5d4e5;
            display     : block;
            font-size   : 13px;
            font-weight: bold;
            position    : relative;
            background  : #0056b7;
            opacity     : 0.7; 
            padding-top : 5px;
            padding-bottom: 5px;
           /* padding-right: 45px;*/
            text-align  : center;
            top         : -30px;
            z-index     : 10;
            
      }
      
      .polaroid span.red big{
            color:#fff;
            font-size: 18px;
            font-weight: bold;
      }
      
      .polaroid span.red i{
            color:#ffe100;
      }
      
      .class_s .polaroid span.red big{
            font-size: 14px;
      }
      
      .table_k_4c td:nth-child(1){ text-align: left; width:5% !important; }
      .table_k_4c td:nth-child(2){ text-align: left; width:35%;  }
      
      .table_k_4c th:nth-child(3),
      .table_k_4c th:nth-child(4),
      .table_k_4c td:nth-child(3),
      .table_k_4c td:nth-child(4){
      
            text-align: center;
            white-space: nowrap;
            width: 30%;
            
      }
      
      .table_k_3c td:nth-child(1){ text-align: left; width:15% !important; }
      .table_k_3c td:nth-child(2){ text-align: left; width:55%;  }
      .table_k_3c td:nth-child(3){ text-align: center; width:40%;  }
      
    
          
      .quote{
            background-color  : #f4f7f9;
            border-top        : 4px solid  #00264B;
            box-shadow        : 1px 1px 2px #dee2e5;            
            color             : #a8b4bf;
            font-family       : 'Rancho', cursive;
            font-size         : 1.5em;
            line-height       : 1.6em;            
            transition        : color 1s, box-shadow 0.5s;
      }
      
      .quote i.fa{
            font-size: 0.81em;
      }
      
      .quote span.author{
            display: block;
          /*  color:#475b6d;*/
            color             : #d7dfe5;
             font-size         : 0.81em;
            padding-left: 20px;            
            font-family: 'Handlee', cursive !important;
            font-weight: 100;
            transition        : color 1.5s;
            
      }
      
      .quote:hover{            
            box-shadow        : 2px 2px 4px #dee2e5;  
      }
      
      .quote:hover,
      .quote:hover span.author{
            color             : #00264B;
      }
      
      
      .round_rect{
            border-radius	:5%;
      }
      
      .round{
            border-radius	:50%;
      }
     
      .table_first_col{
          font-weight: bold !important;}

      .table_head_style{
          background-color: #ffffff !important;
          color: #00264B !important;
          border-top: hidden !important;
          text-align: center !important;
         }
          
  
      ui.class_k{	
            list-style        : none;         
      }
      
     
      ul.class_k li:before{
            color       : #505b66;
            font-family : FontAwesome;
            font-size   : 1em;
            display     : inline-block;
            margin-right: 12px;
            padding-left: 15px;
            padding-top : 15px;
      }
   
      ul.class_k li:before{
           content     : "\f10c"  !important; /* FontAwesome Unicode */
           color       : #53a01c;
           
      }
      
       
      
      .pointer{
        cursor: pointer;
      }
      
      
      a.more{
        color: #D25D1D;
      }
      
      .list-group-item-saffron {
        color: #D25D1D;
        background-color:#FFF3ED;
        border-top: 1px solid #E5B195;
        
      }
      a.list-group-item-saffron {
        color: #D25D1D;
      }
      a.list-group-item-saffron .list-group-item-heading {
        color: inherit;
      }
      a.list-group-item-saffron:hover,
      a.list-group-item-saffron:focus {
        color: #FFF3ED;
        background-color: #D25D1D;
      }
      a.list-group-item-saffron.active,
      a.list-group-item-saffron.active:hover,
      a.list-group-item-saffron.active:focus {
        color: #FFF3ED;
        background-color: #D25D1D;
        border-color:  #D25D1D;
      }
  
  
 
      a.gray{
          color:#727272;
          text-decoration: none;
      }
       
      a.gray:hover{
          color:#A0197C !important;
      }
      
      .img_outline{
		background-color:transparent;
	        border:1px solid #ffffff; 
	        }
												
      .img_outline:hover{
	        background-color:transparent;
                border: 1px solid #FDC801 !important;}
                
                
      /***************************icon**************************************************/
      .add_doc{
		background-image	  : url(../psg/images/icon/page_white_add.png);
      }
      
      .add_project{
                      background-image	  : url(../psg/images/icon/folder_add.png);
      }
      
      .add_review{
                      background-image	  : url(../psg/images/icon/comment_add.png);
      }
      
      .doc_and_review{
                      background-image	  : url(../psg/images/icon/page_white_zip.png);
      }
      
      .doc_view{
                      background-image	  : url(../psg/images/icon/page_green_text.png);
      }
      
      
      .review{
                      background-image	  : url(../psg/images/icon/comment.png);
      }
      
      .doc_review{
                      background-image	  : url(../psg/images/icon/page_red_text.png);
      }
      
      .group{
                      background-image	  : url(../psg/images/icon/group.png);
      }
      
      .project{
                      background-image	  : url(../psg/images/icon/folder_page_white.png);
      }
      
      .project_view{
                      background-image	  : url(../psg/images/icon/folder.png);
      }
      
      .project_user{
                      background-image	  : url(../psg/images/icon/folder.png);
      }
      
      .folder_edit{
                      background-image	  : url(../psg/images/icon/folder_edit.png);
      }
      
      .folder_go{
                      background-image	  : url(../psg/images/icon/folder_go.png);
      }
      .folder_palette{
                      background-image	  : url(../psg/images/icon/folder_palette.png);
      }
      .folder_picture{
                      background-image	  : url(../psg/images/icon/folder_picture.png);
      }
      .folder_wrench{
                      background-image	  : url(../psg/images/icon/folder_wrench.png);
      }
      
      .sun{
                      background-image	  : url(../psg/images/icon/weather_sun.png);
      }
      
      /*.phone{
                      background-image	  : url(../images/icon/phone.png);
      }*/
      
      
      .button,
      fieldset .button,	
      .box_filter .button{		
              /*background-color: #61941e;*/
              background-color: #285BBA;
              border          : 1px solid #A4B7DB   !important; 
              color		: #d0def6 !important;
             
      }
      
      
      fieldset .button:hover{		
            border            : 1px solid #0b388a    !important;
            color		: #ffffff !important;
            box-shadow	: 1px 1px 1px #DCE3EF;
      }
      
      .box_filter .button{
            border-color          :  #7296D8   !important;             
      }
      
      .button{
            border-color          :#7296D8    !important;               
      }
      
      .button:hover{
              border-color          :#285BBA  !important; 
              box-shadow	: 1px 1px 1px #DCE3EF;
              color		: #ffffff !important;
      }
      
      .a_block a{		
              
              border-color      : #285BBA !important; 
              color		: #285BBA !important;
            
      }
      
      .a_block a:hover{
              background-color : #285BBA !important;	
              box-shadow	: 2px 2px 3px #C5D0E5;
              color		: #f6f6f6 !important;
      }
      
      
    .polaroid span.primary{             
            color       :#f6ffef;
            display     : block;
            font-size   : 15px;
            font-weight: bold;
            position    : relative;
            background  : #53A01C;
            opacity     : 0.9; 
            padding-top : 5px;
            padding-bottom: 5px;
            padding-right: 45px;
            text-align  : center;
            top         : -30px;
            z-index     : 10;            
    }
    
    .polaroid span.primary big{
	  color:#fff;
	  font-size: 18px;
	  font-weight: bold;
    }
    
    .polaroid span.primary i{
	  color:#ffe100;
    }
	
     
    
      table.basic{
		/*     background-color	: #a8c5c9;*/
		border		: 1px solid #ececec;
		border-top	: none;
		
		  /*   border-left	: 1px solid #999999;
		     border-bottom      : 1px solid #999999;*/
		    
		     box-shadow		: 1px 1px 2px #eaeaea;	
      }
      
      table.basic thead{}
      
      table.basic thead th{
              background-color: #285BBA;
              border-bottom	: 2px solid #cacaca;
              color             : #FCFCFC !important;
              font-family	: sans-serif;
              font-size	        : 12px;
              font-weight	: bold;
              padding-top	: 7px;
              padding-bottom    : 7px;
              text-align	: center;
              vertical-align	: middle;              
      }
      
      table.basic thead th a{
              color             : #FCFCFC !important;
              cursor		: pointer;
              border-bottom	: 1px dotted #BCD7DB;
      }
      
      table.basic thead th a:hover{
              border-bottom	: 1px solid #BCD7DB !important;
      }
      
      table.basic tbody{
              border		: 1px solid #666666;
              border-top	: none;
      }
      
      table.basic tr td{
              border-left       : 1px solid #ececec;
              border-bottom     : 1px solid #ececec;
              border-right      : 1px solid #ececec;
              color		: #181818;
              font-size	        : 12px;
              font-family	: Verdana;
              line-height	: 1.5em; 
              padding-top	: 5px;
              padding-bottom    : 5px;
              padding		: 8px;
              vertical-align	: middle;
      }
      
      table.basic tr td a{		
              color           : #BA3776;		
              text-decoration : none;	
      }
      
      table.basic tr td.block a{
              background-color: #c00f67;
              color		: #FFF9FC;		
              font-size	: 11px;
              padding		: 3px;
              width		: 90%; 
      }
      
              
      table.basic tr td a.line{		
              cursor		: pointer;		
              font-weight     : 100 !important;
              border-bottom	: 1px dotted #dadada;
      }
      
      table.basic tr td a:hover,
      table.basic tr td a.line:hover{		
              border-bottom	: 1px solid #ff0099;
      }
      
      
      table.basic tr.row_odd  td{
              background-color:#F9F9F9;
      }
              
      table.basic tr.row_even  td{
              background-color:#ffffff;
      }
      
      table.basic tr td:nth-child(1){
              color 	 	: #4F4240;
              font-size	: 11px;
              font-weight	: bold;
              text-align	: right;
              padding-right   : 20px;
      }
      
      table.basic input,
      table.basic select{	
              color 	 	: #4F4240;
              font-size	: 11px;
              font-weight	: bold;		
      }
      
      table.basic ul{
              padding-left: 10px;
              list-style: none;
      }
      
      table.proj_print_view{
		border	  :  none;
		display   : block;
		
		/*width	  : 90% !important;*/
	}
	
      table.proj_print_view td{		
              /*border		: 1px solid #cacaca; */
              border-bottom   : 1px dotted #eaeaea;
              background-color: #ffffff;
              color           : #363636;
              display 	: inline-block;
              font-family     : Tahoma; 
              font-size       : 13px;
              margin-top      : 5px;
              margin-bottom   : 5px;
              padding-top     : 5px;
              padding-bottom  : 10px;
              width   	: 100%;
              
      }
      
      table.proj_print_view  h3{
          font-size: 14px;
      }
      
      
      table.proj_print_view #row_id_1_1{
              color:#242424;
              font-size      : 13px;
              font-weight    : bold;
              text-transform : uppercase; 
      }
      
      
      table.proj_print_view #row_id_1_6 .key_value{
              border-bottom: 1px solid #eaeaea;
              display  :block;
              width    :70%;
      }
      
      table.proj_print_view #row_id_1_6 .key_value div:nth-child(1){                
              display:inline-block;
              width:80%;
      }
      
      table.proj_print_view #row_id_1_6 .key_value div:nth-child(2){                
              display:inline-block;
              font-family: courier;
              font-size: 16px;
              text-align: right;
              width:20%;
      }
           