a {
    color: #0056b7;
}

.accent-color {
	color: #0056b7;
}

.accent-color-bg {
	background-color: #0056b7;
}

.top-bar a:hover {
	color: #0056b7;
}

.section-overlay {
	background-color: #0056b7;
}

.top-bar.color-bar {
	background-color: #0056b7;
}



.service-box .read-more {
	color: #0056b7;
}

a.main-button, input[type="submit"] {
	background-color: #0056b7;
}
.slicknav_btn {
  border-color: #0056b7;
}
.slicknav_btn:hover {
  background: #0056b7;
}
.slicknav_menu .slicknav_icon-bar {
  background: #0056b7;
}
.slicknav_nav a:hover,
.slicknav_nav .active {
  color: #0056b7;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
	color: #0056b7;
}

.dropdown > li:hover > a, .sup-dropdown li:hover > a {
	color: #0056b7;
}

.navbar-default .navbar-nav > li > a:after {
	background-color: #0056b7;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
	border-color: #0056b7;
}

.dropdown  li a.active, .sup-dropdown li a.active {
	color: #0056b7;
}

ul.breadcrumbs li a:hover {
    color: #0056b7;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {
	background-color: #0056b7;
}

.tp-caption.color-bg {
	background-color: #0056b7;
}

.team-member .member-socail a.mail:hover i {
	background-color: #0056b7;
}

.post-share a.mail:hover {
	background-color: #0056b7;
}

.progress .progress-bar.progress-bar-primary {
	background-color: #0056b7;
}

.latest-posts-classic .left-meta-post .post-type i {
	background-color: #0056b7;
}

.latest-posts-classic .post-title a:hover {
	color: #0056b7;
}

.latest-posts-classic .read-more {
	color: #0056b7;
}

.panel-title a {
	color: #0056b7;
}

.panel-title a:hover {
	color: #0056b7;
}

.milestone-block .milestone-icon {
	background-color: #0056b7;
}

.milestone-block .milestone-icon:after {
	background-color: #0056b7;
}

.milestone-block .milestone-number {
	color: #0056b7;
}

.pricing-tables .pricing-table.highlight-plan .plan-name h3 {
	//color: #0056b7;
}

.pricing-tables .pricing-table.highlight-plan .plan-signup {
    background-color: #0056b7;
}

.pricing-tables .pricing-table.highlight-plan .plan-name {
	background-color: #0056b7;
}

.btn-system {
	background-color: #0056b7;
}

.btn-system.border-btn {
	border-color: #0056b7;
	color: #0056b7;
}

.btn-system.border-btn:hover {
	background-color: #0056b7;
}

.btn-system.border-btn.btn-wite:hover {
	color: #0056b7;
}

.btn-system.btn-wite{
	color: #0056b7;
}

ul.icons-list li i {
	color: #0056b7;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background-color: #0056b7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	color: #0056b7;
}

.icon-small {
	text-shadow: 0 0 0 #0056b7;
}

.icon-small:hover, .service-box:hover .icon-small {
	color: #0056b7;
}
.icon-medium {
	text-shadow: 0 0 0 #0056b7;
}

.icon-medium:hover, .service-box:hover .icon-medium {
	color: #0056b7;
}

.icon-large {
	text-shadow: 0 0 0 #0056b7;
}

.icon-large:hover, .service-box:hover .icon-large {
	color: #0056b7;
}

.icon-effect-1 {
	box-shadow: 0 0 0 3px #0056b7;
	-o-box-shadow: 0 0 0 3px #0056b7;
	-moz-box-shadow: 0 0 0 3px #0056b7;
  	-webkit-box-shadow: 0 0 0 3px #0056b7;
}

.icon-effect-1:after {
	background-color: #0056b7;
}

.icon-effect-1:hover, .service-box:hover .icon-effect-1 {
	color: #0056b7;
}

.icon-effect-2 {
	color: #0056b7;
	box-shadow: 0 0 0 3px #0056b7;
	-o-box-shadow: 0 0 0 3px #0056b7;
	-moz-box-shadow: 0 0 0 3px #0056b7;
  	-webkit-box-shadow: 0 0 0 3px #0056b7;
}

.icon-effect-2:after {
	background-color: #0056b7;
}

.icon-effect-3 {
	color: #0056b7;
	box-shadow: 0 0 0 3px #0056b7;
	-o-box-shadow: 0 0 0 3px #0056b7;
	-moz-box-shadow: 0 0 0 3px #0056b7;
  	-webkit-box-shadow: 0 0 0 3px #0056b7;
}

.icon-effect-4 {
	color: #0056b7;
	box-shadow: 0 0 0 3px #0056b7;
	-o-box-shadow: 0 0 0 3px #0056b7;
	-moz-box-shadow: 0 0 0 3px #0056b7;
  	-webkit-box-shadow: 0 0 0 3px #0056b7;
}

.icon-effect-5 {
	color: #0056b7;
	box-shadow: 0 0 0 3px #0056b7;
	-o-box-shadow: 0 0 0 3px #0056b7;
	-moz-box-shadow: 0 0 0 3px #0056b7;
  	-webkit-box-shadow: 0 0 0 3px #0056b7;
}

.icon-effect-6 {
	color: #0056b7;
	box-shadow: 0 0 0 3px #0056b7;
	-o-box-shadow: 0 0 0 3px #0056b7;
	-moz-box-shadow: 0 0 0 3px #0056b7;
  	-webkit-box-shadow: 0 0 0 3px #0056b7;
}

.team-member .member-photo .member-name span {
	background-color: #0056b7;
}

.classic-title span {
	border-bottom-color: #0056b7;
}

.portfolio-filter li a:hover {
	color: #0056b7;
}

.portfolio-filter li a.selected {
	border-color: #0056b7;
	background-color: #0056b7;
}

.portfolio-item:hover .portfolio-details h4 {
	color: #0056b7;
}

.project-content h4 span {
	border-bottom-color: #0056b7;
}

.recent-projects h4.title span {
	border-bottom-color: #0056b7;
}

ul.post-meta li a:hover {
	color: #0056b7;
}

#pagination span.current {
	border-color: #0056b7;
	background-color: #0056b7;
}

#pagination a:hover {
	color: #0056b7;
}

.post-tags-list a:hover {
	background-color: #0056b7;
}

.post-share a.mail {
	background-color: #0056b7;
}

.sidebar a:hover {
	color: #0056b7;
}

.widget-search .search-btn {
	background-color: #0056b7;
}

.sidebar .tagcloud a:hover {
    background-color: #0056b7;
}

.back-to-top:hover i {
    background-color: #0056b7;
}

.touch-slider .owl-controls.clickable .owl-buttons div:hover {
	background-color: #0056b7;
}

.touch-carousel .owl-controls.clickable .owl-buttons div:hover {
	background-color: #0056b7;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div {
	background-color: #0056b7;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover i {
	color: #0056b7;
}


#portfolio-list li .portfolio-item-content {
    background: rgba(148, 197, 35, 0.9);
}

.services-3-icon i {
    background-color: #0056b7;
}

.services-2-icon i {
    background-color: #0056b7;
}

#main-slide .animated2 strong {
    color: #0056b7;
}
#main-slide .animated4 strong {
    color: #0056b7;
}
#main-slide .animated7 strong {
    color: #0056b7;
}

#main-slide .carousel-control i:hover{
	background-color: #0056b7;
}
.slider.btn {
    background-color: #0056b7;
}

#main-slide .carousel-indicators .active {
    background-color: #0056b7;
}


.counter-item i {
    color: #0056b7;
}

.timer {
    color: #0056b7;
}

.progress-bar {
    background-color: #0056b7;
}

.team-member.modern .member-photo:after {
    background-color: #0056b7;
}


.twitter-widget a {
	color: #0056b7;
}

.dot1, .dot2 {
    background-color: #0056b7;
}

/* Custom*/

    .a_block a{
	border-color  : #285BBA !important; 
        color	      : #285BBA !important;
            
    }
      
    .a_block a:hover{
	background-color : #285BBA !important;	
	box-shadow	 : 2px 2px 3px #C5D0E5;
	color		 : #f6f6f6 !important;
    }
    
    .big_title h1{
	color: #285BBA !important;
    }

    .button,
    fieldset .button,	
    .box_filter .button{		
              /*background-color: #61941e;*/
              background-color: #285BBA;
              border          : 1px solid #A4B7DB   !important; 
              color		: #d0def6 !important;
             
      }
      
      
    .clr_pri{color : #285BBA !important; }
     
    .clr_sec{color : #454545 !important;           }  

    .marquee_area{
	background-color: #285BBA  !important;
	color           : #fcfdff;
    }
    
    .marquee{              
	overflow       : hidden;
	padding-left   : 25px;
	padding-top    : 5px;
	padding-bottom : 5px;
    }
    
    .marquee a{
	color          : #edf2ff;
	font-size      : 13px;
	font-weight    : bold;
	padding-left   : 20px; 
    }
    
    .marquee a:hover{
	color          : #fcfcfc;
	text-decoration: none; 
    }
    
    .navbar{
	/*background-color: rgba(148,197,35,0.9);*/
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	border-bottom: 1px solid #f1f1f1;
    }
    
    .navbar-default .navbar-nav > li > a {

        padding: 20px 10px 20px 10px !important;
   
    }
    
    
    .navbar-default .navbar-nav > li > a:hover {
	color	     : #285BBA !important;
        border-bottom: none !important;   
    }
    
    .navbar-default .navbar-nav > li > a:hover i{
	color : #454545 !important;
    }
    
    .navbar-brand img{
	display:block !important;
	margin-top:-6px !important;
	width:40px !important;
    }
    
    footer{	
	padding-top: 0px;
    }
    
    .frame_gray_1{
	border : 1px solid #dadada;
    }
      
    .panel-title{
	  
	    text-align: left !important;
	    
    }
  
    
    .polaroid span.primary{
	    
            color       :#f6ffef;
            display     : block;
            font-size   : 15px;
            font-weight: bold;
            position    : relative;
            background  : #0056b7;
            opacity     : 0.9; 
            padding-top : 5px;
            padding-bottom: 5px;
            padding-right: 45px;
            text-align  : center;
            top         : -30px;
            z-index     : 10;            
    }
    
    .polaroid span.primary big{
	  color:#fff;
	  font-size: 18px;
	  font-weight: bold;
    }
    
    .polaroid span.primary i{
	  color:#ffe100;
    }
    
      table.basic{
		/*     background-color	: #a8c5c9;*/
		border		: 1px solid #ececec;
		border-top	: none;
		
		  /*   border-left	: 1px solid #999999;
		     border-bottom      : 1px solid #999999;*/
		    
		     box-shadow		: 1px 1px 2px #eaeaea;	
      }
      
      table.basic thead{}
      
      table.basic thead th{
              background-color: #285BBA;
              border-bottom	: 2px solid #cacaca;
              color             : #FCFCFC !important;
              font-family	: sans-serif;
              font-size	        : 12px;
              font-weight	: bold;
              padding-top	: 7px;
              padding-bottom    : 7px;
              text-align	: center;
              vertical-align	: middle;              
      }
      
      table.basic thead th a{
              color             : #FCFCFC !important;
              cursor		: pointer;
              border-bottom	: 1px dotted #BCD7DB;
      }
      
      table.basic thead th a:hover{
              border-bottom	: 1px solid #BCD7DB !important;
      }
      
      table.basic tbody{
              border		: 1px solid #666666;
              border-top	: none;
      }
      
      table.basic tr td{
              border-left       : 1px solid #ececec;
              border-bottom     : 1px solid #ececec;
              border-right      : 1px solid #ececec;
              color		: #181818;
              font-size	        : 12px;
              font-family	: Verdana;
              line-height	: 1.5em; 
              padding-top	: 5px;
              padding-bottom    : 5px;
              padding		: 8px;
              vertical-align	: middle;
      }
      
      table.basic tr td a{		
              color           : #BA3776;		
              text-decoration : none;	
      }
      
      table.basic tr td.block a{
              background-color: #c00f67;
              color		: #FFF9FC;		
              font-size	: 11px;
              padding		: 3px;
              width		: 90%; 
      }
      
              
      table.basic tr td a.line{		
              cursor		: pointer;		
              font-weight     : 100 !important;
              border-bottom	: 1px dotted #dadada;
      }
      
      table.basic tr td a:hover,
      table.basic tr td a.line:hover{		
              border-bottom	: 1px solid #ff0099;
      }
      
      
      table.basic tr.row_odd  td{
              background-color:#F9F9F9;
      }
              
      table.basic tr.row_even  td{
              background-color:#ffffff;
      }
      
      table.basic tr td:nth-child(1){
              color 	 	: #4F4240;
              font-size	: 11px;
              font-weight	: bold;
              text-align	: right;
              padding-right   : 20px;
      }
      
      table.basic input,
      table.basic select{	
              color 	 	: #4F4240;
              font-size	: 11px;
              font-weight	: bold;		
      }
      
      table.basic ul{
              padding-left: 10px;
              list-style: none;
      }
      
      
      ul.class_k li:before{
	  color       :  #285BBA;
	  font-family : FontAwesome;
	  font-size   : 1em;
	  display     : inline-block;
	  margin-right: 12px;
	  padding-left: 15px;
	  padding-top : 15px;
    }
 
    ul.class_k li:before{
	 content     : "\f10c"  !important; /* FontAwesome Unicode */
	 color       :  #285BBA;;
	 
    }